<%- include ../partials/header.ejs %>

    <!--main-container-part-->
    <style type="text/css">
        .error {
            color: red;
        }

        #checkboxs .table {
            width: 50%;
        }

        #checkboxs #permission-error {
            position: absolute;
            right: 70px;
        }
        #tbl_masterrisk_id thead tr th{
            font-size: 13px !important;
        }
    </style>
    <script src="<%= domain_url %>js/jquery.validate.min.js"></script>

    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <%- locals.flash %>

                    <form class="form-horizontal" id="masterrisk_id" action="" method="post" enctype="multipart/form-data">
                    <div class="control-group" style="float: right">
                        <label class="control-label">
                            <span class="error">* </span>Risk Type :</label>
                        <div class="controls">
                            <select name="common_risktype" id="common_risktype">
                                <option value=""></option>
                                <% 
                                for (var i=0; i< master_risktypes.length; i++) { 
                                    var rangerisks = master_risktypes[i];
                                %>
                                    <option value="<%=rangerisks[0] %>">
                                        <%=rangerisks[1] %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <h3>&nbsp;Master Risk </h3>

                    <div class="widget-box">
                        <div class="widget-title"> &nbsp;&nbsp;
                            <span class="icon">&nbsp;&nbsp;
                                <i class="icon-align-justify"></i> &nbsp;</span>
                            <h5>Master Risk Score</h5>
                        </div>

                        <div>
                            <div class="control-group" id="div_masterrisk_id" style="overflow: auto; height: 450px; background: #fff;">
                                <table id="tbl_masterrisk_id" class="table table-striped table-bordered table-report-list" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Risk Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbltbody_masterrisk_id">
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success pull-right">Save</button> &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>masterrisk'">Cancel</button>
                            </div>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <!--end-main-container-part-->

    <script>

        $(document).ready(function () {

            if($( ".alert.flash" ).text()!=""){
                go_fntoast($( ".alert.flash" ).text());
            }

            let load_row_concater = "<tr>\
                                <td colspan='2' style='text-align:center;' > &nbsp; &nbsp; Choose Risk type </td>\
                            </tr>";
            $("#tbltbody_masterrisk_id").html(load_row_concater); 
            $("#div_masterrisk_id").css("height", "100px");

            $("#common_risktype").select2({
                width: 'resolve',
                placeholder: "Select a Risk",
                allowClear: true
            });

            $("#common_risktype").change(function(){

                elementOverlay("div_masterrisk_id", true);

                var master_formdata = new FormData();
                master_formdata.append("risk_types", this.value);

                $.ajax({
                    "url": '<%= domain_url %>masterrisk/commonrisk',
                    "type": 'POST',
                    "processData": false,
                    "contentType": false,
                    "mimeType": "multipart/form-data",
                    "data": master_formdata,
                    "success": function(response_data) {

                        let response = JSON.parse(response_data);

                        if(response.success) {

                            var looper = response.data;
                            var looper_master = response.data_master_riskscore;

                            if(looper.length > 0){

                                let risk_fields = response.risk_fields;

                                var row_concater = "";
                                looper.forEach(function(data) {

                                    let fld_label = risk_fields['fld_label'];
                                    let fld_score = risk_fields['fld_score'];

                                    let actualscore_obj = looper_master.filter(filtered_data => filtered_data.risk_id == data._id );

                                    console.log(actualscore_obj);

                                    let risk_score_value = (actualscore_obj.length > 0) ? (actualscore_obj[0].risk_point !== undefined) ? actualscore_obj[0].risk_point : 0  : 0;
                                    let fld_score_input = '<input type="number" maxlength="1" minlength="1" class="span8" placeholder="Risk Score" name="'+data._id+'" id="'+data._id+'" value="'+risk_score_value+'" />';
                                    // let fld_score_input = '<input type="text" class="span8" placeholder="Risk Score" name="'+data._id+'" id="'+data._id+'" value="'+data[fld_score]+'" />';

                                    row_concater += "<tr>\
                                                        <td> &nbsp; &nbsp; "+data[fld_label]+"</td>\
                                                        <td>"+fld_score_input+"</td>\
                                                    </tr>";
                                });
                                $(tbltbody_masterrisk_id).html("");
                                elementOverlay("div_masterrisk_id", false);
                                
                                $(tbltbody_masterrisk_id).html(row_concater);                               
                                $("#div_masterrisk_id").css("height", "450px");
                            }
                        } else {
                            console.log("Something went wrong, Kindly try again!")
                        }
                        return; 
                    },
                    error: function(xhr, result, errorThrown){
                        alert("Somthing went wrong kindly try again.");
                    }
                });
            });


            $("#masterrisk_id").submit(function(e) {
                console.log("masterrisk submit");
                e.preventDefault();
            }).validate({
                ignore: [],   
                rules: {
                    common_risktype: {
                        required: true,
                    }
                },
                messages:{
                    common_risktype : "Risk Type is required"
                }, 
                submitHandler: function(form, e) { 

                    console.log("masterrisk submit2");
                    e.preventDefault();
                    var table_masterrisk_id = $('#masterrisk_id').serializeArray();

                    var go_finalformdata = new FormData();
                    go_finalformdata.append("common_risktype", $('#common_risktype').val());
                    go_finalformdata.append("common_riskdata", JSON.stringify(table_masterrisk_id));
                    Overlay(true);

                    $.ajax({
                        url: '<%= domain_url %>masterrisk/update_commonrisk',
                        type: 'POST',
                        contentType:false,
                        processData: false,
                        data: go_finalformdata,
                        success: function(response) {

                            Overlay(false);
                            if(response.status) {
                                window.location.href="<%= domain_url %>masterrisk";
                            } else {
                                window.location.href="<%= domain_url %>masterrisk";
                            }
                            return; 
                        },
                        error: function(xhr, result, errorThrown){
                            alert("Somthing went wrong kindly try again.");
                        }
                    });
                }
            });
        });
    </script>


<%- include ../partials/footer.ejs %>