<%- include ../partials/admin/header.ejs %>
<script src="<%= domain_url %>js/bootbox.min.js"></script>

<!--main-container-part-->
<div id="content">
    <div class="container-fluid admin-wg1" >
    <div class="row-fluid">

        <%- locals.flash %>
        
        <div class="span12">
        <span class="pull-right mg-b-5">
            <a href="<%= domain_url %>module/add" >
                <button type="button" class="btn btn-success">Add</button>
            </a>
        </span>
        <div class="widget-box">
            <div class="widget-title" >
            <h5 style="display: block;width: 90%;">MODULE LIST</h5>
            </div>
            <div class="widget-content">
            <div class="wg2">	
            <table id="tbl_module_list" class="table table-striped table-bordered table-report-list"  cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>LABEL</th>
                    <th>FIELD</th>
                    <th>PARENT MODULE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.length > 0) { %>
                    <% data.forEach(function(looper) { %>
                    <tr>
                        <td><%= looper.mdl_label %></td>
                        <td><%= looper.mdl_field %></td>
                        <td><%= looper.mdl_root_parent_name %></td>
                        <td>
                            <form id="deleteform" action="<%= domain_url %>module/delete/<%= looper.id %>" method="post">
                                <a href="<%= domain_url %>module/edit/<%= looper.id %>" ><i class="icon-edit" style="font-size:18px;color:green" ></i></a>
                                <!-- <button type="button" id="<%= looper.id %>" class="btn btn-danger icon-remove rcd_delete" style="font-size:18px; background:unset;border:unset; color:red;"></button>  -->
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                <% } %>
            </tbody>
            </table>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>        
</div>

<div id="myAlert" class="modal hide in">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button">×</button>
      <h3>Alert modal</h3>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" id="confirmbtn" href="#">Confirm</a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
</div>

<script>

$("#confirmbtn").click(function(){
    $("#deleteform").submit();
})

$(document).ready(function() {

    if($( ".alert.flash" ).text()!=""){
        go_fntoast($( ".alert.flash" ).text());
    }

    var tbl_module_list;

    elementOverlay("tbl_module_list", true);
    tbl_module_list = $('#tbl_module_list').DataTable({
        "processing": true,
        "searching": true, 
        "paging": true,
        "ordering":true,
        "info":true,
        "destroy": true,
    });    
    elementOverlay("tbl_module_list", false);
});


$('.rcd_delete').click(function(){

var el = this;
var id = this.id;    

bootbox.confirm("Are you sure want to delete?", function(result) {

    if(result){

        $.ajax({
            url: '<%= domain_url %>module/delete/'+id,
            type: 'POST',
            success: function(response){

                if(response.status) {
                    // $(el).closest('tr').css('background','tomato');
                    // $(el).closest('tr').fadeOut(800, function(){ 
                    //     $(this).remove();
                    // });
                    window.location.reload();
                } else {
                    console.log("Somthing went wrong, Kindly check again");
                    // window.reload();
                    window.location.reload();
                }
            }
        });
    } else {
        console.log("Delete action "+result)
    }

});
});

</script>
</div>
<!--end-main-container-part-->

<%- include ../partials/admin/footer.ejs %>