<%- include ../partials/admin/header.ejs %>

<!--main-container-part-->
<style type="text/css">
    .error{
        color:red;
    }
    .m_root-error{
        position: absolute;
    }
</style>

<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<% 
    if(data.length > 0) {
        var userdata = data[0]; 

        var mdl_id = userdata.id;
        var mdl_label = userdata.mdl_label;
        var mdl_field = userdata.mdl_field;
        var md1_root_url = userdata.mdl_root_url;
        var md1_root_parentid = userdata.mdl_root_parent_id;
        var permissions=userdata.permissions;
        var currentpermission=userdata.currentpermission;
    } else {
        var mdl_id="";
        var mdl_label="";
        var mdl_field="";
        var md1_root_url="";
        var md1_root_parentid = "";
        var permissions=[];
        var currentpermission=[];
    }
%>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Module-info</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="post" class="form-horizontal" id="mdl_editid" enctype="multipart/form-data"  >
                <div class="control-group">
                    <label class="control-label">Label :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Label" name="m_label" id="m_label" value="<%= mdl_label %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Field :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Field" name="m_field" id="m_field" value="<%= mdl_field %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Root Url :</label>
                    <div id="checkbox" class="controls">
                    <div style="display: inline-block; width: 100%;">
                        <% var root_checked1 = (md1_root_url==1 || md1_root_url=="1") ? "checked" : ""; %>
                        <input class="m_root" style="margin-left: 5px;" type="radio" name="m_root" id="m_root1" value="1" <%=root_checked1%> /> Yes
                        <% var root_checked2 = (md1_root_url==0 || md1_root_url=="0") ? "checked" : ""; %>
                        <input class="m_root" style="margin-left: 5px;"  type="radio" name="m_root" id="m_root2" value="0" <%=root_checked2%> /> No &nbsp;&nbsp;
                    </div>    
                    </div>
                </div>
                <div class="control-group" id="drpdwn">
                <label class="control-label">Parent Root :</label>
                <div class="controls">
                    <select name="m_parentroot_id" id="m_parentroot_id">
                        <option value=""></option>
                        <% if (modules.length > 0) { %>
                        <% for (var i=0; i < modules.length; i++) { %>
                            <% var rootparent_checked = ((modules[i]._id).equals(md1_root_parentid)) ? "selected"  : "" ; %>
                            <option value="<%=modules[i]._id %>" <%=rootparent_checked %> ><%=modules[i].label %></option>
                        <% } %>
                        <% } %>                            
                    </select> 
                    </div>
                </div>    
                
                <div class="control-group">
                    <label class="control-label"><span class="error">* </span>Permissions :</label>
                    <div id="checkboxs" class="controls" style="height:150px;overflow:auto;">
                        <table border="0" class="table">
                        <% 
                        var permissions_divider_count  = 1;
                        for (var i=0; i<permissions.length;i++) { 
                            var checked = ( currentpermission.includes(permissions[i].label) ) ? "checked" : "";
                            if(permissions_divider_count==1){
                        %><tr><% } %>
                            <td>
                                <label  style="float: left; padding-left: 5px;" for="permissions">
                                <input style="float: left;" type="checkbox" id="permission" name="permission"   <%=checked %> value="<%=permissions[i].label %>">
                                &nbsp;&nbsp; <span><%=permissions[i].label %></span></label>
                                </span>
                            </td>
                        <% permissions_divider_count++; if(permissions_divider_count==3){ %>
                            </tr>
                        <% permissions_divider_count=1; } } %>
                        </table>                        
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" id="mdl_savebtn"  name="mdl_savebtn" class="btn btn-success pull-right">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>module'" >Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>
    $(document).ready(function() { 	


   if($("#m_root1").is(":checked")) {
    $('#drpdwn').hide();
   }else if($("#m_root2").is(":checked")){
    $('#drpdwn').show();
    }


    $("#m_parentroot_id").select2({
        width: '230px',
        placeholder: "Select a Parent Module",
        allowClear: true
    });

    $.validator.addMethod("alphabets", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
    });

    var m_rooter;
    $(".m_root").change(function(){
        m_rooter = (this.value==1) ? false : true;
    });
    if(m_rooter === undefined){
        m_rooter = ("<%=md1_root_url%>"=="1") ? false : true;
    }

    $("#mdl_editid").submit(function(e) {
        e.preventDefault();
        console.log("inside");
    }).validate({
        ignore: [],   
        rules: {
            m_label: {
                required: true,
                remote: {
                    url: "<%= domain_url %>module/chk_label_exists?u_userid=<%= mdl_id %>",
                    type: "GET"
                },
            },
            m_field: {
                required: true,
                alphabets:true, 
                remote: {
                    url: "<%= domain_url %>module/chk_field_exists?u_userid=<%= mdl_id %>",
                    type: "GET"
                },                
            },
            m_root : {
                required : true
            },            
            m_parentroot_id:{
                required: {
                    depends:function() {
                        return m_rooter;
                    }
                },
            }
        },
        messages:{
            m_label : {
                required : "Label is required",
                alphabets:"Field requires only alphabets",
                remote : "Module labels is already exists"
            },
            m_field : {
                required : "Field is required",
                remote :  "Module field is already exists"
            },
            m_parentroot_id:{
                required : "Parent Module is required",
            }            
        }, 
        submitHandler: function(form, e) { 

            e.preventDefault();
            var go_finalformdata = new FormData(form);
            Overlay(true);

            $.ajax({                
                url: '<%= domain_url %>module/update/<%= mdl_id %>',
                type: 'POST',
                contentType:false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {
                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>module";
                    } else {
                        window.location.href="<%= domain_url %>module";
                    }
                    return;                        
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });
});
</script>


<%- include ../partials/admin/footer.ejs %>
