<%- include ../partials/header.ejs %>


<script src="<%= domain_url %>js/bootbox.min.js"></script>
<!--main-container-part-->
<div id="content">
        <div class="container-fluid admin-wg1" >
        <div class="row-fluid">
            <div class="span12">
             
            <%- locals.flash %>            

            <div class="widget-box">
                <div class="widget-title" >
                <h5 style="display: block;width: 90%;">MODULE PERMISSION LIST</h5>
                </div>
                <div class="widget-content">
                <div class="wg2">	
                <table id="tbl_users_list" class="table table-striped table-bordered table-report-list"  cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<operms.length;i++) { %>
                        <tr>
                        <td><%= operms[i].label %></a></td>
                        <td>
                            <a href="<%= domain_url %>objectPermissions/<%= operms[i].current_action %>/get/<%= operms[i].id %>" ><i class="icon-edit" style="font-size:18px;color:green" ></i></a>
                        </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>        
    </div>
    
    <script>
    
    $(document).ready(function() {
    
        if($( ".alert.flash" ).text()!=""){
            go_fntoast($( ".alert.flash" ).text());
        }
        var tbl_users_list;

        elementOverlay("tbl_users_list", true);
        tbl_users_list = $('#tbl_users_list').DataTable({
            "processing": true,
            "searching": true, 
            "paging": true,
            "ordering":true,
            "info":true,
            "destroy": true,
        });    
        elementOverlay("tbl_users_list", false);
    });

    $('.obj_delete').click(function(){

        var el = this;
        var id = this.id;    

        bootbox.confirm("Are you sure want to delete?", function(result) {

            if(result){

                $.ajax({
                    url: '<%= domain_url %>objectPermissions/delete/'+id,
                    type: 'POST',
                    success: function(response){

                        if(response.status) {
                            // $(el).closest('tr').css('background','tomato');
                            // $(el).closest('tr').fadeOut(800, function(){ 
                            //     $(this).remove();
                            // });
                            window.location.reload();
                           
                        } else {
                            console.log("Somthing went wrong, Kindly check again");
                            window.location.reload();
                        }
                    }
                });
            } else {
                console.log("Delete action "+result)
            }
        });
    });
    
    </script>
    </div>
    <!--end-main-container-part-->
    
    <%- include ../partials/footer.ejs %>