<%- include ../partials/header.ejs %>

<!--main-container-part-->
<style type="text/css">
    .error{
        color:red;
    }
    #checkboxs .table{
        width:50%;
    }
    #checkboxs #permission-error{
        position: absolute;
        right: 70px;
    }
</style>
<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
                <!-- <div class="control-group" style="float: right">
                        <label class="control-label"><span class="error">* </span>Roles :</label>
                        <div class="controls">
                            <select name="role" id="role">
                                <option value=""></option>
                                <% for (var i=0; i<users.role.length;i++) { %>
                                    <option value="<%=users.role[i].field %>" ><%=users.role[i].label %></option>
                                <% } %>
                          </select>
                        </div>
                    </div> -->

            <h3>&nbsp;Role : <%=users.role.label%></h3>
                    
            <div class="widget-box">
            <div class="widget-title"> &nbsp;&nbsp; <span class="icon">&nbsp;&nbsp; <i class="icon-align-justify"></i> &nbsp;</span>
                <h5>Module Permisions Setup</h5>
            </div>
            
            <div>
                <form  class="form-horizontal" id="useradd_id" action="" method="post" enctype="multipart/form-data" >
                   
                   <div class="control-group" style="overflow: auto; height: 450px; background: #fff;">
                    <table id="tbl_module_list" class="table table-striped table-bordered table-report-list" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                        <th>Id</th>
                        <th style="display: none">parentmoduleid</th>
                        <th style="display: none">childmoduleid</th>
                        <th>MODULE</th>
                        <% users.header.forEach(function(looper) { %>
                        <th><%=looper.label%></th>
                        <% })%>
                        </tr>
                        </thead>
                        <tbody>
                      
                          <% for(var i=0;i<users.moduledata.length;i++) { %>
                                
                            <tr>
                          <td> <input name="chc1" type="checkbox" class="chck1"  /></td>
                          <td style="display: none"><%=users.moduledata[i].parentmoduleid%></td>
                          <td style="display: none"><%=users.moduledata[i].childmoduleid%></td>
                          <td ><%=users.moduledata[i].childmodule%></td>
                          



  
                          <% users.header.forEach(function(head) { %> 
                            
                            <% if(users.moduledata[i].permissions.length>0) { %>                       
                              
                            
                                <%

                                var found = users.moduledata[i].permissions.findIndex(function(element) {
                                    return element.label == head.label
                                    
                                });

                                %>

                                <script>
                                        console.log("SS : <%= users.moduledata[i].childmodule %>");
                                    </script>
                                <%
                                if(found>=0){

                                    var found_checker=-1

                                    
                                    if(users.moduledata[i].selected_permissions !==null) {


                                         found_checker = users.moduledata[i].selected_permissions.permissions.findIndex(function(element) {

                                            %>
                                            <script>
                                                console.log("<%=  element.toString() %>");
                                            </script>
                                            <%

                                            return element.toString() == (head._id).toString();
                                            
                                        });
    
                                    } else {
                                         found_checker = -1;
                                    }
                                    var checker = (found_checker >= 0) ? "checked" : "";
                                    var value = (found_checker >= 0) ? "true" : "false";
                                    

                                %>

                                    <td> <input name="chc2"  class="chc2" type="checkbox" <%= checker %> value="<%=value%>"/></td>
                           
                              <%  }else{  %>
                                    <td></td>
                           
                                
                            <% } %> 

                            
                            <% } else { %> 

                            <% } %> 
                            
                            <% }); %>
                            
                         </tr>
                          <%}%>

                      
                        </tbody>
                        </table>
                    </div>

                <div class="form-actions" >
                    <button type="submit" class="btn btn-success pull-right">Save</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>objectPermissions'">Cancel</button>   
                              
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->



<script>

$(".chc2").change(function(){
    if($(this).prop("checked") == true){
        $(this).val(true);
    } else {
        $(this).val(false);
    }
});

$(".chck1").change(function(){
    if($(this).prop("checked") == true){
        $(this).closest('tr').find('[type=checkbox]').prop('checked', true);
        $(this).closest('tr').find('[type=checkbox]').prop('value', true);
    }else{
        $(this).closest('tr').find('[type=checkbox]').prop('checked', false);
        $(this).closest('tr').find('[type=checkbox]').prop('value', false);
    }
});

$(document).ready(function(){

    $("#role").select2({
        width: 'resolve',
        placeholder: "Select a Role",
        allowClear: true
    });  
    
    var module_tag = true;

    $("#useradd_id").submit(function(e) {
        console.log("user submit");
        e.preventDefault();
    }).validate({
        ignore: [],   
        rules: {
            role: {
                required: true,
            }
        },
        messages:{
            role : "Role Name is required"
        }, 
    submitHandler: function(form, e) { 

            console.log("user submit2");
            e.preventDefault();
        
            var form = $('#useradd_id')[0];
            var go_finalformdata = new FormData(form);

            var table =  $('#tbl_module_list tbody tr').map(function (idxRow, ele) {

                var retVal = {id: ++idxRow};

                var $td = $(ele).find('td').map(function (idxCell, ele) {
                    var input = $(ele).find(':input');

                    if (input.length == 1) {
                        var attr = $('#tbl_module_list thead tr th').eq(idxCell).text();
                        retVal[attr] = input.val();
                    } else {
                        var attr = $('#tbl_module_list  tr th').eq(idxCell).text();
                        retVal[attr] = $(ele).text();
                    }
                });
                return retVal;
            }).get();
            var roles = "<%=roleid%>";
            go_finalformdata.append("role", roles);

            // go_finalformdata.append("table", JSON.stringify(table));
            go_finalformdata.append("table", JSON.stringify(table));
            Overlay(true);

            $.ajax({
                url: '<%= domain_url %>objectPermissions/update',
                type: 'POST',
                contentType:false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {

                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>objectPermissions";
                    } else {
                        window.location.href="<%= domain_url %>objectPermissions";
                    }
                    return; 
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });
    
    

});
</script>


<%- include ../partials/footer.ejs %>
