<%- include ../partials/admin/header.ejs %>

<!--main-container-part-->

<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Update Permissions</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="" method="post" class="form-horizontal" id="usersedit_id"  >
                <div class="control-group">
                    <label class="control-label">Label :</label>
                    <div class="controls">
                            <input class="span5" type="text" name="label" id="label" value="<%= data.label%>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Field :</label>
                    <div class="controls">
                            <input class="span5" type="text" name="field" id="field" value="<%= data.field%>"  />
                    </div>
                </div>
               
                <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>permissions'" >Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>

$(document).ready(function() { 	

    $.validator.addMethod("alphabets", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
    });

    $("#usersedit_id").submit(function(e) {
        e.preventDefault();
        console.log("inside");
    }).validate({
        ignore: [],   
        rules: {
            label: {
                required: true,
                remote: {
                    url: "<%= domain_url %>permissions/chk_label_exists?id=<%= data._id %>",
                    type: "GET"
                }                
            },
            field: {
                required: true,
                alphabets:true,
                remote: {
                    url: "<%= domain_url %>permissions/chk_field_exists?id=<%= data._id %>",
                    type: "GET"
                }            
            },
        },
        messages:{
            label : {
                required : "Label is required",
                remote : "Permissions Label already exists" 
            },
            field : {
                required : "Field is required",
                alphabets: "Field requires only alphabets",
                remote : "Permissions field already exists" 
            },
        }, 
        submitHandler: function(form, e) { 

            e.preventDefault();
            var go_finalformdata = new FormData(form);
            Overlay(true);

            $.ajax({
                url: '<%= domain_url %>permissions/update?id=<%= data._id %>',
                type: 'POST',
                contentType:false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {
                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>permissions";
                    } else {
                        window.location.href="<%= domain_url %>permissions";
                    }
                    return;                        
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });

});
</script>


<%- include ../partials/admin/footer.ejs %>
