<%- include ../partials/admin/header.ejs %>
<!--main-container-part-->
<div id="content">
        <div class="container-fluid admin-wg1" >
        <div class="row-fluid">
            <div class="span12">

            <%- locals.flash %>            
                
            <span class="pull-right mg-b-5">
                <a href="<%= domain_url %>permissions/create/get" >
                    <button type="button" class="btn btn-success">Add</button>
                </a>
            </span>
            <div class="widget-box">
                <div class="widget-title" >
                <h5 style="display: block;width: 90%;">Permissions List</h5>
                </div>
                <div class="widget-content">
                <div class="wg2">	
                <table id="tbl_users_list" class="table table-striped table-bordered table-report-list"  cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Field</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<users.length;i++) { %>
                        <tr>
                            <td><%= users[i].label%></td>
                            <td><%= users[i].field%></td>
                            <td>
                            <form action="<%= domain_url %>permissions/delete/<%= users[i]._id%>" method="post" onsubmit="return confirm('Do you really want to Delete the value?');">
                            <a href="<%= domain_url %>permissions/update/get/<%= users[i]._id%>" ><i class="icon-edit" style="font-size:18px;color:green" ></i></a>
                            <!-- <button type="submit" id="<%= users[i]._id%>" class="btn btn-danger icon-remove rcd_delete" style="font-size:18px; background:unset;border:unset; color:red;"></button>  -->
                            </form>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>        
    </div>
    
    <script>
    
    $(document).ready(function() {

        if($( ".alert.flash" ).text()!=""){
            go_fntoast($( ".alert.flash" ).text());
        }
    
        var tbl_users_list;
    
        elementOverlay("tbl_users_list", true);
        tbl_users_list = $('#tbl_users_list').DataTable({
            "processing": true,
            "searching": true, 
            "paging": true,
            "ordering":true,
            "info":true,
            "destroy": true,
        });    
        elementOverlay("tbl_users_list", false);
    
        $('.rcd_delete').click(function(){

            var el = this;
            var id = this.id;    

            bootbox.confirm("Are you sure want to delete?", function(result) {

                if(result){

                    $.ajax({
                        url: '<%= domain_url %>permissions/delete/'+id,
                        type: 'POST',
                        success: function(response){

                            if(response.status) {
                                // $(el).closest('tr').css('background','tomato');
                                // $(el).closest('tr').fadeOut(800, function(){ 
                                //     $(this).remove();
                                // });
                                window.location.reload();
                            } else {
                                console.log("Somthing went wrong, Kindly check again");
                                // window.reload();
                                window.location.reload();
                            }
                        }
                    });
                } else {
                    console.log("Delete action "+result)
                }

            });
        });


    });
    
    </script>
    </div>
    <!--end-main-container-part-->
    
    <%- include ../partials/admin/footer.ejs %>