<%- include ../partials/admin/header.ejs %>

<!--main-container-part-->

<style type="text/css">
    .error{
        color:red;
    }
    </style>

<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Roles Add Details</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="" method="post" class="form-horizontal" id="useradd_id" enctype="multipart/form-data" >
                <div class="control-group">
                    <label class="control-label"><span class="error">* </span>Label :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Label" name="m_label" id="m_label" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="error">* </span>Field :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Field" name="m_field" id="m_field" value="" />
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label"><span class="error">* </span>Parent Role :</label>
                    <div class="controls">
                        <select name="m_parentrole" id="m_parentrole">
                            <option value=""></option>
                            <% for (var i=0; i<data.length;i++) { %>
                                <option value="<%=data[i].md_parent_role_position %>"><%=data[i].md_label %></option>
                            <% } %>
                      </select>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right">Save</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>roles'">Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>

$(document).ready(function() { 	
    $("#m_parentrole").select2({
        width: '41.5%',
        placeholder: "Select a Roles",
        allowClear: true
    });
    $.validator.addMethod("alphabets", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
    });

    $("#useradd_id").submit(function(e) {
        e.preventDefault();
    }).validate({
        ignore: [],   
        rules: {
            m_label: {
                required: true,
                remote: {
                    url: "<%= domain_url %>roles/chk_label_exists",
                    type: "GET"
                },
            },
            m_field: {
                required: true,
                alphabets:true,
                remote: {
                    url: "<%= domain_url %>roles/chk_field_exists",
                    type: "GET"
                },                
            },
            m_parentrole:{
                required:true
            }
        },
        messages:{
            m_label : {
                required : "Label is required",
                remote : "Roles labels is already exists"
            },
            m_field : {
                required : "Field is required",
                alphabets:"Field requires only alphabets",
                remote :  "Roles field is already exists"
            },
            m_parentrole:{
                required: "Parent Role is Required"
            },
        }, 
        submitHandler: function(form, e) { 

            e.preventDefault();
            var form = $('#useradd_id')[0];
            var go_finalformdata = new FormData(form);
            Overlay(true);

            $.ajax({
                url: '<%= domain_url %>roles/create',
                type: 'POST',
                contentType: false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {
                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>roles";
                    } else {
                        window.location.href="<%= domain_url %>roles";
                    }
                    return; 
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });
});
</script>


<%- include ../partials/admin/footer.ejs %>
