<%- include ../partials/admin/header.ejs %>

<!--main-container-part-->

<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<% 
    if(data.length > 0) {
        var userdata = data[0]; 

        var mdl_id = userdata.id;
        var mdl_label = userdata.mdl_label;
        var mdl_field = userdata.mdl_field;

    } else {
        var mdl_id="";
        var mdl_label="";
        var mdl_field="";
    }
%>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Module-info</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="post" class="form-horizontal" id="mdl_editid" enctype="multipart/form-data"  >
                <div class="control-group">
                    <label class="control-label">Label :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Label" name="m_label" id="m_label" value="<%= mdl_label %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Field :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Field" name="m_field" id="m_field" value="<%= mdl_field %>" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" id="mdl_savebtn"  name="mdl_savebtn" class="btn btn-success pull-right">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>roles'" >Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>
    $(document).ready(function() { 	

    $.validator.addMethod("alphabets", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
    });

    $("#mdl_editid").submit(function(e) {
        e.preventDefault();
        console.log("inside");
    }).validate({
        rules: {
            m_label: {
                required: true,
                remote: {
                    url: "<%= domain_url %>roles/chk_label_exists?u_userid=<%= mdl_id %>",
                    type: "GET"
                },
            },
            m_field: {
                required: true,
                alphabets:true,
                remote: {
                    url: "<%= domain_url %>roles/chk_field_exists?u_userid=<%= mdl_id %>",
                    type: "GET"
                },
            }
        },
        messages:{
            m_label : {
                required : "Label is required",
                remote : "Roles labels is already exists"
            },
            m_field : {
                required : "Field is required",
                alphabets:"Field requires only alphabets",
                remote :  "Roles field is already exists"
            }
        }, 
        submitHandler: function(form, e) { 

            e.preventDefault();
            var go_finalformdata = new FormData(form);
            Overlay(true);

            $.ajax({                
                url: '<%= domain_url %>roles/update/<%= mdl_id %>',
                type: 'POST',
                contentType:false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {

                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>roles";
                    } else {
                        window.location.href="<%= domain_url %>roles";
                    }
                    return;                        
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });
      
});
</script>


<%- include ../partials/admin/footer.ejs %>
