<%- include ../partials/header.ejs %>

    <!--main-container-part-->
    <style type="text/css">
        .error {
            color: red;
        }

        .input-prepend input#u_password {
            width: 84%!important;
        }

        #s2id_u_role,
        #s2id_u_reporting_to {
            margin-left: 5px !important;
        }
        #u_password-error {
            font-size: 11px;
        }
    </style>

<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

<% 
    if(data.length > 0) {
        var userdata = data[0]; 

        var u_id = userdata.id;
        var u_firstname = userdata.u_firstname;
        var u_lastname = userdata.u_lastname;
        var u_email = userdata.u_email;
        var u_mobile = userdata.u_mobile;
        var u_username = userdata.u_username;
        var u_password = userdata.u_password;
        var u_roleid = userdata.u_roleid;
        var u_reporting_to = userdata.u_reporting_to;

    } else {
        var u_firstname = "";
        var u_lastname = "";
        var u_email = "";
        var u_mobile = "";
        var u_username = "";
        var u_password = "";
        var u_roleid = "";
        var u_reporting_to = "";
    }
%>

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box" >
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Users-info</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="post" class="form-horizontal" id="usersedit_id" enctype="multipart/form-data"  >
                <div class="control-group">
                    <label class="control-label"><span class="error">*</span> First Name :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="First name" name="u_firstname" id="u_firstname" value="<%= u_firstname %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="error">*</span> Last Name :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Last name" name="u_lastname" id="u_lastname" value="<%= u_lastname %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="error">*</span>Email :</label>
                    <div class="controls">
                    <input type="text"  class="span5" placeholder="Enter Email" name="u_email" id="u_email" value="<%= u_email %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Mobile :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Enter Mobile" name="u_mobile" id="u_mobile" value="<%= u_mobile %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="error">*</span>Username :</label>
                    <div class="controls">
                    <input type="text" class="span5" placeholder="Enter Username" name="u_username" id="u_username" value="<%= u_username %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="error">*</span>Password :</label>
                    <div class="controls">
                    <div class="input-prepend span5">
                        <div class="">
                            <span class="add-on">
                                <i class="icon-eye-open" onclick="go_fnpassword_hideshow();"></i>
                            </span>
                            <input type="password" placeholder="Enter Password" name="u_password" id="u_password" value="<%= u_password %>" />
                        </div>
                    </div>
                    </div>
                </div>
                <% if( ses_user.ses_usertype  != 1){ %>
                
                <div class="control-group">
                    <label class="control-label">Roles :</label>
                    <div class="controls">
                        <select id="u_role" name="u_role" >
                            <% if(data_roles.length > 0) { %>
                                <option value=""></option>
                                <% data_roles.forEach(function(looper) { %>
                                    <% var dr_selected = ((looper._id).equals(u_roleid)) ? "selected"  : "" ; %>
                                    <option value="<%= looper._id %>" <%= dr_selected %> ><%= looper.label %></optiontd>
                                <% }); %>
                            <% } else { %>
                                <option value=""></option>
                            <% } %>                            
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reporting To :</label>
                    <div class="controls">
                        <select id="u_reporting_to" name="u_reporting_to" >
                            <% if(data_reporting.length > 0) { %>
                                <option value=""></option>
                                <% data_reporting.forEach(function(looper) { %>
                                    <% var dr_selected = ((looper._id).equals(u_reporting_to)) ? "selected"  : "" ; %>
                                    <option value="<%= looper._id %>" <%= dr_selected %> ><%= looper.u_name %></optiontd>
                                <% }); %>
                            <% } else { %>
                                <option value=""></option>
                            <% } %>                            
                        </select>
                    </div>
                </div>
                <%  } %>
                <br/>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>users'" >Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>

    function go_fnpassword_hideshow() {
        var x = document.getElementById("u_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

$(document).ready(function() { 	



    $("#u_role").select2({width: '41.5%', placeholder:"Role"});
    $("#u_reporting_to").select2({width: '41.5%'});

    $("#usersedit_id").submit(function(e) {
        e.preventDefault();
        console.log("inside");
    }).validate({
        ignore: [],   
        rules: {
            u_firstname: {
                required: true,
            },
            u_lastname: {
                required: true,
            },
            u_email: {
                required: true,
                email: true,
            },
            u_mobile: {
                minlength : 10,
                maxlength : 11,
                number: true
            },
            u_username: {
                required: {
                    depends:function(){
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
                minlength : 5,
                maxlength : 15,
                remote: {
                    url: "<%= domain_url %>users/chk_username_exists?u_userid=<%= u_id %>",
                    type: "GET"
                },
            },
            u_password: {
                required: {
                    depends:function(){
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
                minlength : 5,
                maxlength : 10,
            },
            u_role: {
                required: {
                    depends:function() {
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
            },
            u_reporting_to: {
                required: {
                    depends:function() {

                        if("<%= ses_user.ses_usertype %>" == 1 || "<%= ses_user.ses_usertype %>" == "1") {
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
            },
        },
        messages:{
            u_firstname : "First Name is required",
            u_lastname  : "Last Name is required",
            u_email : "e-Mail id is not valid",
            u_mobile : {
                minlength : "Mobile is minimum 10 digit required",
                maxlength : "Mobile is maximum 11 digit required",
                number : "Numbers only allowed"
            },
            u_username : {
                required : "Username is required",
                minlength : "Username is minimum 5 charactar required",
                maxlength : "Username is maximum 15 charactar required",
                remote : "Username already exists"
            },
            u_password : {
                required : "Password is required",
                minlength : "Password is minimum 5 charactar required",
                maxlength : "Password is maximum 10 charactar required"
            },
            u_role : "Role is required",
        }, 
        submitHandler: function(form, e) { 

            e.preventDefault();
            var go_finalformdata = new FormData(form);
            Overlay(true);

            $.ajax({
                url: '<%= domain_url %>users/update/<%= u_id %>',
                type: 'POST',
                contentType:false,
                processData: false,
                data: go_finalformdata,
                success: function(response) {

                    Overlay(false);

                    if(response.status) {
                        window.location.href="<%= domain_url %>users";
                    } else {
                        window.location.href="<%= domain_url %>users";
                    }
                    return;                        
                },
                error: function(xhr, result, errorThrown){
                    alert("Somthing went wrong kindly try again.");
                }
            });
        }
    });

});
</script>


<%- include ../partials/footer.ejs %>
