<%- include ../partials/header.ejs %>

    <!--main-container-part-->
    <style type="text/css">
        .error {
            color: red;
        }

        .input-prepend input#u_password {
            width: 84% !important;
        }

        #s2id_u_role,
        #s2id_u_reporting_to {
            margin-left: 5px !important;
        }

        #u_password-error {
            font-size: 11px;
        }
    </style>

    <script src="<%= domain_url %>js/jquery.validate.min.js"></script>

    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" style="overflow:hidden;">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5 id="userheading">Users - Info</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="" method="post" class="form-horizontal" id="useradd_id" enctype="multipart/form-data">


                                <% if( ses_user.ses_usertype  == 1){ %>

                                    <div id="form2" class="span6" style="margin-top: 40px">
                                        <fieldset>
                                            <legend>Organization Info:</legend>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    <span class="error">*</span> Organisation Name :</label>
                                                <div class="controls">
                                                    <input type="text" class="span8" placeholder="Organisation Name" name="o_orgname" id="o_orgname" value="" />
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label">Website :</label>
                                                <div class="controls">
                                                    <input type="text" class="span8" placeholder="Website" name="o_website" id="o_website" value="" />
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Fax :</label>
                                                <div class="controls">
                                                    <input type="text" class="span8" placeholder="Fax" name="o_fax" id="o_fax" value="" />
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Organisation Address :</label>
                                                <div class="controls">
                                                    <textarea type="text" class="span8" placeholder="Enter Organisation Address" name="o_orgaddress" id="o_orgaddress" value=""></textarea>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Organization Logo :</label>
                                                <div class="controls">
                                                    <div class="uploader" id="uniform-undefined">
                                                        <input type="file" name="o_logouploader" id="o_logouploader" size="19" style="opacity: 0;" />
                                                        <span class="filename">No file selected</span>
                                                        <span class="action">Choose File</span>
                                                    </div>
                                                    <span id="dvPreview" style="display:none; height: 20px;width: 20px">
                                                        <img id="blah" src="#" style="height: 20px;width: 20px;cursor: pointer;" alt="your image" />
                                                    </span>
                                                </div>
                                            </div>
                                        </fieldset>


                                    </div>
                                    <%  } %>
                                        <div id="form1" class="span6" style="margin-top: 40px;margin-bottom: 20px;">
                                            <fieldset>
                                                <legend>Contact User Info:</legend>
                                                <div class="control-group">
                                                    <label class="control-label">
                                                        <span class="error">*</span> First Name :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="First name" name="u_firstname" id="u_firstname" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Middle Name :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Middle name" name="u_middlename" id="u_middlename" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">
                                                        <span class="error">*</span> Last Name :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Last name" name="u_lastname" id="u_lastname" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"> <span class="error">*</span>Email :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Enter Email" name="u_email" id="u_email" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Mobile :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Enter Mobile" name="u_mobile" id="u_mobile" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Phone :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Enter Phone" name="u_Phone" id="u_Phone" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">
                                                        <span class="error">* </span>Username :</label>
                                                    <div class="controls">
                                                        <input type="text" class="span8" placeholder="Enter Username" name="u_username" id="u_username" value="" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">
                                                        <span class="error">* </span>Password :</label>
                                                    <div class="controls">
                                                        <div class="input-prepend span8 ">
                                                            <div class="">
                                                                <span class="add-on ">
                                                                    <i class="icon-eye-open" onclick="go_fnpassword_hideshow()"></i>
                                                                </span>
                                                                <input placeholder="Enter Password" name="u_password" id="u_password" type="password" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if( ses_user.ses_usertype  != 1){ %>
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            <span class="error">* </span>Roles :</label>
                                                        <div class="controls">
                                                            <select id="u_role" name="u_role">
                                                                <% if(data_roles.length > 0) { %>
                                                                    <option value=""></option>
                                                                    <% data_roles.forEach(function(looper) { %>
                                                                        <option value="<%= looper._id %>">
                                                                            <%= looper.label %>
                                                                                </optiontd>
                                                                                <% }); %>
                                                                                    <% } else { %>
                                                                                        <option value=""></option>
                                                                                        <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">Reporting To :</label>
                                                        <div class="controls">
                                                            <select id="u_reporting_to" name="u_reporting_to" class="span12">
                                                                <% if(data_reporting.length > 0) { %>
                                                                    <option value=""></option>
                                                                    <% data_reporting.forEach(function(looper) { %>
                                                                        <option value="<%= looper._id %>">
                                                                            <%= looper.u_name %>
                                                                                </optiontd>
                                                                                <% }); %>
                                                                                    <% } else { %>
                                                                                        <option value=""></option>
                                                                                        <% } %>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <%  } %>

                                            </fieldset>

                                        </div>
                                        <div class="form-actions span12">
                                            <button type="submit" class="btn btn-success pull-right">Save</button> &nbsp;&nbsp;
                                            <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>users'">Cancel</button>
                                        </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end-main-container-part-->

    <script>
        function go_fnpassword_hideshow() {
            var x = document.getElementById("u_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        $("#nextbtn").click(function () {
            $("#userheading").hide();
            $("#organizationheading").show();
            $("#form1").hide();
            $("#form2").show();
        })


        $("#previousbtn").click(function () {
            $("#userheading").show();
            $("#organizationheading").hide();
            $("#form2").hide();
            $("#form1").show();
        })

        $(document).ready(function () {
            function readURL(input) {
                $("#dvPreview").show();
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        $('#blah').attr('src', e.target.result);
                        $('#img').attr('src', e.target.result);
                    }
                    // alert(input.files[0]);
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#o_logouploader").change(function () {
                readURL(this);
            });

            $("#u_role").select2({
                width: '41.5%',
                placeholder: "Select a Roles",
                allowClear: true
            });

            $("#u_reporting_to").select2({
                width: '41.5%',
                placeholder: "Select a Reporing To",
                allowClear: true
            });
            $.validator.addMethod("password", function (value, element) {
                return this.optional(element) ||
                    /(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/.test(value);
            });
            $("#useradd_id").submit(function (e) {
                e.preventDefault();
            }).validate({
                ignore: [],
                rules: {
                    u_firstname: {
                        required: true,
                    },
                    u_lastname: {
                        required: true,
                    },
                    u_email: {
                        required: true,
                        email: true,
                    },
                    u_mobile: {
                        minlength: 10,
                        maxlength: 11,
                        number: true
                    },
                    u_phone: {
                        number: true
                    },
                    u_username: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        minlength: 5,
                        maxlength: 15,
                        remote: {
                            url: "<%= domain_url %>users/chk_username_exists",
                            type: "GET"
                        },
                    },
                    u_password: {
                        required: true,
                        password: true
                    },
                    u_role: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                    },
                    u_reporting_to: {
                        required: {
                            depends: function () {

                                if ("<%= ses_user.ses_usertype %>" == 1 ||
                                    "<%= ses_user.ses_usertype %>" == "1") {
                                    return false;
                                } else {
                                    return true;
                                }
                            }
                        },
                    },
                    o_orgname: {
                        required: true
                    },
                    o_firstname: {
                        required: true
                    }
                },
                messages: {
                    u_firstname: "First Name is required",
                    u_lastname: "Last Name is required",
                    u_email: "e-Mail id is not valid",
                    u_mobile: {
                        minlength: "Mobile is minimum 10 digit required",
                        maxlength: "Mobile is maximum 11 digit required",
                        number: "Numbers only allowed"
                    },
                    u_phone: {
                        number: "Numbers only allowed"
                    },
                    u_username: {
                        required: "Username is required",
                        minlength: "Username is minimum 5 charactar required",
                        maxlength: "Username is maximum 15 charactar required",
                        remote: "Username already exists"
                    },
                    u_password: {
                        required: "Password is required",
                        password: "Minimum 8 characters including a number,<br> an uppercase, lowercase and special letter"
                    },
                    u_role: "Role is required",
                    o_orgname: "Organization Name is required",
                    o_firstname: "Contact Name is required"
                },
                submitHandler: function (form, e) {

                    e.preventDefault();
                    var form = $('#useradd_id')[0];
                    var go_finalformdata = new FormData(form);
                    Overlay(true);

                    $.ajax({
                        url: '<%= domain_url %>users/create',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: go_finalformdata,
                        success: function (response) {

                            Overlay(false);
                            if (response.status) {
                                window.location.href = "<%= domain_url %>users";
                            } else {
                                window.location.href = "<%= domain_url %>users";
                            }
                            return;
                        },
                        error: function (xhr, result, errorThrown) {
                            alert("Somthing went wrong kindly try again.");
                        }
                    });
                }
            });

        });
    </script>


    <%- include ../partials/footer.ejs %>