<%- include ../partials/header.ejs %>

<!--main-container-part-->
<div id="content">
    <div class="container-fluid admin-wg1" >
    <div class="row-fluid">
        <div class="span12">

        <%- locals.flash %>            
            
        <% if(pos_users.report_add) {  %>
        <span class="pull-right mg-b-5">
            <a href="<%= domain_url %>users/add" >
                <button type="button" class="btn btn-success">Add</button>
            </a>
        </span>
        <% } %>

        <% if(pos_users.report_list) {  %>
        <div class="widget-box">
            <div class="widget-title" >
            <h5 style="display: block;width: 90%;">USERS LIST</h5>
            </div>
            <div class="widget-content">
            <div class="wg2">	
            <table id="tbl_users_list" class="table table-striped table-bordered table-report-list"  cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>MOBILE</th>
                    <th>USERNAME</th>
                    <th>ROLE</th>
                    <th>ORG. NAME</th>
                    <% if(pos_users.report_edit || pos_users.report_delete) {  %>
                    <th>ACTION</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% if(data.length > 0) { %>
                    <% data.forEach(function(looper) { %>
                    <tr>
                        <td><%= looper.u_name %></td>
                        <td><%= looper.u_email %></td>
                        <td><%= looper.u_mobile %></td>
                        <td><%= (looper.u_username).toLowerCase(); %></td>
                        <td><%= looper.u_rolename %></td>
                        <td><%= looper.u_orgname %></td>
                        <% if(pos_users.report_edit || pos_users.report_delete) {  %>
                        <td>
                            <% if(pos_users.report_edit) {  %>
                                <a href="<%= domain_url %>users/edit/<%= looper.id %>" ><i class="icon-edit" style="font-size:18px;color:green" ></i></a>
                            <% } %>
                            <% if(pos_users.report_delete) {  %>
                                <button type="button" id="<%= looper.id %>" class="btn btn-danger icon-remove rcd_delete" style="font-size:18px; background:unset;border:unset; color:red;"></button> 
                            <% } %>
                        </td>
                        <% } %>
                    </tr>
                    <% }); %>
                <% } %>
            </tbody>
            </table>
            </div>
            </div>
        </div>
        <% } %>

        </div>
    </div>
    </div>        
</div>

<script src="<%= domain_url %>js/bootbox.min.js"></script>
<script>

$(document).ready(function() {


    if($( ".alert.flash" ).text()!=""){
        go_fntoast($( ".alert.flash" ).text());
    }

    var tbl_users_list;

    elementOverlay("tbl_users_list", true);
    tbl_users_list = $('#tbl_users_list').DataTable({
        "processing": true,
        "searching": true, 
        "paging": true,
        "ordering":true,
        "info":true,
        "destroy": true,
    });    
    elementOverlay("tbl_users_list", false);

});

$('.rcd_delete').click(function(){

    var el = this;
    var id = this.id;    

    bootbox.confirm("Are you sure want to delete?", function(result) {

        if(result){

            $.ajax({
                url: '<%= domain_url %>users/delete/'+id,
                type: 'POST',
                success: function(response){

                    if(response.status) {
                        // $(el).closest('tr').css('background','tomato');
                        // $(el).closest('tr').fadeOut(800, function(){ 
                        //     $(this).remove();
                        // });
                        window.location.reload();
                    } else {
                        console.log("Somthing went wrong, Kindly check again");
                        window.location.reload();
                    }
                }
            });
        } else {
            console.log("Delete action "+result)
        }

    });
});


</script>
</div>
<!--end-main-container-part-->

<%- include ../partials/footer.ejs %>
