<div class="row-fluid">
  <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
          <div class="controls-1" style="margin-bottom:30px;">

            <div data-date="" class="input-append date datepicker">
              <label class="control-label-1">From</label>
              <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
              <!-- <span class="add-on"><i class="icon-th"></i></span>  -->
            </div>

            <div data-date="" class="input-append date datepicker">
              <label class="control-label-1">To</label>
              <input id="todate" name="todate" type="text" value=""  class="span12" autocomplete="off">
              <!-- <span class="add-on"><i class="icon-th"></i></span>  -->
            </div>

            <% if(false) { %>

            <!-- <div class="select2-container">
                <label class="control-label-1">Customer Type</label>
                <select id="customertype" name="customertype">
                  <% customerdata.forEach(function(customerdata_result) { %>
                    <option value="<%= customerdata_result['CUSTOMER BUSINESS'] %>" style="white-space:nowrap;" ><%= customerdata_result['CUSTOMER BUSINESS'] %></option>
                  <% }); %>
                </select>
            </div> -->
            &nbsp;&nbsp;
            

            <div class="select2-container">
              <label class="control-label-1">Customer Type</label>
              <select id="customertype" name="customertype">
                <option value="BUSINESSES" style="white-space:nowrap;" >BUSINESSES</option>
                <option value="INDIVIDUALS AND BENEFICIAL OWNER" style="white-space:nowrap;" >INDIVIDUALS</option>
              </select>
            </div>
          
            &nbsp;&nbsp;

            <div class="select2-container">
                <label class="control-label-1">Nationality</label>
                <select id="nationality" name="nationality">
                  <option value="MALAYSIA" style="white-space:nowrap;" >MALAYSIA</option>
                  <option value="FOREIGN" style="white-space:nowrap;" >FOREIGN</option>
                </select>
            </div>

            <% } %>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 
            <!-- <button type="button" id="fltr_reset" onClick="javascript:window.location.reload();" class="btn btn-danger" style="margin-top: 25px;">Clear</button> -->
          </div>
        </div>        

      </form>
    </div>
</div>


