<!DOCTYPE html>
<html lang="en">
<head>
<title title="Easily manage your reports">MSB :: Easily manage your reports</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="<%= domain_url %>img/msb_favicons/msb_icon_1_J0P_12.ico" type="image/x-icon">

<link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/fullcalendar.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-style.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-media.css" />

<link rel="stylesheet" href="<%= domain_url %>css/uniform.css" />

<link rel="stylesheet" href="<%= domain_url %>css/select2.css" />
<link href="<%= domain_url %>font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="<%= domain_url %>css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


<link rel="stylesheet" href="<%= domain_url %>css/jquery.dataTables.min.css" />
<!-- <script src="<%= domain_url %>js/jquery-1.12.4.js"></script>  -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script> -->
<script src="<%= domain_url %>js/jquery.min.js"></script> 
<script src="<%= domain_url %>js/moment.min.js"></script>

<script src="<%= domain_url %>js/jquery.dataTables.min.js"></script> 

<link rel="stylesheet" href="<%= domain_url %>datatables/buttons.dataTables.min.css" />
<script src="<%= domain_url %>datatables/dataTables.buttons.min.js"></script>
<script src="<%= domain_url %>datatables/buttons.flash.min.js"></script>
<script src="<%= domain_url %>datatables/jszip.min.js"></script>
<script src="<%= domain_url %>datatables/pdfmake.min.js"></script>
<script src="<%= domain_url %>datatables/vfs_fonts.js"></script>
<script src="<%= domain_url %>datatables/buttons.html5.min.js"></script>
<script src="<%= domain_url %>datatables/buttons.print.min.js"></script>

<script src="<%= domain_url %>overlay/loadingoverlay.min.js"></script>
<script src="<%= domain_url %>overlay/overlay.js"></script>

<style>

  .dataTables_wrapper {
    overflow-x:auto; 
  }

  div.dt-buttons{
    float: right;
    top: -2px;
    right: 5px;
  }

  /** Progress bar **/

  .spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
  .fuloverlay {
      width:100%;
      height:100%;
      margin:auto;
      left:0;
      top:0;
      position:fixed;
      background:#080808;
      opacity:.8;
      text-align:center;
      z-index:10000;
  }
  #user-nav > ul > li > a:hover{
    background: transparent; 
  }
</style>

</head>
<body>

<!--Header-part-->
<div id="header">
	<div class="menu-nav">
		<i class="icon-indent-right"></i>
	</div>
</div>
<!--close-Header-part--> 

<script>

  var global_queryurl = window.location.href; 
  var url_pathfinder = new URL(global_queryurl);
  var global_queryurl_path = url_pathfinder.pathname; 
  var global_queryurl_spliter = global_queryurl_path.split('/');
  var global_pagename_val = global_queryurl_spliter[global_queryurl_spliter.length-1];

  $(document).ready(function(){

    if("<%= ses_user.ses_usertype %>"==1 || "<%= ses_user.ses_usertype %>"=="1") {
      $(".tab").removeClass("active");

      if(global_pagename_val == "users") {
        $("#1").addClass("active");   
      } else if(global_pagename_val == "objectPermissions") {
        $("#2").addClass("active");   
      } else if(global_pagename_val == "permissions") {
        $("#3").addClass("active");   
      } else if(global_pagename_val == "module") {
        $("#4").addClass("active");   
      } else if(global_pagename_val == "roles") {
        $("#5").addClass("active");   
      }
    } else {
      $(".tab").removeClass("active");
      $("#"+global_pagename_val).addClass("active");         
    }
    
  });
</script>

<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav user-profile">

    <% if(ses_user.ses_usertype != 1 || ses_user.ses_usertype != "1") { %>
    <% var roots = ses_user.root_urls; %>
    <% if(roots.length > 0) { %>
    <% roots.forEach(function(root_data) { %>
    <% if(root_data[0]=="xlupload") { %>
    <li class="" style="float: left;margin: 8px 2px 0 0;">
      <a href="<%= domain_url %>xlupload" style="padding: 6px 6px 1px 6px;">
        <i class="icon-cloud-upload" style="font-size: 35px; color: #095790; opacity:9;" title="UPLOAD TRANSACTIONS"></i>
      </a>
    </li>
    <% } }); } } %>
    
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <% if(ses_user.ses_usertype!=""){ %>
        <img src="<%= domain_url %>img/company_logo/<%= ses_user.ses_organization_logo %>" width="35"> <span class="profile-name"><%= ses_user.ses_name %></span><b class="caret"></b></a>
    	<!-- <img src="<%= domain_url %>img/profile.png" width="35">  <span class="profile-name"><%= ses_user.ses_name %></span><b class="caret"></b></a> -->
      <% }%>
      <ul class="dropdown-menu">
          <% if(ses_user.ses_usertype==2 || ses_user.ses_usertype=="2"){%>
          <li><a href="<%= domain_url %>organization/edit"><i class="icon-user"></i> Org Profile</a></li> 
          <% } %> 

          <% if(ses_user.ses_usertype==2 || ses_user.ses_usertype=="2" || ses_user.ses_usertype==3 || ses_user.ses_usertype=="3" || ses_user.ses_usertype==4 || ses_user.ses_usertype=="4") { %>
          <li><a href="<%= domain_url %>reportingTree"><i class="icon-sitemap"></i> Reporting</a></li> 
          <% } %> 

          <% if(ses_user.ses_usertype==2 || ses_user.ses_usertype=="2" || ses_user.ses_usertype==3 || ses_user.ses_usertype=="3") { %>
          <% var roots = ses_user.root_urls; %>
          <% if(roots.length > 0) { %>
          <% 
            roots.forEach(function(root_data) { 
            if(root_data[0]=="users" || root_data[0]=="objectPermissions" || root_data[0]=="masterrisk") {
          %>
            <li class="tab" id="<%= root_data[0] %>" >
              <a href="<%= domain_url %><%= root_data[0] %>" >
                <i class="icon-cog"></i> <span style="text-transform: capitalize;"><%= root_data[1].replace("MODULE", "") %></span>
              </a>
            </li>
          <%  } }); } } %>  

          <li><a href="<%= domain_url %>logout"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>

<!--sidebar-menu-->
<div id="sidebar">
	<img src="<%= domain_url %>img/MSB_icon.png" class="brand-logo" width="80px">
  <ul>
      <% if(ses_user.ses_usertype==1 || ses_user.ses_usertype=="1") { %>
        <li class="tab" id="1" ><a href="<%= domain_url %>users" ><i class="icon-th-large"></i> <span>Users</span></a> </li>
        <li class="tab" id="2" ><a href="<%= domain_url %>objectPermissions" ><i class="icon-th-large"></i> <span>Module Permission</span></a> </li>
        <li class="tab" id="3" ><a href="<%= domain_url %>permissions" ><i class="icon-th-large"></i> <span>Permission</span></a> </li>
        <li class="tab" id="4" ><a href="<%= domain_url %>module" ><i class="icon-th-large"></i> <span>Module</span></a> </li>
        <li class="tab" id="5" ><a href="<%= domain_url %>roles" ><i class="icon-th-large"></i> <span>Roles</span></a> </li>
        <!-- <li class="tab" id="6" ><a href="<%= domain_url %>organization" ><i class="icon-th-large"></i> <span>Organization</span></a> </li> -->
      <% } else { %>
        <% var roots = ses_user.root_urls; %>
        <% if(roots.length > 0) { %>
          <% 
            roots.forEach(function(root_data) { 
              if(root_data[0]!="xlupload" && root_data[0]!="users" && root_data[0]!="objectPermissions" && root_data[0]!="masterrisk" ) {
          %>
          <li class="tab" id="<%= root_data[0] %>" >
            <a href="<%= domain_url %><%= root_data[0] %>?fromdate=<%= urlquery_request.fromdate %>&todate=<%= urlquery_request.todate %>" >
              <span><%= root_data[1] %></span>
            </a>
          </li>
          <% }
            }); %> 
        <% } %>  
      <% } %>    
  </ul>
</div>
<!--sidebar-menu-->

<script>

  console.log("<%=ses_user%>");
  console.log("<%=ses_user.root_urls%>");
  console.log("<%=urlquery_request%>");

  function toDataUrl(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
        var reader = new FileReader();
        reader.onloadend = function() {
            callback(reader.result);
        }
        reader.readAsDataURL(xhr.response);
    };
    xhr.open('GET', url);
    xhr.responseType = 'blob';
    xhr.send();
  }

  var pdf_logo; 
  toDataUrl("<%= domain_url %>img/msb_icon_1.png", function(myBase64) {
      pdf_logo = myBase64;
      return true;
  });

</script>