<style>
  #tbl_buysell_filter{
    top: 0px !important;
  }
</style>

<div class="wg3" id="div_customerrisk_list_id" style="display:none;">
    <table id="tbl_customerrisk_list_loader" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>No</th>
        <th>NAME</th>
        <th>DOC.NO</th>
        <th>COUNTRY</th>
        <th>OCCUPATION</th>
        <th>SOURCE</th>
        <th>PURPOSE</th>
        <th>PAYMENT MODE</th>
        <th>DELIVERY MODE</th>
        <th>RBA</th>
        <th>BRANCH</th>
        <th>AMOUNT</th>
        <th>BUYSELL</th>
        <th>DATE</th>
        
    </tr>
    </thead>
    </table>
</div>

<div class="wg3" id="div_outlet_customerrisk_id" style="display:none;">
    <table id="tbl_outlet_customerrisk_list_loader" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>NAME</th>
        <th>AMOUNT</th>
        <th>BUYSELL</th>
        <th>DATETIME</th>
        <th>SOURCE</th>
        <th>PURPOSE</th>
    </tr>
    </thead>
    </table>

</div>


<script>

$(document).ready(function() {

    var table_customer_risk;
    var ajax_loader = function(loader_params, common_actiontype) {

        if(common_actiontype == 'risk_based_analysis') {

            let fromdate = loader_params.fromdate;
            let todate = loader_params.todate;
            let riskaction = loader_params.riskaction;

            console.log("RISK");
            var actual_url = '<%= domain_url %>customerrisk_summary_report/risk_customerdetails?fromdate='+fromdate+'&todate='+todate+'&riskaction='+riskaction;

            $.ajax({
                type: "GET",
                url: actual_url,
                dataType: 'json',
                success: function (obj, textstatus) {
                    console.log("obj : "+obj);
                    if (!('error' in obj)) {

                        $('#customerbasedtransaction_count').html(obj.length);
                        $("#div_customerrisk_list_id").css("display", "block");

                        table_customer_risk = $('#tbl_customerrisk_list_loader').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1 },
                                { "data" : 2 },
                                { "data" : 3 },
                                { "data" : 4 },
                                { "data" : 5 },
                                { "data" : 6 },
                                { "data" : 7 },
                                { "data" : 8 },
                                { "data" : 9 },
                                { "data" : 10 },
                                { "data" : 11, 
                                    "render" :function(data, type, row, meta){
                                        return (data).toFixed(2);
                                    } 
                                },
                                { "data" : 12 },
                                { "data" : 13, 
                                    "render": function(data, type, row, meta){
                                        return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                    }
                                }
                                
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":false,
                            "info":false,
                            "destroy": true                  
                        });
                        elementOverlay("tbl_customerrisk_list_loader", false);
                        
                    } else {
                        alert(obj.error);
                    }
                },
                error: function (obj, textstatus) {
                    console.log("error in ajax");
                    console.log(obj.msg);
                }
            });
        } else if(common_actiontype == 'outlet_customers') {
            let fromdate = loader_params.fromdate;
            let todate = loader_params.todate;
            let riskaction = loader_params.riskaction;

            console.log("outlet_customers");
            var actual_url_outlet = '<%= domain_url %>outlet_highriskreport/getcustomersbasedonoutlets?fromdate='+fromdate+'&todate='+todate+'&outlet_name='+riskaction;
            $.ajax({
                type: "GET",
                url: actual_url_outlet,
                dataType: 'json',
                success: function (obj, textstatus) {

                    if (!('error' in obj)) {
                        
                        $('#customerbasedtransaction_count').html(obj.length);
                        $("#div_outlet_customerrisk_id").css("display", "block");

                        table_customer_risk = $('#tbl_outlet_customerrisk_list_loader').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1, 
                                    "render" :function(data, type, row, meta){
                                        return (data).toFixed(2);
                                    } 
                                },
                                { "data" : 2 },
                                { "data" : 3, 
                                    "render": function(data, type, row, meta){
                                        return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                    }
                                },
                                { "data" : 4 },
                                { "data" : 5 }
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":false,
                            "info":false,
                            "destroy": true                  
                        });
                        elementOverlay("tbl_outlet_customerrisk_list_loader", false);
                        
                    } else {
                        alert(obj.error);
                    }
                },
                error: function (obj, textstatus) {
                    console.log("error in ajax");
                    console.log(obj.msg);
                }
            });
        } else if(common_actiontype == 'MONTHOUTLETHRC') {
            
            let outlet_yearmonth = loader_params.outlet_yearmonth;
            let outlet_name = loader_params.outlet_name;

            console.log("outlet_customers");
            let actual_url_outlet = '<%= domain_url %>monthly_highrisk_customerlist_report/monthly_hrc_basedon_outlet?outlet_yearmonth='+outlet_yearmonth+'&outlet_name='+outlet_name;
            $.ajax({
                type: "GET",
                url: actual_url_outlet,
                dataType: 'json',
                success: function (obj, textstatus) {

                    if (!('error' in obj)) {
                        
                        $('#customerbasedtransaction_count').html(obj.length);
                        $("#div_outlet_customerrisk_id").css("display", "block");

                        table_customer_risk = $('#tbl_outlet_customerrisk_list_loader').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 1 },
                                { "data" : 2, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 3 },
                                { "data" : 4, 
                                    "render": function(data, type, row, meta){
                                        return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                    }
                                },
                                { "data" : 5 },
                                { "data" : 6 }
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":false,
                            "info":false,
                            "destroy": true                  
                        });
                        elementOverlay("tbl_outlet_customerrisk_list_loader", false);
                        
                    } else {
                        alert(obj.error);
                    }
                },
                error: function (obj, textstatus) {
                    console.log("error in ajax");
                    console.log(obj.msg);
                }
            });
        
        } else if(common_actiontype == 'FTR_MONTHOUTLETHRC') {
            
            let Fre_action = loader_params.Fre_action;

            let outlet_yearmonth = loader_params.outlet_yearmonth;
            let outlet_name = loader_params.outlet_name;

            let Name = loader_params.Name;
            let trans_count = loader_params.trans_count;

            let fromdate = loader_params.from_date;
            let todate = loader_params.to_date;

            let fre_cust_name = loader_params.fre_cust_name;
            let fre_trans_count = loader_params.fre_trans_count;

            let actual_url_outlet;
            if(Fre_action === "outlet_yearmonth"){
                actual_url_outlet = '<%= domain_url %>monthly_highrisk_customerlist_report/monthly_hrc_basedon_outlet?outlet_yearmonth='+outlet_yearmonth+'&outlet_name='+outlet_name+'&trans_count='+trans_count+'&Name='+Name;
            }else{
                actual_url_outlet = '<%= domain_url %>monthly_highrisk_customerlist_report/monthly_hrc_basedon_outlet?from_date='+fromdate+'&to_date='+todate+'&fre_cust_name='+encodeURI(fre_cust_name)+'&fre_transactionCount='+fre_trans_count;
            }
            
            $.ajax({
                type: "GET",
                url: actual_url_outlet,
                dataType: 'json',
                success: function (obj, textstatus) {

                    if (!('error' in obj)) {

                        $('#customerbasedtransaction_count').html(obj.length);
                        $("#div_outlet_customerrisk_id").css("display", "block");

                        table_customer_risk = $('#tbl_outlet_customerrisk_list_loader').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 1 },
                                { "data" : 2, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 3 },
                                { "data" : 4, 
                                    "render": function(data, type, row, meta){
                                        return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                    }
                                },
                                { "data" : 5 },
                                { "data" : 6 }
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":false,
                            "destroy": true                  
                        });
                        elementOverlay("tbl_outlet_customerrisk_list_loader", false);
                        
                    } else {
                        alert(obj.error);
                    }
                },
                error: function (obj, textstatus) {
                    console.log("error in ajax");
                    console.log(obj.msg);
                }
            });
        }
    }

    console.log('<%= customerview_action %>');
    if('<%= customerview_action %>' == "HR_Outlet_Customers") {

        let params_letters = new Object();

        params_letters["fromdate"] = "<%= fromdate %>";
        params_letters["todate"] = "<%= todate %>";
        params_letters["riskaction"] = "<%= risk_action %>";

        elementOverlay("tbl_outlet_customerrisk_list_loader", true);
        ajax_loader(params_letters, "outlet_customers");

    } else if('<%= customerview_action %>' == "MONTHOUTLETHRC") {

        let params_letters = new Object();

        params_letters["outlet_yearmonth"] = "<%= fromdate %>";
        params_letters["outlet_name"] = "<%= risk_action %>";

        elementOverlay("tbl_outlet_customerrisk_list_loader", true);
        ajax_loader(params_letters, "MONTHOUTLETHRC");

    } else if('<%= customerview_action %>' == "FTR_MONTHOUTLETHRC") {

        let params_letters = new Object();

        params_letters["Fre_action"] = "<%= Fre_action %>";

        params_letters["outlet_yearmonth"] = "<%= fromdate %>";
        params_letters["outlet_name"] = "<%= risk_action %>";
        params_letters["from_date"] = "<%= fromdate %>";
        params_letters["to_date"] = "<%= todate %>";

        params_letters["Name"] = "<%= Name %>";
        params_letters["trans_count"] = "<%= trans_count %>";
        params_letters["fre_cust_name"] = "<%= fre_cust_name %>";
        params_letters["fre_trans_count"] = "<%= fre_trans_count %>";

        elementOverlay("tbl_outlet_customerrisk_list_loader", true);
        ajax_loader(params_letters, "FTR_MONTHOUTLETHRC");

    } else {

       let params_letters = new Object();

        params_letters["fromdate"] = "<%= fromdate %>";
        params_letters["todate"] = "<%= todate %>";
        params_letters["riskaction"] = "<%= risk_action %>";

        elementOverlay("tbl_customerrisk_list_loader", true);
        ajax_loader(params_letters, "risk_based_analysis");
    }


});
</script>
