<div style="display: none;" class="alert flash <%= locals.alertClass %>">
	<!-- <strong class="alert-type"><%= locals.type %></strong> -->
	<span class="alert-message"><%- locals.message %></span>
</div>
