<%- include partials/header.ejs %>

<style>
    .freq-drop .wg3 .dataTables_length label{
        font-size: 12px;
    }
    .freq-drop .wg3 .dataTables_length select{
        width: 70px;
    }
    #common_full_divider .row-fluid:nth-child(2) .trans-risk-ays{
        left: 0!important;
    }
    #tbl_fqtransactions_report3 tbody tr td,#tbl_multiplecurrency_report4 tbody tr td{
        text-align: left;
    }
</style>

<!--main-container-part-->
<div id="content">

<link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
<script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
<script src="<%= domain_url %>js/select2.js"></script> 

<div class="row-fluid">
    <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
        <div class="controls-1" style="margin-bottom:30px;">

            <div data-date="" class="input-append date datepicker" id="from_datepicker">
            <label class="control-label-1">From</label>
            <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>

            <div data-date="" class="input-append date datepicker" id="to_datepicker">
            <label class="control-label-1">To</label>
            <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 

        </div>
        </div>        

    </form>
    </div>
</div>


<script>
    
    var global_dater = new Date();
    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();
    } else {
        var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }

</script>
    
    <!--Action boxes-->
    <div class="container-fluid wg2-div" id="common_full_divider" style="display:none;" >
    
        <div class="row-fluid">

        <% if(pos_tra_frequenttrans.report) { %>
        <div class="span6 hv-trans trans-risk-ays">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                <h5 style="display: block;width: 98%;">FREQUENT TRANSACTION > <span id="fq_currenttrans_count"></span></h5>
                </div>
                <div class="widget-content freq-drop">
                <div class="wg3">	
                <table id="tbl_fqtransactions" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    <th width="62%">NAME</th>
                    <th width="38%">TRANSACTIONS</th>
                    </tr>
                </thead>
                </table>
                </div>
                </div>
            </div>
        </div>
        <% } %>

        <% if(pos_tra_multicurrencytrans.report) { %>
        <div class="span6 hv-trans trans-risk-ays">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                <h5 style="display: block;width: 98%;">MULTIPLE CURRENCY TRANSACTION > <span id="fq_multiple_currency_trans_count"></span></h5>
                </div>
                <div class="widget-content freq-drop">
                <div class="wg3">	
                <table id="tbl_multiplecurrency" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    <th>NAME</th>
                    <th>TRANSACTIONS</th>
                    <th>NO. OF CURRENCIES</th>
                    </tr>
                </thead>
                </table>
                </div>
                </div>
            </div>
        </div>
        <% } %>

        </div>

        <div class="row-fluid">
            <% if(pos_mbtra_ft.report) { %>
            <div class="span6 hv-trans trans-risk-ays">
                <div class="widget-box">
                    <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">MONTH BASED FREQUENT > &nbsp; <span id="fq_currenttrans_count"></span></h5>
                    </div>
                    <div class="widget-content freq-drop">
                    <div class="wg3">	
                    <table id="tbl_fqtransactions_report3" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th width="38%">MONTH-YEAR</th>
                        <th width="62%">NAME</th>
                        <th width="38%">TRANSACTIONS</th>
                        </tr>
                    </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <% } %>

            <% if(pos_mbtra_fct.report) { %>
            <div class="span6 hv-trans trans-risk-ays">
                <div class="widget-box">
                    <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">MONTH BASED MULTIPLE CURRENCY > &nbsp; <span id="fq_multiple_currency_trans_count"></span></h5>
                    </div>
                    <div class="widget-content freq-drop">
                    <div class="wg3">	
                    <table id="tbl_multiplecurrency_report4" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th width="38%">MONTH-YEAR</th>
                        <th>NAME</th>
                        <th>TRANSACTIONS</th>
                        <th>NO. OF CURRENCIES</th>
                        </tr>
                    </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>        
    
    </div>
    <!--End-Action boxes-->    

    <!--Action boxes-->
    <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
        <div class="row-fluid position-1">
        <div class="span11">
            <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
        </div>
        </div>
    </div>

</div>


<div class="modal-center hrt-popup">
    <div id="go_ouletcustomerlist_action" class="modal fade modal-lg" role="dialog" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title">
                        <i class="fa fa-calendar-o fa-fw"></i>OVERALL OUTLET HIGHRISK : 
                        <span id="customer_count"></span> Customers carried out 
                        <span id="customerbasedtransaction_count"></span> Transactions 
                    </h4>
                </div>
                <div id="modalBody" class="ovf go_outletcustomerlist_body" style="height:380px;overflow:auto;display: none;" ></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {

    var tbl_fqtransactions;
    var tbl_multiplecurrency;

    var report1_fqtransactions_ajax_loader = function(fromdate, todate, trans_count, action)
    {        
        $.ajax({
            url: '<%= domain_url %>frequent_transactions_report?fromdate='+fromdate+'&todate='+todate+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        var buttons_arr = new Array();
                        console.log("<%= pos_tra_frequenttrans.download %>");
                        if("<%= pos_tra_frequenttrans.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD FREQUENT TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'DOWNLOAD FREQUENT TRANSACTION', 
                                customize: function ( doc ) {
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30 
                                    });
                                    doc.content[2].table.widths = ["*", "*"];
                                }
                            });
                        }
                        if("<%= pos_tra_frequenttrans.print %>" == "true") {
                            buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:"FREQUENT TRANSACTION REPORT",
                                customize: function ( win ) { 
                                    $(win.document.body).css( 'font-size', '10pt').prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }

                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];


                        tbl_fqtransactions = $('#tbl_fqtransactions').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                //{ "data" : 1 },
                                { "data" : 1,
                                  "render": function(data, type, row, meta){
                                    if(type === 'display' && data > 0) {
                                      data = '<a href="#" style="color:#095790;" onClick="fn_frequent_trans_modal('+"'"+row[0]+"'"+','+"'"+trans_count+"'"+');" >'+data+'</a>';
                                    } else {
                                      data = data;
                                    }
                                    return data;
                                  }                   
                                }
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar1">Blfrtip',
                            "order":[[1, 'asc']],
                            "buttons": buttoncollection
                            // "oLanguage": { "sLengthMenu": "Show more than _MENU_ transactions" }                           
                        });
                        $("div.toolbar1").html('<span class="vis_hidden"><h5>FREQUENT TRANSACTION : ><select name="report1_fqt_count" id="report1_fqt_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
                        $("#report1_fqt_count").val(trans_count);

                        $("#report1_fqt_count").change(function(){
                            report1_fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, this.value, "");
                        });
                        elementOverlay("tbl_fqtransactions", false);
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_tra_frequenttrans.report %>" == "true") {
        
        elementOverlay("tbl_fqtransactions", true);
        report1_fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, 5, "");
    }

    var report2_multiple_currency_ajax_loader = function(fromdate, todate, trans_count, action)
    {
        $.ajax({
            url: '<%= domain_url %>frequent_transactions_report/multi_currency_transactions?fromdate='+fromdate+'&todate='+todate+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        var buttons_arr = new Array();

                        if("<%= pos_tra_multicurrencytrans.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'MULTIPLE CURRENCY TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD MULTIPLE CURRENCY TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'MULTIPLE CURRENCY TRANSACTION REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'MULTIPLE CURRENCY TRANSACTION REPORT', 
                                customize: function ( doc ) {
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30 
                                    });
                                    doc.content[2].table.widths = ["*", "*", "*"];
                                }
                            });
                        }

                        if("<%= pos_tra_multicurrencytrans.print %>" == "true") {
                            buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title: 'MULTIPLE CURRENCY TRANSACTION REPORT',
                                customize: function ( win ) { 
                                    $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }

                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                        tbl_multiplecurrency = $('#tbl_multiplecurrency').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                //{ "data" : 1 },
                                { "data" : 1,
                                  "render": function(data, type, row, meta){
                                    if(type === 'display' && data > 0) {
                                      data = '<a href="#" style="color:#095790;" onClick="fn_frequent_trans_modal('+"'"+row[0]+"'"+','+"'"+trans_count+"'"+');" >'+data+'</a>';
                                    } else {
                                      data = data;
                                    }
                                    return data;
                                  }                   
                                },
                                { "data" : 2 },
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar2">Blfrtip',
                            "deferRender": true,
                            "order":[[1, 'asc']],
                            "buttons": buttoncollection,
                        });
                        $("div.toolbar2").html('<span class="vis_hidden"><h5>MULTIPLE CURRENCY TRANSACTION : ><select name="report2_fq_multiplecurrency_count" id="report2_fq_multiplecurrency_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="12">12</option><option value="15">15</option><option value="17">17</option><option value="20">20</option></select></h5></span>');

                        $("#report2_fq_multiplecurrency_count").val(trans_count);

                        $("#report2_fq_multiplecurrency_count").change(function(){
                            report2_multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, this.value, "");
                        });
                        elementOverlay("tbl_multiplecurrency", false);
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_tra_multicurrencytrans.report %>" == "true") {
        
        elementOverlay("tbl_multiplecurrency", true);
        report2_multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, 5, "");
    }

    var tbl_fqtransactions_report3;
    var tbl_multiplecurrency_report4;

    var report3_fqtransactions_ajax_loader = function(fromdate, todate, trans_count, action)
    {        
        $.ajax({
            url: '<%= domain_url %>monthly_frequent_transactions_report?fromdate='+fromdate+'&todate='+todate+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        var buttons_arr = new Array();

                        if("<%= pos_mbtra_ft.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD FREQUENT TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'FREQUENT TRANSACTION', 
                                customize: function ( doc ) {
                                console.log(pdf_logo);
                                doc.content.splice(0, 0, {
                                    margin: [ 0, 0, 0, 12],
                                    alignment: 'left',
                                    image:pdf_logo,
                                    width:80, 
                                    height:30 
                                });
                                doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                                }
                            });
                        }
                        if("<%= pos_mbtra_ft.print %>" == "true") {
                            buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'FREQUENT TRANSACTION',
                                customize: function ( win ) { 
                                $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];


                        tbl_fqtransactions_report3 = $('#tbl_fqtransactions_report3').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1 },
                                { "data" : 2 },
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar3">Blfrtip',
                            "order":[[2, 'asc']],
                            "buttons": buttoncollection
                            // "oLanguage": { "sLengthMenu": "Show more than _MENU_ transactions" }                           
                        });
                        $("div.toolbar3").html('<span class="vis_hidden"><h5>FREQUENT TRANSACTION : ><select name="report3_fqt_count" id="report3_fqt_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
                        $("#report3_fqt_count").val(trans_count);

                        $("#report3_fqt_count").change(function(){
                            report3_fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, this.value, "");
                        });
                        elementOverlay("tbl_fqtransactions_report3", false);
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_mbtra_ft.report %>" == "true") {
        
        elementOverlay("tbl_fqtransactions_report3", true);
        report3_fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, 5, "");
    }

    var report4_multiple_currency_ajax_loader = function(fromdate, todate, trans_count, action)
    {
        $.ajax({
            url: '<%= domain_url %>monthly_frequent_transactions_report/monthly_multi_currency_transactions?fromdate='+fromdate+'&todate='+todate+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        var buttons_arr = new Array();
                        if("<%= pos_mbtra_fct.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'MULTIPLE CURRENCY TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD MULTIPLE CURRENCY TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'MULTIPLE CURRENCY TRANSACTION', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'MULTIPLE CURRENCY TRANSACTION', 
                                customize: function ( doc ) {
                                    console.log(pdf_logo);
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30 
                                    });
                                    doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                                }
                            });
                        }
                        if("<%= pos_mbtra_fct.print %>" == "true") {
                            buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'MULTIPLE CURRENCY TRANSACTION',
                                customize: function ( win ) { 
                                $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                        tbl_multiplecurrency_report4 = $('#tbl_multiplecurrency_report4').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1 },
                                { "data" : 2 },
                                { "data" : 3 },
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar4">Blfrtip',
                            "order":[[2, 'asc']],
                            "buttons": buttoncollection
                        });
                        $("div.toolbar4").html('<span class="vis_hidden"><h5>MULTIPLE CURRENCY TRANSACTION : > <select name="report4_fq_multiplecurrency_count" id="report4_fq_multiplecurrency_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="12">12</option><option value="15">15</option><option value="17">17</option><option value="20">20</option></select></h5></span>');

                        $("#report4_fq_multiplecurrency_count").val(trans_count);

                        $("#report4_fq_multiplecurrency_count").change(function(){
                            report4_multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, this.value, "");
                        });
                        elementOverlay("tbl_multiplecurrency_report4", false);
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_mbtra_fct.report %>" == "true") {
        
        elementOverlay("tbl_multiplecurrency_report4", true);
        report4_multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, 5, "");
    }

    $(document).ready(function() {
        if(global_3m_fmdate != '' && global_3m_todate != ''){
            $("#common_full_divider").show();
            // $("#common_img_divider").hide();
        } else {
            $("#common_full_divider").hide();
            // $("#common_img_divider").show();
        }
    });

});

function fn_frequent_trans_modal(custName, trans_count) {
    $(".go_outletcustomerlist_body").css('display','block');
    Overlay(true);
    $('.go_outletcustomerlist_body').load("<%= domain_url %>frequent_transactions_report/customer_risklist_loader?from_date="+global_3m_fmdate+"&to_date="+global_3m_todate+"&Fre_Name="+encodeURI(custName)+"&fre_transactionCount="+trans_count, function(){
        $('#go_ouletcustomerlist_action').modal({show:true});
        Overlay(false);
    });
}
</script>
    
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>