<div class="wg3">	
  <table id="tbl_local_customers" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="border-top: 0!important;">Document No</th>
        <th>Name</th>
        <th>Amount</th>
        <th>RBA</th>
        <th>Outlet</th>
        <th>Action Taken</th>
        <th>Remarks</th>
      </tr>
    </thead>
  </table>
</div>


<script>

$(document).ready(function() {

  $("#progressbar").css('display','block');
  var ajax_loader = function(fromdate, todate, customertype, nationality, datasource_objid)
  {
    console.log("nationality");
    console.log(nationality);
    console.log(customertype);

    var table_local;


    $.ajax({
      type: "GET",
      url: '<%= domain_url %>highrisk_customerlist_report?fromdate='+fromdate+'&todate='+todate+'&nationality='+nationality+'&type='+customertype+'&datasource_objid='+datasource_objid,
      dataType: 'json',
      success: function (obj, textstatus) {

        var dataSet = new Array;
        if (!('error' in obj)) {
        
          $.each(obj, function (index, value) {
            var tempArray = new Array;

            for (var o in value) {

              if(o=="Transaction Date")
              {
                var transsplit = (value[o]=='' || value[o]==undefined) ? "" : (value[o]).split("T");
                tempArray.push(transsplit[0]);
              }
              else
              {
                tempArray.push(value[o]);
              }
            }
            dataSet.push(tempArray);
          });

          $("#progressbar").css('display','none');

          if(nationality == 'MALAYSIA' && customertype == 'BUSINESSES')
          {
            table_local = $('#tbl_local_customers').DataTable({
              data: dataSet,
              columns : [
                { "title": "DOCUMENT NO" , "data" : 3 },
                { "title": "BUSINESSES CUSTOMER", "data" : 1 },
                { "title": "AMOUNT", "data" : 4, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                { "title": "RBA", "data" : 8 },
                { "title": "OUTLET", "data" : 7 },
                { 
                    "title": "ACTION TAKEN", 
                    "data" : 9,
                    "render": function(data, type, row, meta){
                                currentSelectBoxID = row[0];
                                // var selectBox="<select id ='test'>";
                                var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)'>";
                                    if(data === undefined || data === null || data === '')
                                    {
                                        selectBox+="<option selected='true' disabled='disabled'>Select Action</option>"
                                        selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                        selectBox+="<option value='2'>Suspicious?</option>"
                                        selectBox+="<option value='3'>BGC</option>"
                                        selectBox+="<option value='4'>Q & A</option>"
                                        selectBox+="<option value='5'>Requested document</option>"
                                        selectBox+="<option value='6'>Keep on Monitoring</option>"
                                    }
                                    else
                                    {
                                        if(data === 1 || data === "1")
                                        {
                                            selectBox+="<option selected='true' value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 2 || data === "2")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option selected='true' value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 3 || data === "3")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option selected='true' value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 4 || data === "4")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option selected='true' value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 5 || data === "5")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option selected='true' value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 6 || data === "6")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option selected='true' value='6'>Keep on Monitoring</option>"
                                        }
                                    }
                                    selectBox+="</select>";
                
                                return selectBox;
                              } 
                  },
                  {
                    "title": "REMARKS", 
                    "data" : 10,
                    "render": function(data, type, row, meta)
                              {
                                  if(data === undefined || data === null || data === '')
                                  {
                                      return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                                  }
                                  else
                                  {
                                      return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                                  }
                                  
                              } 
                  }
              ],
              "processing": true,
              "searching": false, 
              "paging": true,
              "ordering":false,
              "info":false,
              "destroy": true
            });
          }
          else
          {
            table_local = $('#tbl_local_customers').DataTable({
              data: dataSet,
              columns : [
                { "title": "DOCUMENT NO" , "data" : 3 },
                { "title": "INDIVIDUAL CUSTOMER", "data" : 1 },
                { "title": "AMOUNT", "data" : 4, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); }},
                { "title": "RBA", "data" : 8 },
                { "title": "OUTLET", "data" : 7 },
                { 
                    "title": "ACTION TAKEN", 
                    "data" : 9,
                    "render": function(data, type, row, meta){
                                currentSelectBoxID = row[0];
                                // var selectBox="<select id ='test'>";
                                var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)'>";
                                    if(data === undefined || data === null || data === '')
                                    {
                                        selectBox+="<option selected='true' disabled='disabled'>Select Action</option>"
                                        selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                        selectBox+="<option value='2'>Suspicious?</option>"
                                        selectBox+="<option value='3'>BGC</option>"
                                        selectBox+="<option value='4'>Q & A</option>"
                                        selectBox+="<option value='5'>Requested document</option>"
                                        selectBox+="<option value='6'>Keep on Monitoring</option>"
                                    }
                                    else
                                    {
                                        if(data === 1 || data === "1")
                                        {
                                            selectBox+="<option selected='true' value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 2 || data === "2")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option selected='true' value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 3 || data === "3")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option selected='true' value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 4 || data === "4")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option selected='true' value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 5 || data === "5")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option selected='true' value='5'>Requested document</option>"
                                            selectBox+="<option value='6'>Keep on Monitoring</option>"
                                        }
                                        else if(data === 6 || data === "6")
                                        {
                                            selectBox+="<option value='1'>Document in Hand(Addtl. docs)</option>"
                                            selectBox+="<option value='2'>Suspicious?</option>"
                                            selectBox+="<option value='3'>BGC</option>"
                                            selectBox+="<option value='4'>Q & A</option>"
                                            selectBox+="<option value='5'>Requested document</option>"
                                            selectBox+="<option selected='true' value='6'>Keep on Monitoring</option>"
                                        }
                                    }
                                    selectBox+="</select>";
                
                                return selectBox;
                              } 
                  },
                  {
                    "title": "REMARKS", 
                    "data" : 10,
                    "render": function(data, type, row, meta)
                              {
                                  if(data === undefined || data === null || data === '')
                                  {
                                      return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                                  }
                                  else
                                  {
                                      return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                                  }
                                  
                              } 
                  }
              ],
              "processing": true,
              "searching": false, 
              "paging": true,
              "ordering":false,
              "info":false,
              "destroy": true
            });
          }
        }
        else 
        {
          alert(obj.error);
        }
      },
      error: function (obj, textstatus) {
        console.log("error in ajax");
        console.log(obj.msg);
      }
    });       
  }

  $("#progressbar").css('display','block');
  ajax_loader('<%= fromdate %>', '<%= todate %>', '<%= type %>', '<%= nationality %>', '<%= datasource_objid %>'); 

});

function updateRemarks(writtenRemark)
{
    var writtenRemarkValue = writtenRemark.value;
    var writtenRemarkArr=writtenRemark.id.split("`~!@#");
    var writtenRemarkId = writtenRemarkArr[0];
    var existingValue = writtenRemarkArr[1];
    if(writtenRemarkValue !== '' || writtenRemarkValue !== undefined || writtenRemarkValue !== null)
    {
        if(writtenRemarkValue !== existingValue)
        {
            $.ajax({
                type: "PUT",
                url: '<%= domain_url %>transactionrangereport/updateRemarks?remarkId='+writtenRemarkId+'&remarkValue='+writtenRemarkValue,
                dataType: "json",
                data: {},
                success: function(id) {
                    alert('Successfully updated');
                },
                error: function(jqXHR, textstatus, errorThrown) {
                    alert('text status ' + textstatus + ', err ' + errorThrown);
                }
            });
        }
    }
}

function upadteAction(selectObject) {
    var selectedValue = selectObject.value;
    var selectedId=selectObject.id;
     /*type: "GET",
    cache : false,
    processData: false,*/
    $.ajax({
        type: "PUT",
        url: '<%= domain_url %>transactionrangereport/updateActionTaken?actionId='+selectedId+'&actionValue='+selectedValue,
        dataType: "json",
        data: {},
        success: function(id) {
            alert('Successfully updated');
        },
        error: function(jqXHR, textstatus, errorThrown) {
            alert('text status ' + textstatus + ', err ' + errorThrown);
        }
    });
}


</script>
