<%- include partials/header.ejs %>
<style>
    #tbl_outlet_highrisk tbody tr td:nth-child(2){
        text-align:center;
    }
    #tbl_local_individual tbody tr td:nth-child(3){
        text-align:right;
    }
    #tbl_foreign tbody tr td:nth-child(4){
        text-align:right;
    }
    #tbl_local_business tbody tr td:nth-child(3){
        text-align:right;
    }
</style>
<!--main-container-part-->
<div id="content">

    <link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
    <script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
    <script src="<%= domain_url %>js/select2.js"></script> 

    <div class="row-fluid">
        <div class="widget-content nopadding"><br/>
        <form id="filter" name="filter" class="form-horizontal">

            <div class="control-group">
            <div class="controls-1" style="margin-bottom:30px;">

                <div data-date="" class="input-append date datepicker" id="from_datepicker">
                <label class="control-label-1">From</label>
                <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
                <span class="add-on"><i class="icon-th"></i></span> 
                </div>

                <div data-date="" class="input-append date datepicker" id="to_datepicker">
                <label class="control-label-1">To</label>
                <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
                <span class="add-on"><i class="icon-th"></i></span> 
                </div>
                    
                <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 

            </div>
            </div>        

        </form>
        </div>
    </div>

<script>
    
    var global_dater = new Date();

    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();
    } else {
        var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }
</script>


<!--Action boxes-->
<div class="container-fluid wg3-div" id="common_full_divider" style="display:none;">

    <% if(pos_hncoutlet_rmrange.report) { %>    
    <div class="row-fluid">
        <div class="span12 margin_m_24 hv-trans">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">OVERALL OUTLET HIGHRISK : RM RANGE > <span id="OOHspan"></span></h5>
                </div>
                <div class="widget-content">
                    <div class="wg3">
                        <table id="tbl_outlet_highrisk" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Outlet</th>
                                    <th>H.R.C</th>
                                    <!-- <th>Month wise HRC transactions</th> -->
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="total_fnt"></th>
                                    <th class="total_fnt"></th>
                                    <!-- <th class="total_fnt"></th> -->
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    <% if(pos_hnclic_rmrange.report) { %>    
    <div class="row-fluid">
        <div class="span12 margin_m_24 hv-trans">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">
                        <!-- <i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse2" ></i>  -->
                LOCAL INDIVIDUAL CUSTOMER : RM RANGE > <span id="LICspan"></span>
                    </h5>
                </div>
                <div class="widget-content collapse in" id="wg3_collapse2">
                    <div class="wg3">
                        <table id="tbl_local_individual" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Document No</th>
                                    <th>Name</th>
                                    <!-- <th>Country</th> -->
                                    <th>Amount</th>
                                    <th>RBA</th>
                                    <th>Outlet</th>
                                    <th>Action Taken</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    <% if(pos_hncfic_rmrange.report) { %>    
    <div class="row-fluid">
        <div class="span12 margin_m_24 hv-trans">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">
                        <!-- <i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse3" ></i> -->
                FOREIGN INDIVIDUALS CUSTOMER : RM RANGE > <span id="FICspan"></span>
                    </h5>
                    <!-- <i id="lc_foreign_cusid" class="icon icon-resize-full" style="float: right; padding: 5px 5px 0 0px; color: #fff; font-size: 18px;"></i>  -->
                </div>
                
                <div class="widget-content collapse in" id="wg3_collapse3">
                    <div class="wg3">
                        <table id="tbl_foreign" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="border-top: 0!important;">Document No</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>RBA</th>
                                    <th>Outlet</th>
                                    <th>Action Taken</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    <% if(pos_hnclbc_rmrange.report) { %>    
    <div class="row-fluid">
        <div class="span12 margin_m_24 hv-trans">
            <div class="widget-box">
                <div class="widget-title bg_ly">
                    <h5 style="display:block;width: 98%;">
                        <!-- <i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse1"></i>  -->
                LOCAL BUSINESS CUSTOMER : RM RANGE > <span id="LBCspan"></span>
                    </h5>
                    
                </div>
                <div class="widget-content collapse in" id="wg3_collapse1">
                    <div class="wg3">
                        <table id="tbl_local_business" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="border-top: 0!important;">Document No</th>
                                    <th>Name</th>
                                    <!-- <th>Country</th> -->
                                    <th>Amount</th>
                                    <th>RBA</th>
                                    <th>Outlet</th>
                                    <th>Action Taken</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

</div>


<!--End-Action boxes-->
<div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
    <div class="row-fluid position-1">
        <div class="span11">
            <img src="
                <%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-center hrt-popup">
    <div id="go_fullview_highrisk_cuslist_action" class="modal fade modal-lg" role="dialog" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeLBC" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title">
                        <i class="fa fa-calendar-o fa-fw"></i>LOCAL CUSTOMERS
                    </h4>
                </div>
                <div id="modalBody" class="ovf go_fullview_highrisk_cuslist_body" style="height:450px;overflow:auto;display: none;" ></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-center hrt-popup">
    <div id="go_ouletcustomerlist_action" class="modal fade modal-lg" role="dialog" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title">
                        <i class="fa fa-calendar-o fa-fw"></i>OVERALL OUTLET HIGHRISK : 
                        <span id="customer_count"></span> Customers carried out 
                        <span id="customerbasedtransaction_count"></span> Transactions 
                    </h4>
                </div>
                <div id="modalBody" class="ovf go_outletcustomerlist_body" style="height:380px;overflow:auto;display: none;" ></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>


<script>

$(document).ready(function() {

    var table_local_business;
    var table_local_individual;
    var table_foreign;
    
    var ajax_loader = function(fromdate, todate, customertype, nationality, rmAction)
    {
      $.ajax({
        type: "GET",
        url: '<%= domain_url %>high_network_customer_report?fromdate='+fromdate+'&todate='+todate+'&nationality='+nationality+'&type='+customertype+'&action='+rmAction,
        dataType: 'json',
        success: function (obj, textstatus) {

          var dataSet = new Array;
          if (!('error' in obj)) {
          
            $.each(obj, function (index, value) {
              var tempArray = new Array;

              for (var o in value) {

                if(o=="Transaction Date") {
                  var transsplit = (value[o]=='' || value[o]==undefined) ? "" : (value[o]).split("T");
                  tempArray.push(transsplit[0]);
                } else if(o=="Exchange Amount") {
                  var transsplit = (value[o]=='' || value[o]==undefined) ? "" : (value[o]).toFixed(2);
                  tempArray.push(transsplit);
                } else {
                  tempArray.push(value[o]);
                }
              }
              dataSet.push(tempArray);
            });

            var buttonCommon = {
              exportOptions: {
                format: {
                  body: function ( data, row, column, node ) {
                    if(column==5) {
                        var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                        var option = ($('option:selected', a).text()=="Select Action") ? "" : $('option:selected', a).text();
                        return option;
                    } else if(column==6) {
                        var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                        return a[0].value;
                    } else {
                        return data;
                    }
                  }
                }
              }
            };            
            var buttonCommon_foreign = {
              exportOptions: {
                format: {
                  body: function ( data, row, column, node ) {
                    if(column==6) {
                        var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                        var option = ($('option:selected', a).text()=="Select Action") ? "" : $('option:selected', a).text();
                        return option;
                    } else if(column==7) {
                        var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                        return a[0].value;
                    } else {
                        return data;
                    }
                  }
                }
              }
            };            
            
            if(nationality == 'MALAYSIA' && customertype == 'BUSINESSES')
            {
                var buttons_arr = new Array();
                if("<%= pos_hnclbc_rmrange.download %>" == "true") {

                    buttons_arr.push($.extend( true, {}, buttonCommon, 
                        { extend:'pdf', title:'LOCAL BUSINESS CUSTOMER', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'LOCAL BUSINESS CUSTOMER', 
                            customize: function ( doc ) {
                                console.log(pdf_logo);
                                doc.content.splice(0, 0, {
                                    margin: [ 0, 0, 0, 12],
                                    alignment: 'left',
                                    image:pdf_logo,
                                    width:80, 
                                    height:30 
                                });
                                // doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                            }
                        }
                    ));
                    buttons_arr.push($.extend( true, {}, buttonCommon, 
                        {extend:'excel', title:'LOCAL BUSINESS CUSTOMER', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD LOCAL BUSINESS CUSTOMER'},
                    ));
                }
                if("<%= pos_hnclbc_rmrange.print %>" == "true") {
                    buttons_arr.push($.extend( true, {}, buttonCommon, 
                        {extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'LOCAL BUSINESS CUSTOMER',
                            customize: function ( win ) { 
                            $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                            }
                        },
                    ));
                }
                var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                
                table_local_business = $('#tbl_local_business').DataTable({
                    data: dataSet,
                    columns : [
                    { "title": "DOC.NO" , "data" : 3 },
                    { "title": "CUSTOMER NAME", "data" : 1 },
                    { "title": "AMOUNT", "data" : 4 },
                    { "title": "RBA", "data" : 8 },
                    { "title": "OUTLET", "data" : 7 },
                    { 
                        "title": "ACTION TAKEN", 
                        "data" : 9,
                        "render": function(data, type, row, meta){
                            currentSelectBoxID = row[0];
                            // var selectBox="<select id ='test'>";
                            var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)'>";
                            selectBox+="<option "+((data === undefined || data === null || data === '') ? "selected='true'" : "")+" value='' selected='true' disabled='disabled'>Select Action</option>"
                            selectBox+="<option "+((data === 1 || data === "1") ? "selected='true'" : "")+" value='1'>Document in Hand(Addtl. docs)</option>"
                            selectBox+="<option "+((data === 2 || data === "2") ? "selected='true'" : "")+" value='2'>Suspicious?</option>"
                            selectBox+="<option "+((data === 3 || data === "3") ? "selected='true'" : "")+" value='3'>BGC</option>"
                            selectBox+="<option "+((data === 4 || data === "4") ? "selected='true'" : "")+" value='4'>Q & A</option>"
                            selectBox+="<option "+((data === 5 || data === "5") ? "selected='true'" : "")+" value='5'>Requested document</option>"
                            selectBox+="<option "+((data === 6 || data === "6") ? "selected='true'" : "")+" value='6'>Keep on Monitoring</option>"
                            selectBox+="</select>";
                            return selectBox;
                        } 
                    },
                    {
                        "title": "REMARKS", 
                        "data" : 10,
                        "render": function(data, type, row, meta) {
                            if(data === undefined || data === null || data === '') {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                            } else {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                            }
                        } 
                    }
                    ],
                    "processing": true,
                    "searching": false, 
                    "paging": true,
                    "ordering":false,
                    "info":true,
                    "destroy": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [10, 25, 50, 75, 100],
                    "dom": '<"toolbar">Blfrtip',
                    "buttons": buttoncollection
                });
                $("div.toolbar").html('<span class="vis_hidden"><h5>LOCAL BUSINESS CUSTOMER : RM RANGE > ><select name="rmrange_amountLBC" id="rmrange_amountLBC" style=" margin:0; width: auto;position:relative;top:-2px;" ><option value="rmk_ten">10K</option><option value="rmk_twenty">20K</option><option value="rmk_thirty">30K</option><option value="rmk_fourty">40K</option><option value="rmk_fifty">50K</option></select></h5></span>');
                $("#rmrange_amountLBC").val(rmAction);
                //$("#LBCspan").html($("#rmrange_amountLBC option:selected").text());
                $("#rmrange_amountLBC").change(function(){
                    ajax_loader(global_3m_fmdate, global_3m_todate, "BUSINESSES", "MALAYSIA", this.value);
                });
                elementOverlay("tbl_local_business", false);
            }
            else if(nationality == 'MALAYSIA' && customertype != 'BUSINESSES')
            {
                var buttons_arr = new Array();

                if("<%= pos_hnclic_rmrange.download %>" == "true") {
                    buttons_arr.push($.extend( true, {}, buttonCommon, 
                        {extend:'excel', title:'LOCAL INDIVIDUAL CUSTOMER', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD LOCAL INDIVIDUAL CUSTOMER'},
                    ));
                    buttons_arr.push($.extend( true, {}, buttonCommon, { extend:'pdf', title:'LOCAL INDIVIDUAL CUSTOMER', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'LOCAL INDIVIDUAL CUSTOMER', 
                            customize: function ( doc ) {
                                console.log(pdf_logo);
                                doc.content.splice(0, 0, {
                                    margin: [ 0, 0, 0, 12],
                                    alignment: 'left',
                                    image:pdf_logo,
                                    width:80, 
                                    height:30 
                                });
                                // doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                            }
                        }
                    ));
                }
                if("<%= pos_hnclic_rmrange.print %>" == "true") {
                    buttons_arr.push($.extend( true, {}, buttonCommon, {extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'LOCAL INDIVIDUAL CUSTOMER',
                            customize: function ( win ) { 
                                $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                            }
                        },
                    ));
                }

                var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                table_local_individual = $('#tbl_local_individual').DataTable({
                    data: dataSet,
                    columns : [
                    { "title": "DOC.NO" , "data" : 3 },
                    { "title": "CUSTOMER NAME", "data" : 1 },
                    // { "title": "COUNTRY", "data" : 5 },
                    { "title": "AMOUNT", "data" : 4 },
                    { "title": "RBA", "data" : 8 },
                    { "title": "OUTLET", "data" : 7 },
                    { 
                        "title": "ACTION TAKEN", 
                        "data" : 9,
                        "render": function(data, type, row, meta){
                            currentSelectBoxID = row[0];
                            // var selectBox="<select id ='test'>";
                            var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)'>";
                            selectBox+="<option "+((data === undefined || data === null || data === '') ? "selected='true'" : "")+" value='' selected='true' disabled='disabled'>Select Action</option>"
                            selectBox+="<option "+((data === 1 || data === "1") ? "selected='true'" : "")+" value='1'>Document in Hand(Addtl. docs)</option>"
                            selectBox+="<option "+((data === 2 || data === "2") ? "selected='true'" : "")+" value='2'>Suspicious?</option>"
                            selectBox+="<option "+((data === 3 || data === "3") ? "selected='true'" : "")+" value='3'>BGC</option>"
                            selectBox+="<option "+((data === 4 || data === "4") ? "selected='true'" : "")+" value='4'>Q & A</option>"
                            selectBox+="<option "+((data === 5 || data === "5") ? "selected='true'" : "")+" value='5'>Requested document</option>"
                            selectBox+="<option "+((data === 6 || data === "6") ? "selected='true'" : "")+" value='6'>Keep on Monitoring</option>"
                            selectBox+="</select>";
                            return selectBox;
                        } 
                    },
                    {
                        "title": "REMARKS", 
                        "data" : 10,
                        "render": function(data, type, row, meta) {
                            if(data === undefined || data === null || data === '') {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                            } else {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                            }
                        } 
                    }
                    ],
                    "processing": true,
                    "searching": false, 
                    "paging": true,
                    "ordering":false,
                    "info":true,
                    "destroy": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [10, 25, 50, 75, 100],
                    "dom": '<"toolbar1">Blfrtip',
                    "buttons":buttoncollection
                });
                $("div.toolbar1").html('<span class="vis_hidden"><h5>LOCAL INDIVIDUAL CUSTOMER : RM RANGE > ><select name="rmrange_amountLIC" id="rmrange_amountLIC" style=" margin:0; width: auto;position:relative;top:-2px;" ><option value="rmk_ten">10K</option><option value="rmk_twenty">20K</option><option value="rmk_thirty">30K</option><option value="rmk_fourty">40K</option><option value="rmk_fifty">50K</option></select></h5></span>');
                $("#rmrange_amountLIC").val(rmAction);
                $("#rmrange_amountLIC").change(function(){
                    ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "MALAYSIA", this.value);
                });
                elementOverlay("tbl_local_individual", false);
            }
            else
            {
                var buttons_arr = new Array();

                if("<%= pos_hncfic_rmrange.download %>" == "true") {
                    buttons_arr.push($.extend( true, {}, buttonCommon_foreign, 
                        {extend:'excel', title:'FOREIGN INDIVIDUALS CUSTOMERS',footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD FOREIGN INDIVIDUALS CUSTOMERS'},
                    ));
                    buttons_arr.push($.extend( true, {}, buttonCommon_foreign, 
                        { extend:'pdf', title:'FOREIGN INDIVIDUALS CUSTOMERS', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'FOREIGN INDIVIDUALS CUSTOMERS', 
                            customize: function ( doc ) {
                                console.log(pdf_logo);
                                doc.content.splice(0, 0, {
                                    margin: [ 0, 0, 0, 12],
                                    alignment: 'left',
                                    image:pdf_logo,
                                    width:80, 
                                    height:30 
                                });
                                // doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                            }
                        }
                    ));
                }
                if("<%= pos_hncfic_rmrange.print %>" == "true") {
                    buttons_arr.push($.extend( true, {}, buttonCommon_foreign, 
                        {extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'FOREIGN INDIVIDUALS CUSTOMERS',
                            customize: function ( win ) { 
                            $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                            }
                        },
                    ));
                }
                var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                table_foreign = $('#tbl_foreign').DataTable({
                    data: dataSet,
                    columns : [
                    { "title": "DOC.NO" , "data" : 3 },
                    { "title": "CUSTOMER NAME", "data" : 1 },
                    { "title": "COUNTRY", "data" : 5 },
                    { "title": "AMOUNT", "data" : 4 },
                    { "title": "RBA", "data" : 8 },
                    { "title": "OUTLET", "data" : 7 },
                    { 
                        "title": "ACTION TAKEN", 
                        "data" : 9,
                        "render": function(data, type, row, meta){
                            currentSelectBoxID = row[0];
                            // var selectBox="<select id ='test'>";
                            var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)'>";
                            selectBox+="<option "+((data === undefined || data === null || data === '') ? "selected='true'" : "")+" value='' selected='true' disabled='disabled'>Select Action</option>"
                            selectBox+="<option "+((data === 1 || data === "1") ? "selected='true'" : "")+" value='1'>Document in Hand(Addtl. docs)</option>"
                            selectBox+="<option "+((data === 2 || data === "2") ? "selected='true'" : "")+" value='2'>Suspicious?</option>"
                            selectBox+="<option "+((data === 3 || data === "3") ? "selected='true'" : "")+" value='3'>BGC</option>"
                            selectBox+="<option "+((data === 4 || data === "4") ? "selected='true'" : "")+" value='4'>Q & A</option>"
                            selectBox+="<option "+((data === 5 || data === "5") ? "selected='true'" : "")+" value='5'>Requested document</option>"
                            selectBox+="<option "+((data === 6 || data === "6") ? "selected='true'" : "")+" value='6'>Keep on Monitoring</option>"
                            selectBox+="</select>";
                            return selectBox;
                        } 
                    },
                    {
                        "title": "REMARKS", 
                        "data" : 10,
                        "render": function(data, type, row, meta) {
                            if(data === undefined || data === null || data === '') {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                            } else {
                                return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                            }
                        } 
                    }
                    ],
                    "processing": true,
                    "searching": false, 
                    "paging": true,
                    "ordering":false,
                    "info":true,
                    "destroy": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [10, 25, 50, 75, 100],
                    "dom": '<"toolbar2">Blfrtip',
                    "buttons": buttoncollection
                });
                $("div.toolbar2").html('<span class="vis_hidden"><h5>FOREIGN INDIVIDUALS CUSTOMERS : RM RANGE > ><select name="rmrange_amountFIC" id="rmrange_amountFIC" style=" margin:0; width: auto;position:relative;top:-2px;" ><option value="rmk_ten">10K</option><option value="rmk_twenty">20K</option><option value="rmk_thirty">30K</option><option value="rmk_fourty">40K</option><option value="rmk_fifty">50K</option></select></h5></span>');
                $("#rmrange_amountFIC").val(rmAction);
                $("#rmrange_amountFIC").change(function(){
                    ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "FOREIGN", this.value);
                });
                elementOverlay("tbl_foreign", false);
            }
          } else {
            alert(obj.error);
          }
        },
        error: function (obj, textstatus) {
          console.log("error in ajax");
          console.log(obj.msg);
        }
      });       
    }
    if("<%= pos_hnclbc_rmrange.report %>" == "true") {
        
        elementOverlay("tbl_local_business", true);
        ajax_loader(global_3m_fmdate, global_3m_todate, "BUSINESSES", "MALAYSIA", "rmk_thirty"); 
    }
    if("<%= pos_hnclic_rmrange.report %>" == "true") {
        
        elementOverlay("tbl_local_individual", true);
        ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "MALAYSIA", "rmk_thirty"); 
    }
    if("<%= pos_hncfic_rmrange.report %>" == "true") {
        
        elementOverlay("tbl_foreign", true);
        ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "FOREIGN", "rmk_thirty"); 
    }    

    var table;
    var ajax_loader_outlet = function (fromdate, todate, rmAction)
    {
      $.ajax({
        type: "GET",
        url: '<%= domain_url %>network_outlet_highriskreport?fromdate='+fromdate+'&todate='+todate+'&action='+rmAction,
        dataType: 'json',
        success: function (obj, textstatus) {

          var dataSet = new Array;

          if (!('error' in obj)) {
            
            var buttons_arr = new Array();
            if("<%= pos_hncoutlet_rmrange.download %>" == "true") {
                buttons_arr.push({extend:'excel', title:'OVERALL OUTLET HIGHRISK', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD OVERALL OUTLET HIGHRISK'});
                buttons_arr.push({ extend:'pdf', title:'OVERALL OUTLET HIGHRISK', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'OVERALL OUTLET HIGHRISK', 
                    customize: function ( doc ) {
                        console.log(pdf_logo);
                        doc.content.splice(0, 0, {
                            margin: [ 0, 0, 0, 12],
                            alignment: 'left',
                            image:pdf_logo,
                            width:80, 
                            height:30 
                        });
                    }
                });
            }
            if("<%= pos_hncoutlet_rmrange.print %>" == "true") {
                buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'OVERALL OUTLET HIGHRISK',
                    customize: function ( win ) { 
                        $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                    }
                });
            }
            var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

            console.log(obj);

            table = $('#tbl_outlet_highrisk').DataTable({
                data: obj,
                columns : [
                    { "data" : 0 },
                    { "data" : 1,
                      "render": function(data, type, row, meta){
                        //   alert(row)
                        if(type === 'display' && data > 0) {
                          data = '<a href="#" style="color:#095790;" onClick="fn_outletcustomerlist_modal('+"'"+row[0]+"'"+','+"'"+data+"'"+','+"'"+rmAction+"'"+');" >'+data+'</a>';
                        } else {
                          data = data;
                        }
                        return data;
                      }                   
                    },
                ],
                "footerCallback": function ( row, data, start, end, display ) {

                    var api = this.api(), data;
        
                    // converting to interger to find total
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ? i : 0;
                    };

                    // computing column Total of the complete result 
                    var a1 = api.column( 1 ).data().reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                    // Update footer by showing the total with the reference of the column index 
                    $( api.column( 0 ).footer() ).html('Total');
                    $( api.column( 1 ).footer() ).html(a1);
                },
                "processing": false,
                "searching": false, 
                "paging": true,
                "ordering":false,
                "info":true,
                "destroy": true,
                "pagingType": "full_numbers",
                "lengthMenu": [10, 25, 50, 75, 100],
                "dom": '<"toolbar3">Blfrtip',
                "buttons": buttoncollection
            });
            $("div.toolbar3").html('<span class="vis_hidden"><h5>OVERALL OUTLET HIGHRISK : RM RANGE > ><select name="rmrange_amountOOH" id="rmrange_amountOOH" style=" margin:0; width: auto;position:relative;top:-2px;" ><option value="rmk_ten">10K</option><option value="rmk_twenty">20K</option><option value="rmk_thirty">30K</option><option value="rmk_fourty">40K</option><option value="rmk_fifty">50K</option></select></h5></span>');
            $("#rmrange_amountOOH").val(rmAction);
            $("#rmrange_amountOOH").change(function(){
                ajax_loader_outlet(global_3m_fmdate, global_3m_todate, this.value);
            });
            elementOverlay("tbl_outlet_highrisk", false);
            
          } else {
            alert(obj.error);
          }
        },
        error: function (obj, textstatus) {
          console.log("error in ajax");
          console.log(obj.msg);
        }
      });

    }
    
    if("<%= pos_hncoutlet_rmrange.report %>" == "true") {
        elementOverlay("tbl_outlet_highrisk", true);
        ajax_loader_outlet(global_3m_fmdate, global_3m_todate, "rmk_thirty");
    }

});

function fn_outletcustomerlist_modal(outletname, customer_count,rmAction)
{
    $(".go_outletcustomerlist_body").css('display','block');
    Overlay(true);
    $('.go_outletcustomerlist_body').load("<%= domain_url %>network_outlet_highriskreport/customer_risklist_loader?fromdate="+global_3m_fmdate+"&todate="+global_3m_todate+"&outlet_name="+encodeURI(outletname)+"&action="+rmAction, function(){
        $('#go_ouletcustomerlist_action').modal({show:true});
        $("#customer_count").html(customer_count);
        Overlay(false);
    });
}
$(document).ready(function() {
    if(global_3m_fmdate != '' && global_3m_todate != ''){
        $("#common_full_divider").show();
        // $("#common_img_divider").hide();
    } else {
        $("#common_full_divider").hide();
        // $("#common_img_divider").show();
    }
});

</script>
    
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>