<%- include partials/header.ejs %>
<style>

#tbl_buysell tbody tr td:nth-child(4),#tbl_buysell tbody tr td:nth-child(8),#tbl_buysell tbody tr td:nth-child(12){
    text-align:right;
}
#tbl_transaction_range tbody tr td:nth-child(4){
    text-align:right;
}
#tbl_morethan30k tbody tr td:nth-child(2){
    text-align:right;
}
#tbl_buysell tfoot tr th:nth-child(4), #tbl_buysell tfoot tr th:nth-child(8), #tbl_buysell tfoot tr th:nth-child(12){
    text-align: right;
    padding-right: 10px;
}
#tbl_transaction_range tfoot tr th:nth-child(4) {
    text-align: right;
    padding-right: 10px;
}
#tbl_morethan30k tbody tr td:nth-child(2){
    text-align: right;
}

</style>
<!--main-container-part-->
<div id="content">

    <link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
    <script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
    <script src="<%= domain_url %>js/select2.js"></script> 

    <div class="row-fluid">
        <div class="widget-content nopadding"><br/>
        <form id="filter" name="filter" class="form-horizontal">

            <div class="control-group">
            <div class="controls-1" style="margin-bottom:30px;">
                
                <div data-date="" class="input-append date datepicker" id="from_datepicker">
                <label class="control-label-1">From</label>
                <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
                <span class="add-on"><i class="icon-th"></i></span> 
                </div>

                <div data-date="" class="input-append date datepicker" id="to_datepicker">
                <label class="control-label-1">To</label>
                <input id="todate" name="todate" type="text" value=""  class="span12" autocomplete="off">
                <span class="add-on"><i class="icon-th"></i></span> 
                </div>
                    
                <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 
            </div>
            </div>        

        </form>
        </div>
    </div>


    <script>
    
    var global_dater = new Date();

    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });
    
    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1);
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();
    } else {
        var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }

    </script>
    
    <!--Action boxes-->
    <div class="container-fluid wg1-div" id="common_full_divider" style="display:none;" >

        <% if(pos_buysell.report) { %>
        <div class="row-fluid">
            <div class="span12 margin_m_24">
                <div class="widget-box">
                    <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 90%;">Buysell Transactions <!--<i id="buysell_loader_id" class="icon icon-fullscreen" style="float: right;"></i>--></h5>
                    </div>
                    <div class="widget-content">
                    <div class="wg1">	
                    <table id="tbl_buysell" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th style="border-top: 0!important;">CATEGORIES OF CUSTOMERS</th>
                        <th>TRANS</th>
                        <th>(%)</th>
                        <th>PURCHASE TRANS AMOUNT</th>
                        <th>(%)</th>
                        <th>TRANS</th>
                        <th>(%)</th>
                        <th>SALES TRANS AMOUNT</th>
                        <th>(%)</th>
                        <th>TRANS</th>
                        <th>(%)</th>
                        <th>TOTAL TRANS AMOUNT</th>
                        <th>(%)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                            <th class="total_fnt"></th>
                        </tr>
                    </tfoot>        
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% if(pos_rmrange.report || pos_cusrisk.report) { %>
        <div class="row-fluid position-1">
            <% if(pos_rmrange.report) { %>

            <div class="span6 margin_m_8">
            <div class="widget-box">
                <div class="widget-title bg_lb">
                <h5 style="display: block;width: 97%;" >RM Range <!--<i id="transactionrange_loader_id" class="icon icon-fullscreen" style="float: right;"></i>--> </h5>
                </div>
                <div class="widget-content">

                <div class="wg11">	
                <table id="tbl_transaction_range" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    <th>TRANSACTION RANGE</th>
                    <th>FREQUENCY</th>
                    <th>%</th>
                    <th>AMOUNT</th>
                    <th>(%)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                    </tr>
                </tfoot>        
                </table>
                </div>

                </div>
            </div>        
            </div>

            <% } %>
            <% if(pos_cusrisk.report) { %>

            <div class="span6 margin_m_8">
            <div class="widget-box">
                <div class="widget-title bg_lb">
                <h5 style="display: block;width: 97%;" >Customer Risk <!--<i id="customerrisk_loader_id" class="icon icon-fullscreen" style="float: right;"></i>--> </h5>
                </div>
                <div class="widget-content">

                <div class="wg11">	
                <table id="tbl_customerrisk" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    <th>RISK LEVEL</th>
                    <th>NO. CUSTOMERS</th>
                    <th>(%)</th>
                    <th>TRANSACTION</th>
                    <th>(%)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                        <th class="total_fnt"></th>
                    </tr>
                </tfoot>        
                </table>
                </div>
                </div>
            </div>        
            </div>
            <% } %>
        </div>
        <% } %>

        <% if(pos_hightransrmrange.report) { %>
        <div class="row-fluid">
            <div class="span12 margin_m_24 hv-trans">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                <h5 style="display: block;width: 98%;">HIGH VALUE TRANSACTION : RM RANGE > <!--<i id="buysell_loader_id" class="icon icon-fullscreen" style="float: right;"></i>-->
                </h5>
                </div>
                <div class="widget-content">
                <div class="wg3">	
                <table id="tbl_morethan30k" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    <th>NAME</th>
                    <th>AMOUNT</th>
                    <th>BUYSELL</th>
                    <th>DATETIME</th>
                    <th>SOURCE</th>
                    <th>PURPOSE</th>
                    <th>ACTION TAKEN</th>
                    <th>REMARKS</th>
                    </tr>
                </thead>
                </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        <% } %>
    
    </div>

    <!--End-Action boxes-->
    <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
        <div class="row-fluid position-1">
        <div class="span11">
            <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
        </div>
        </div>
    </div>
        
</div>

<div class="modal-center">
    <div id="go_buysell_action" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
                <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>BUYSELL TRANSACTIONS</h4>
            </div>
            
            <div id="modalBody" class="ovf go_buysell_action_body"></div>
            <div class="modal-footer"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal-center">
    <div id="go_tranactionrange_action" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
                <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>RM RANGE</h4>
            </div>
            
            <div id="modalBody" class="ovf go_tranactionrange_body"></div>
            <div class="modal-footer"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal-center">
    <div id="go_customerrisk_action" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
                <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>CUSTOMER RISK</h4>
            </div>
            
            <div id="modalBody" class="ovf go_customerrisk_body"></div>
            <div class="modal-footer"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal-center hrt-popup">

    <div id="go_customerlist_action" class="modal fade modal-lg" role="dialog" >
        <div class="modal-dialog" >
            <div class="modal-content">
                
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
                <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>HIGHRISK CUSTOMER TRANSACTIONS : <span id="customer_count"></span> Customers carried out <span id="customerbasedtransaction_count"></span> Transactions</h4>
            </div>
            
            <div id="modalBody" class="ovf go_customerlist_body" style="height:450px;overflow:auto;display: none;" >
            </div>
            <div class="modal-footer"></div>
        
            </div>
        </div>
    </div>    
</div>


<script>

$(document).ready(function() {

    var table_buysell;
    var transrange_table;
    var customerrisk_table;
    var tbl_morethan30k;

    var buysell_ajax_loader = function(fromdate, todate)
    {
        $.ajax({
            url: '<%= domain_url %>buysell?fromdate='+fromdate+'&todate='+todate+'&exc_amount=3000',
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true)
                {
                    var dataSet = new Array;

                    if (!('error' in obj)) {

                        if(obj.status != "failed")
                        {
                            $.each(obj, function (index, value) {
                                var tempArray = new Array;
                                for (var o in value) {
                                    tempArray.push(value[o]);
                                }
                                dataSet.push(tempArray);
                            });
                        }
                        

                        elementOverlay("tbl_buysell", false);

                        var buttons_arr = new Array();
                        if("<%= pos_buysell.download %>" == "true") {

                            buttons_arr.push({extend:'excel', title:'BUYSELL TRANSACTIONS',footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD BUYSELL TRANSACTIONS'});
                            buttons_arr.push({ extend:'pdf', title: 'BUYSELL TRANSACTIONS REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'BUYSELL TRANSACTIONS REPORT', 
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                customize: function ( doc ) {
                                    console.log(pdf_logo);
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30,
                                    });
                                // doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                                }
                            });
                        }
                        if("<%= pos_buysell.print %>" == "true") {
                            buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'BUYSELL TRANSACTIONS REPORT',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                customize: function ( win ) { 
                                    $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                        table_buysell = $('#tbl_buysell').DataTable({
                            data: dataSet,
                            columns : [
                                { "data" : 0 },
                                { "data" : 3 },
                                { "data" : 4 },
                                { "data" : 2, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 5 },
                                { "data" : 8 },
                                { "data" : 9 },
                                { "data" : 7, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 10 },
                                { "data" : 11 },
                                { "data" : 13 },
                                { "data" : 12, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 14 },
                            ],
                            "footerCallback": function ( row, data, start, end, display ) {

                                var api = this.api(), data;
                    
                                // converting to interger to find total
                                var intVal = function ( i ) {
                                    return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ? i : 0;
                                };

                                // computing column Total of the complete result 
                                var a1 = api.column( 1 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                                    
                                var a2 = api.column( 2 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                                
                                var a3 = api.column( 3 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                                    
                                var a4 = api.column( 4 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                                
                                var a5 = api.column( 5 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a6 = api.column( 6 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                                    
                                var a7 = api.column( 7 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a8 = api.column( 8 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a9 = api.column( 9 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a10 = api.column( 10 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a11 = api.column( 11 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                var a12 = api.column( 12 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                                // Update footer by showing the total with the reference of the column index 
                                $( api.column( 0 ).footer() ).html('Total');
                                $( api.column( 1 ).footer() ).html(a1);
                                $( api.column( 2 ).footer() ).html(a2.toFixed(0));
                                $( api.column( 3 ).footer() ).html(a3.toLocaleString("en", {minimumFractionDigits:2}));
                                $( api.column( 4 ).footer() ).html(a4.toFixed(0));
                                $( api.column( 5 ).footer() ).html(a5);
                                $( api.column( 6 ).footer() ).html(a6.toFixed(0));
                                $( api.column( 7 ).footer() ).html(a7.toLocaleString("en", {minimumFractionDigits:2}));
                                $( api.column( 8 ).footer() ).html(a8.toFixed(0));
                                $( api.column( 9 ).footer() ).html(a9);
                                $( api.column( 10 ).footer() ).html(a10.toFixed(0));
                                $( api.column( 11 ).footer() ).html(a11.toLocaleString("en", {minimumFractionDigits:2}));
                                $( api.column( 12 ).footer() ).html(a12.toFixed(0));
                            },
                            "processing": true,
                            "searching": false, 
                            "paging": false,
                            "ordering":false,
                            "info":false,
                            "destroy": true,
                            "dom": 'Blfrtip',
                            "buttons": buttoncollection
                            // "language": {
                            //     "zeroRecords": "No Records Found for corresponding Date"
                            // },
                        });
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_buysell.report %>" == "true") {

        console.log("enabled buysell_ajax_loader")
        
        elementOverlay("tbl_buysell", true);
        

        buysell_ajax_loader(global_3m_fmdate, global_3m_todate);
    } else {
        console.log("disabled buysell_ajax_loader")
    }
    
    var transrange_ajax_loader = function(fromdate, todate)
    {
        $.ajax({

            type: "GET",
            url: '<%= domain_url %>transactionrangereport?fromdate='+fromdate+'&todate='+todate,
            dataType: 'json',
            success: function (obj, textstatus) {

            var dataSet = new Array;

            if (!('error' in obj)) {
                
                if(obj.status != "failed") {
                    $.each(obj, function (index, value) {
                        var tempArray = new Array;
                        for (var o in value) {
                            tempArray.push(value[o]);
                        }
                        dataSet.push(tempArray);
                    });
                }
                
                var buttons_arr = new Array();
                if("<%= pos_rmrange.download %>" == "true") {
                    buttons_arr.push({extend:'excel', title:'RM RANGE', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD RM RANGE'});
                    buttons_arr.push({ extend:'pdf', title: 'RM RANGE REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'RM RANGE REPORT', 
                        customize: function ( doc ) {
                        console.log(pdf_logo);
                        doc.content.splice(0, 0, {
                            margin: [ 0, 0, 0, 12],
                            alignment: 'left',
                            image:pdf_logo,
                            width:80, 
                            height:30 
                        });
                        doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                        }
                    });
                }

                if("<%= pos_rmrange.print %>" == "true") {
                
                    buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'RM RANGE REPORT',
                        customize: function ( win ) { 
                            $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                        }
                    });
                }
                var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                transrange_table = $('#tbl_transaction_range').DataTable({
                    data: dataSet,
                    columns : [
                        { "data" : 0 },
                        { "data" : 1 },
                        { "data" : 2 },
                        { "data" : 3, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                        { "data" : 4 },
                    ],
                    "footerCallback": function ( row, data, start, end, display ) {

                        var api = this.api(), data;
            
                        // converting to interger to find total
                        var intVal = function ( i ) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        // computing column Total of the complete result 
                        var a1 = api.column( 1 ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                            
                        var a2 = api.column( 2 ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                        
                        var a3 = api.column( 3 ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                            
                        var a4 = api.column( 4 ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    // Update footer by showing the total with the reference of the column index 
                    $( api.column( 0 ).footer() ).html('Total');
                    $( api.column( 1 ).footer() ).html(a1);
                    $( api.column( 2 ).footer() ).html(a2.toFixed(2));
                    $( api.column( 3 ).footer() ).html(a3.toLocaleString("en", {minimumFractionDigits : 2}));
                    $( api.column( 4 ).footer() ).html(a4.toFixed(2));
                    },
                    "processing": true,
                    "searching": false, 
                    "paging": false,
                    "ordering":false,
                    "info":false,
                    "destroy": true,                  
                    "dom": 'Blfrtip',
                    "buttons": buttoncollection
                });
                elementOverlay("tbl_transaction_range", false);
                
            } else {
                alert(obj.error);
            }
            },
            error: function (obj, textstatus) {
            console.log("error in ajax");
            console.log(obj.msg);
            }
        });

    }
    if("<%= pos_rmrange.report %>" == "true") {
        
        elementOverlay("tbl_transaction_range", true);
        transrange_ajax_loader(global_3m_fmdate, global_3m_todate);      
    } else {
        console.log("disabled transrange_ajax_loader")
    }

    var customerrisk_ajax_loader = function (fromdate, todate)
    {
        $.ajax({
            type: "GET",
            url: '<%= domain_url %>customerrisk_summary_report?fromdate='+fromdate+'&todate='+todate,
            dataType: 'json',
            success: function (obj, textstatus) {

            var dataSet = new Array;

            if (!('error' in obj)) {
                
                if(obj.status != "failed")
                {
                    $.each(obj, function (index, value) {
                        var tempArray = new Array;
                        for (var o in value) {
                            tempArray.push(value[o]);
                        }
                        dataSet.push(tempArray);
                    });
                }
                
                
                var buttons_arr = new Array();
                if("<%= pos_cusrisk.download %>" == "true") {
                    buttons_arr.push({extend:'excel', title:'CUSTOMER RISK',footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD CUSTOMER RISK'})
                    buttons_arr.push({ extend:'pdf', title: 'CUSTOMER RISK REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'CUSTOMER RISK REPORT', 
                        customize: function ( doc ) {
                        console.log(pdf_logo);
                        doc.content.splice(0, 0, {
                            margin: [ 0, 0, 0, 12],
                            alignment: 'left',
                            image:pdf_logo,
                            width:80, 
                            height:30 
                        });
                        doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                        }
                    });
                }
                if("<%= pos_cusrisk.print %>" == "true") {
                    buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'CUSTOMER RISK REPORT', 
                        customize: function ( win ) { 
                            $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                        }
                    });
                }
                var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                customerrisk_table = $('#tbl_customerrisk').DataTable({
                    data: dataSet,
                    columns : [
                        { "data" : 0 },
                        //{ "data" : 1 },
                        { "data" : 1,
                            "render": function(data, type, row, meta){
                            if(type === 'display' && row[0] == 'High Risk' && data > 0) {
                                data = '<a href="#" style="color:#095790;" onClick="fn_customer_modal('+"'"+data+"'"+');" >'+data+'</a>';
                            } else {
                                data = data;
                            }
                            return data;
                            }                   
                        },
                        { "data" : 2 },
                        { "data" : 3 },
                        { "data" : 4 },
                    ],
                    "footerCallback": function ( row, data, start, end, display ) {

                        var api = this.api(), data;
            
                        // converting to interger to find total
                        var intVal = function ( i ) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        // computing column Total of the complete result 
                        var a1 = api
                            .column( 1 )
                            .data()
                            .reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );
                            
                        var a2 = api
                            .column( 2 )
                            .data()
                            .reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );
                        
                        var a3 = api
                            .column( 3 )
                            .data()
                            .reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );
                            
                        var a4 = api
                            .column( 4 )
                            .data()
                            .reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                    // Update footer by showing the total with the reference of the column index 
                    $( api.column( 0 ).footer() ).html('Total');
                    $( api.column( 1 ).footer() ).html(a1);
                    $( api.column( 2 ).footer() ).html(a2.toFixed(0));
                    $( api.column( 3 ).footer() ).html(a3);
                    $( api.column( 4 ).footer() ).html(a4.toFixed(0));
                    },
                    "processing": true,
                    "searching": false, 
                    "paging": false,
                    "ordering":false,
                    "info":false,
                    "destroy": true,
                    "dom": 'Blfrtip',
                    "buttons": buttoncollection
                });
                elementOverlay("tbl_customerrisk", false);
            } else {
                alert(obj.error);
            }
            },
            error: function (obj, textstatus) {
            console.log("error in ajax");
            console.log(obj.msg);
            }
        });
    }
    if("<%= pos_cusrisk.report %>" == "true") {
        
        elementOverlay("tbl_customerrisk", true);
        customerrisk_ajax_loader(global_3m_fmdate, global_3m_todate);
    } else {
        console.log("disabled customerrisk_ajax_loader")
    }

    var morethan30k_ajax_loader = function(fromdate, todate, action)
    {
        $.ajax({
            url: '<%= domain_url %>transactionrangereport/rmrange_morethan30k?fromdate='+fromdate+'&todate='+todate+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true)
                {
                    if (!('error' in obj)) {

                        

                        var buttons_arr = new Array();
                        if("<%= pos_hightransrmrange.download %>" == 'true') {
                            buttons_arr.push($.extend( true, {}, buttonCommon, 
                                {extend:'excel', title:'HIGH VALUE TRANSACTION',footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD HIGH VALUE TRANSACTION'},
                            ));
                            buttons_arr.push($.extend( true, {}, buttonCommon, 
                                { extend:'pdf', title: 'HIGH VALUE TRANSACTION REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'HIGH VALUE TRANSACTION REPORT', 
                                    customize: function ( doc ) {
                                    console.log(pdf_logo);
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30 
                                    });
                                    },
                                },
                            ));
                        }

                        if("<%= pos_hightransrmrange.print %>" == 'true') {
                            buttons_arr.push($.extend( true, {}, buttonCommon, 
                                {extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'HIGH VALUE TRANSACTION REPORT',
                                    customize: function ( win ) { 
                                        $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                    }
                                }
                            ));
                        }

                        var buttonCommon = {
                            exportOptions: {
                                format: {
                                    body: function ( data, row, column, node ) {
                                        if(column==6) {
                                            var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                                            var option = ($('option:selected', a).text()=="Select Action") ? "" : $('option:selected', a).text();
                                            return option;
                                        } else if(column==7) {
                                            var a = new DOMParser().parseFromString(data, 'text/html').body.childNodes;
                                            return a[0].value;
                                        } else {
                                            return data;
                                        }
                                    }
                                }
                            }
                        };
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                        tbl_morethan30k = $('#tbl_morethan30k').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 1 },
                                { "data" : 2, "render" : function(data, type, row, meta){ return data.toLocaleString("en", {minimumFractionDigits:2}); } },
                                { "data" : 3 },
                                { "data" : 4, 
                                    "render": function(data, type, row, meta){
                                        return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                    }                   
                                },
                                { "data" : 5 },
                                { "data" : 6 },
                                { "data" : 7,
                                    "render": function(data, type, row, meta){
                                        currentSelectBoxID = row[0];
                                        // var selectBox="<select id ='test'>";
                                        var selectBox="<select id='"+row[0]+"' onchange='upadteAction(this)' class='action_taken' >";
                                        selectBox+="<option "+((data === undefined || data === null || data === '') ? "selected='true'" : "")+" value='' selected='true' disabled='disabled'>Select Action</option>"
                                        selectBox+="<option "+((data === 1 || data === "1") ? "selected='true'" : "")+" value='1'>Document in Hand(Addtl. docs)</option>"
                                        selectBox+="<option "+((data === 2 || data === "2") ? "selected='true'" : "")+" value='2'>Suspicious?</option>"
                                        selectBox+="<option "+((data === 3 || data === "3") ? "selected='true'" : "")+" value='3'>BGC</option>"
                                        selectBox+="<option "+((data === 4 || data === "4") ? "selected='true'" : "")+" value='4'>Q & A</option>"
                                        selectBox+="<option "+((data === 5 || data === "5") ? "selected='true'" : "")+" value='5'>Requested document</option>"
                                        selectBox+="<option "+((data === 6 || data === "6") ? "selected='true'" : "")+" value='6'>Keep on Monitoring</option>"
                                        selectBox+="</select>";
                                        return selectBox;
                                    }                   
                                },
                                { "data" : 8, 
                                    "render": function(data, type, row, meta){
                                        if(data === undefined || data === null || data === '') {
                                            return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'></textarea>";
                                        } else {
                                            return "<textarea id='"+row[0]+"`~!@#"+data+"' onblur='updateRemarks(this)'>"+data+"</textarea>";
                                        }
                                    }                   
                                }
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":true,
                            "info":true,
                            "destroy": true,
                            "pagingType": "full_numbers",
                            "lengthMenu": [10, 25, 50, 75, 100],
                            "dom": '<"toolbar">Blfrtip',
                            "buttons": buttoncollection
                            // "oLanguage": { "sLengthMenu": "Show _MENU_ entries per page" },   
                        });
                        $("div.toolbar").html('<span class="vis_hidden"><h5>HIGH VALUE TRANSACTION : RM RANGE > ><select name="rmrange_amount" id="rmrange_amount" style=" margin:0; width: auto;position:relative;top:-2px;" ><option value="rmk_ten">10K</option><option value="rmk_twenty">20K</option><option value="rmk_thirty">30K</option><option value="rmk_fourty">40K</option><option value="rmk_fifty">50K</option></select></h5></span>');
                        $("#rmrange_amount").val(action);
                        $("#rmrange_type").html($("#rmrange_amount option:selected").text());

                        $("#rmrange_amount").change(function(){
                            morethan30k_ajax_loader(global_3m_fmdate, global_3m_todate, this.value);
                        }); 
                        elementOverlay("tbl_morethan30k", false);
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    if("<%= pos_hightransrmrange.report %>" == 'true') {
        
        elementOverlay("tbl_morethan30k", true);
        morethan30k_ajax_loader(global_3m_fmdate, global_3m_todate, "rmk_thirty");
    } else {
        console.log("disabled morethan30k_ajax_loader")
    }
});

function fn_customer_modal(customer_count){
    var riskaction = '';
    $(".go_customerlist_body").css('display','block');
    Overlay(true);
    $('.go_customerlist_body').load("<%= domain_url %>customerrisk_summary_report/customer_risklist_loader?fromdate="+global_3m_fmdate+"&todate="+global_3m_todate+"&riskaction="+riskaction, function(){
        $('#go_customerlist_action').modal({show:true});
        $("#customer_count").html(customer_count);
        Overlay(false);
    });  
}

$(document).ready(function() {
    if(global_3m_fmdate != '' && global_3m_todate != ''){
        $("#common_full_divider").show();
        // $("#common_img_divider").hide();
    } else {
        $("#common_full_divider").hide();
        // $("#common_img_divider").show();
    }
});

</script>
    
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>