<!DOCTYPE html>
<html lang="en">

<head>
    <title title="Easily manage your reports">MSB :: Easily manage your reports</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= domain_url %>img/msb_favicons/msb_icon_1_J0P_12.ico" type="image/x-icon">

    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/matrix-login.css" />

    <link href="<%= domain_url %>font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="<%= domain_url %>css/font-awesome.css">
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>parsley/parsley.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/login.css" />
</head>

<body>
    <div class="container-1">
        <div class="login-content">
            <p class="text-big">A smarter way to convert money.</p>
            <span class="small-description"> Manage your reports uncomplicated! The seamless process and ease of procuring currency takes the hassle out of
                buying forex. Get your best exchange rate guaranteed!</span>

            <div class="social-networks">
                <span class="join-txt">Join with us</span>
                <img src="<%= domain_url %>img/social-networks.png" width="150">
            </div>
        </div>

        <div class="divider-line">
        </div>

        <div id="loginbox">

            <%- locals.flash %>

                <form id="loginform" class="form-vertical" action="<%= domain_url %>login" method="post" autocomplete="off">
                    <div class="control-group normal_text">
                        <h3>
                            <img src="<%= domain_url %>img/MSB_icon.png" alt="Logo" width="125px" />
                        </h3>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="main_input_box">
                                <span class="add-on bg_lg">
                                    <i class="icon-user"> </i>
                                </span>
                                <input type="text" placeholder="Username" name="username" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="main_input_box">
                                <span class="add-on bg_ly">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" placeholder="Password" name="password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" style="border-top: 0px solid #3f4954;">
                        <span class="pull-left">
                            <a class="flip-link btn btn-info" id="to-recover">Forgot your credentials..?</a>
                        </span>
                        <span class="pull-right">
                            <button type="submit" class="btn btn-success" /> Login</button>
                        </span>
                    </div>
                </form>
                <form id="forgot_type_form" action="" class="form-vertical" style="display: none;" autocomplete="off" data-parsley-validate="true">

                    <div class="control-group normal_text">
                        <h3>
                            <img src="<%= domain_url %>img/MSB_icon.png" alt="Logo" width="125px" />
                        </h3>
                    </div>
                    <div class="control-group">
                        <div class="radio span-6">
                            <label style="color: whitesmoke">
                                <input type="radio" name="optradio" value="1" required="required">Forgot Username ?</label>
                        </div>
                        <div class="radio span-6">
                            <label style="color: whitesmoke">
                                <input type="radio" name="optradio" value="2" required="required">Forgot Password ?</label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <span class="pull-left">
                            <a class="flip-link btn btn-success" id="type-to-login">« Back to login</a>
                        </span>
                        <span class="pull-right">
                            <button type="button" class="btn btn-info" onclick="return validateForgotType();" />Next</button>
                        </span>
                    </div>
                </form>
                <form id="recoverform" action="" class="form-vertical" style="display: none;" autocomplete="off" data-parsley-validate="true">

                    <div class="control-group normal_text">
                        <h3>
                            <img src="<%= domain_url %>img/MSB_icon.png" alt="Logo" width="125px" />
                        </h3>
                    </div>
                    <!-- <p class="normal_text">Enter your username below and we will send you instructions how to recover a password.</p> -->

                    <div class="controls">
                        <div class="main_input_box">

                            <span class="add-on bg_lo">
                                <i class="icon-user"></i>
                            </span>
                            <input type="text" name="forgot_username" id="forgot_username" placeholder="Enter Your Username" required="required" />
                            <input type="hidden" name="forgot_type" id="forgot_type">
                        </div>
                    </div>

                    <div class="form-actions">
                        <span class="pull-left">
                            <a class="flip-link btn btn-success" id="to-login">« Back</a>
                        </span>
                        <span class="pull-right">
                            <button type="submit" class="btn btn-info" />Recover</button>
                        </span>
                    </div>
                </form>
        </div>
    </div>

    </div>
    <div id="snackbar"></div>
    <script src="<%= domain_url %>js/jquery.min_new.js"></script>
    <script src="<%= domain_url %>js/matrix.login.js"></script>
    <script src="<%= domain_url %>js/jquery.validate.min.js"></script>
    <script src="<%= domain_url %>parsley/parsley.js"></script>
    <script src="<%= domain_url %>overlay/loadingoverlay.min.js"></script>
    <script src="<%= domain_url %>overlay/overlay.js"></script>
    <script>
        function validateForgotType() {
            $('#forgot_type_form').parsley().validate();
            if ($('#forgot_type_form').parsley().isValid()) {
                $('#forgot_type_form').slideUp();
                $("#recoverform").fadeIn();
                if($("input[name='optradio']:checked").val()==1){
                    $('#forgot_username').attr('placeholder','Enter your email');
                }else{
                    $('#forgot_username').attr('placeholder','Enter your username or email');
                }
                $('#forgot_type').val($("input[name='optradio']:checked").val());
            }
        }

        if ($(".alert.flash").text() != "") {
            go_fntoast($(".alert.flash").text());
        }

        // toast message
        function go_fntoast(msg) {
            var x = document.getElementById("snackbar");
            x.innerHTML = msg;
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
        $(document).ready(function () {
            $('#recoverform').submit(function (e) {
                e.preventDefault();
                $('#recoverform').parsley().validate();
                if ($('#recoverform').parsley().isValid()) {
                    Overlay(true);
                    var username    = $('#forgot_username').val().trim();
                    var forgot_type = $('#forgot_type').val().trim();
                    $.ajax({
                        url: '<%= domain_url %>forgotPassword',
                        type: 'POST',
                        data: {
                            username    : username,
                            forgot_type : forgot_type
                        },
                        success: function (response) {
                            console.log(response);
                            Overlay(false);
                            // if (response.status) {
                            //     alert(
                            //         'Change Password link sent successfully to your email.'
                            //     );
                            // } 
                            window.location.href = "<%= domain_url %>login";
                            return;
                        },
                        error: function (xhr, result, errorThrown) {
                            alert("Somthing went wrong kindly try again.");
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>