<%- include partials/header.ejs %>

<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->


<style>
    .freq-drop .wg3 .dataTables_length label{
        font-size: 12px;
    }
    .freq-drop .wg3 .dataTables_length select{
        width: 70px;
    }
</style>

<!--main-container-part-->
<div id="content">

<link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
<script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
<script src="<%= domain_url %>js/select2.js"></script> 

<div class="row-fluid">
    <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
        <div class="controls-1" style="margin-bottom:30px;">
            
            <div class="input-append">
                <label class="control-label-1">Select Datasource</label>
                <select name="datasource_objid" id="datasource_objid">
                    <option value=""></option>
                </select>
            </div>

            <div data-date="" class="input-append date datepicker" id="from_datepicker">
            <label class="control-label-1">From</label>
            <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>

            <div data-date="" class="input-append date datepicker" id="to_datepicker">
            <label class="control-label-1">To</label>
            <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 
            <!-- <button type="button" id="fltr_reset" onClick="javascript:window.location.reload();" class="btn btn-danger" style="margin-top: 25px;">Clear</button> -->
        </div>
        </div>        

    </form>
    </div>
</div>


<script>
    
    var global_dater = new Date();

    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");
    var global_datasource_objid = (url.searchParams.get("datasource_objid") != null) ? url.searchParams.get("datasource_objid") : "";

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {

        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = pydate.getDate()+"-"+(pydate.getMonth()+1)+"-"+pydate.getFullYear();
        var global_3m_todate = global_dater.getDate()+"-"+(global_dater.getMonth()+1)+"-"+global_dater.getFullYear();
    } else {
        var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }

    var master_data_collection = function()
    {
        $.ajax({
            url: '<%= domain_url %>cmn_masterdata',
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (master_obj, textstatus) {

                $.each(master_obj, function (key,data) {
                    var seleted = (global_datasource_objid == data._id) ? "selected" : "";
                    $("#datasource_objid").append('<option value="'+data._id+'" '+seleted+'>' + data.ds_name + '</option>');
                });
                $("#datasource_objid").select2({
                    placeholder: "Select Datasource",
                    allowClear: true,    
                    width: 'resolve'
                });
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
    master_data_collection();

</script>
    
    <!--Action boxes-->
    <div class="container-fluid wg2-div" id="common_full_divider" style="display:none;" >
    
        <div class="row-fluid">
            <% if(pos_mbtra_ft.report) { %>
            <div class="span6 hv-trans trans-risk-ays">
                <div class="widget-box">
                    <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">FREQUENT TRANSACTION > <span id="fq_currenttrans_count"></span></h5>
                    </div>
                    <div class="widget-content freq-drop">
                    <div class="wg3">	
                    <table id="tbl_fqtransactions" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th width="38%">MONTH-YEAR</th>
                        <th width="62%">NAME</th>
                        <th width="38%">TRANSACTIONS</th>
                        </tr>
                    </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <% } %>

            <% if(pos_mbtra_fct.report) { %>
            <div class="span6 hv-trans trans-risk-ays">
                <div class="widget-box">
                    <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 98%;">MULTIPLE CURRENCY TRANSACTION > <span id="fq_multiple_currency_trans_count"></span></h5>
                    </div>
                    <div class="widget-content freq-drop">
                    <div class="wg3">	
                    <table id="tbl_multiplecurrency" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th width="38%">MONTH-YEAR</th>
                        <th>NAME</th>
                        <th>TRANSACTIONS</th>
                        <th>NO. OF CURRENCIES</th>
                        </tr>
                    </thead>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
    
    </div>
    <!--End-Action boxes-->    

    <!--Action boxes-->
    <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
        <div class="row-fluid position-1">
        <div class="span11">
            <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
        </div>
        </div>
    </div>

</div>


<script>

$(document).ready(function() {

    var tbl_fqtransactions;
    var tbl_multiplecurrency;

    var fqtransactions_ajax_loader = function(fromdate, todate, datasource_objid, trans_count, action)
    {        
        $.ajax({
            url: '<%= domain_url %>monthly_frequent_transactions_report?fromdate='+fromdate+'&todate='+todate+'&datasource_objid='+datasource_objid+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        $("#progressbar").css('display','none');

                        var buttons_arr = new Array();

                        if("<%= pos_mbtra_ft.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD FREQUENT TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'FREQUENT TRANSACTION', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'FREQUENT TRANSACTION', 
                                customize: function ( doc ) {
                                console.log(pdf_logo);
                                doc.content.splice(0, 0, {
                                    margin: [ 0, 0, 0, 12],
                                    alignment: 'left',
                                    image:pdf_logo,
                                    width:80, 
                                    height:30 
                                });
                                doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                                }
                            });
                        }
                        if("<%= pos_mbtra_ft.print %>" == "true") {
                            buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'FREQUENT TRANSACTION',
                                customize: function ( win ) { 
                                  $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                            });
                        }
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

                        tbl_fqtransactions = $('#tbl_fqtransactions').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1 },
                                { "data" : 2 },
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":false,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar1">Blfrtip',
                            "buttons": buttoncollection
                            // "oLanguage": { "sLengthMenu": "Show more than _MENU_ transactions" }                           
                        });
                        $("div.toolbar1").html('<span class="vis_hidden"><h5>FREQUENT TRANSACTION : ><select name="fqt_count" id="fqt_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
                        $("#fqt_count").val(trans_count);
                        $("#fq_currenttrans_count").html($("#fqt_count option:selected").text());

                        $("#fqt_count").change(function(){
                            fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, global_datasource_objid, this.value, "");
                        });
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }


    var multiple_currency_ajax_loader = function(fromdate, todate, datasource_objid, trans_count, action)
    {
        $.ajax({
            url: '<%= domain_url %>monthly_frequent_transactions_report/monthly_multi_currency_transactions?fromdate='+fromdate+'&todate='+todate+'&datasource_objid='+datasource_objid+'&trans_count='+trans_count+'&action='+action,
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (obj, textstatus) {

                if(true) {

                    if (!('error' in obj)) {

                        $("#progressbar").css('display','none');

                        var buttons_arr = new Array();

                        if("<%= pos_mbtra_fct.download %>" == "true") {
                            buttons_arr.push({extend:'excel', title:'MULTIPLE CURRENCY TRANSACTION', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD MULTIPLE CURRENCY TRANSACTION'});
                            buttons_arr.push({ extend:'pdf', title:'MULTIPLE CURRENCY TRANSACTION', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'MULTIPLE CURRENCY TRANSACTION', 
                                  customize: function ( doc ) {
                                    console.log(pdf_logo);
                                    doc.content.splice(0, 0, {
                                        margin: [ 0, 0, 0, 12],
                                        alignment: 'left',
                                        image:pdf_logo,
                                        width:80, 
                                        height:30 
                                    });
                                    doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                                  }
                              });
                        }
                        if("<%= pos_mbtra_fct.print %>" == "true") {
                            buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'MULTIPLE CURRENCY TRANSACTION',
                                customize: function ( win ) { 
                                  $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                                }
                              });
                        }
                        var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];


                        tbl_multiplecurrency = $('#tbl_multiplecurrency').DataTable({
                            data: obj,
                            columns : [
                                { "data" : 0 },
                                { "data" : 1 },
                                { "data" : 2 },
                                { "data" : 3 },
                            ],
                            "processing": true,
                            "searching": false, 
                            "paging": true,
                            "ordering":false,
                            "info":false,
                            "destroy": true,
                            "dom": '<"toolbar2">Blfrtip',
                            "buttons": buttoncollection
                        });
                        $("div.toolbar2").html('<span class="vis_hidden"><h5>MULTIPLE CURRENCY TRANSACTION : ><select name="fq_multiplecurrency_count" id="fq_multiplecurrency_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;" ><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="12">12</option><option value="15">15</option><option value="17">17</option><option value="20">20</option></select></h5></span>');

                        $("#fq_multiplecurrency_count").val(trans_count);
                        $("#fq_multiple_currency_trans_count").html($("#fq_multiplecurrency_count option:selected").text());

                        $("#fq_multiplecurrency_count").change(function(){
                            multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, global_datasource_objid, this.value, "");
                        });
                        
                    } else {
                        alert(obj.error);
                    }
                }
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }


    if("<%= pos_mbtra_ft.report %>" == "true") {
        $("#progressbar").css('display','block');
        fqtransactions_ajax_loader(global_3m_fmdate, global_3m_todate, global_datasource_objid, 5, "");
    }

    if("<%= pos_mbtra_fct.report %>" == "true") {
        $("#progressbar").css('display','block');
        multiple_currency_ajax_loader(global_3m_fmdate, global_3m_todate, global_datasource_objid, 5, "");
    }

});

$(document).ready(function() {
    if(global_3m_fmdate != '' && global_3m_todate != '' && global_datasource_objid != ''){
        $("#common_full_divider").show();
        $("#common_img_divider").hide();
    } else {
        $("#common_full_divider").hide();
        $("#common_img_divider").show();
    }
});

</script>
    
</div>
<!--end-main-container-part-->

<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->
<!-- HI, THIS PAGE WAS REMOVE FROM THIS APPLICATIONS -->


<%- include partials/footer.ejs %>
