<%- include partials/header.ejs %>
<!--main-container-part-->
<div id="content">

  <link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
  <script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
  <script src="<%= domain_url %>js/select2.js"></script> 

  <div class="row-fluid">
    <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
        <div class="controls-1" style="margin-bottom:30px;">

            <div data-date="" class="input-append date datepicker" id="from_datepicker">
            <label class="control-label-1">From</label>
            <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>

            <div data-date="" class="input-append date datepicker" id="to_datepicker">
            <label class="control-label-1">To</label>
            <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 
          </div>
        </div>        

    </form>
    </div>
  </div>

  <script>
    
    var global_dater = new Date();

    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );

        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();

      } else {
        var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }

  </script>

  <!--Action boxes-->
  <div class="container-fluid wg3-div" id="common_full_divider" style="display:none;">

    <% if(pos_mbhrta_outlet.report) { %>
    <div class="row-fluid">
      <div class="span12 margin_m_24 hv-trans">
        <div class="widget-box">
          <div class="widget-title bg_lb" >
            <h5><i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse4" ></i> OVERALL OUTLET HIGHRISK > <span id="fq_currenttrans_count3"></span></h5>
          </div>
          <div class="widget-content collapse in">
            <div class="wg3">
              <table id="tbl_outlet_highrisk" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% if(pos_mbhrta_lic.report) { %>
    <div class="row-fluid">
      <div class="span12 margin_m_24 hv-trans">
        <div class="widget-box">
          <div class="widget-title bg_lb" >
            <h5>
              <i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse2" ></i> LOCAL INDIVIDUAL CUSTOMER > <span id="fq_currenttrans_count1"></span> 
            </h5>
            <!--<i id="lc_individual_cusid" class="icon icon-resize-full" style="float: right; padding: 5px 5px 0 0px; color: #fff; font-size: 18px;"></i>-->
          </div>
          <div class="widget-content collapse in" id="wg3_collapse2">
            <div class="wg3">
              <table id="tbl_local_individual" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>MONTH-YEAR</th>
                    <th>NAME</th>
                    <th>TRANSACTIONS</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% if(pos_mbhrta_fic.report) { %>
    <div class="row-fluid">
      <div class="span12 margin_m_24 hv-trans">
        <div class="widget-box">
          <div class="widget-title bg_ly">
            <h5><i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse3" ></i>
            FOREIGN INDIVIDUALS CUSTOMER > <span id="fq_currenttrans_count2"></span>
            </h5>
            <!--<i id="lc_foreign_cusid" class="icon icon-resize-full" style="float: right; padding: 5px 5px 0 0px; color: #fff; font-size: 18px;"></i>-->
          </div>  
          <div class="widget-content">
            <div class="wg3">
              <table id="tbl_foreign" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                  <tr>
                  <th>MONTH-YEAR</th>
                  <th>NAME</th>
                  <th>TRANSACTIONS</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% if(pos_mbhrta_lbc.report) { %>    
    <div class="row-fluid">
      <div class="span12 margin_m_24 hv-trans">
        <div class="widget-box">
          <div class="widget-title bg_ly">
            <h5>
              <i class="icon-chevron-down cmn_collapse" data-toggle="collapse" href="#wg3_collapse1"></i> LOCAL BUSINESSES CUSTOMER > <span id="fq_currenttrans_count"></span>
            </h5>
            <!--<i id="lc_business_cusid" class="icon icon-resize-full" style="float: right; padding: 5px 5px 0 0px; color: #fff; font-size: 18px;"></i>-->
          </div>
          <div class="widget-content collapse in" id="wg3_collapse1">
            <div class="wg3">
              <table id="tbl_local_business" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>MONTH-YEAR</th>
                    <th>NAME</th>
                    <th>TRANSACTIONS</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <!--End-Action boxes-->    

  <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
  <div class="row-fluid position-1">
    <div class="span11">
      <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
      </div>
    </div>
  </div>

</div>

<div class="modal-center hrt-popup">
  <div id="go_ouletcustomerlist_action" class="modal fade modal-lg" role="dialog" >
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="closeLBC" data-dismiss="modal">
            <span aria-hidden="true">x</span>
          </button>
          <h4 id="modalTitle" class="modal-title">
            <i class="fa fa-calendar-o fa-fw"></i>MONTH BASED OVERALL OUTLET HIGHRISK TRANSACTIONS 
          </h4>
        </div>
        <div id="modalBody" class="ovf go_outletcustomerlist_body" style="height:380px;overflow:auto;display: none;" ></div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
  

<script>

$(document).ready(function() {

    var table_local_business;
    var table_local_individual;
    var table_foreign;

    var ajax_loader = function(fromdate, todate, customertype, nationality, trans_count) {

      $.ajax({
        type: "GET",
        url: '<%= domain_url %>monthly_highrisk_customerlist_report?fromdate='+fromdate+'&todate='+todate+'&nationality='+nationality+'&type='+customertype+'&trans_count='+trans_count,
        dataType: 'json',
        success: function (obj, textstatus) {

          var dataSet = new Array;
          if (!('error' in obj)) {
          
            $.each(obj, function (index, value) {
              var tempArray = new Array;

              for (var o in value) {

                if(o=="Transaction Date") {
                  var transsplit = (value[o]=='' || value[o]==undefined) ? "" : (value[o]).split("T");
                  tempArray.push(transsplit[0]);
                } else if(o=="Exchange Amount") {
                  var transsplit = (value[o]=='' || value[o]==undefined) ? "" : (value[o]).toLocaleString("en", {minimumFractionDigits:2});
                  tempArray.push(transsplit);
                } else {
                  tempArray.push(value[o]);
                }
              }
              dataSet.push(tempArray);
            });

            if(nationality == 'MALAYSIA' && customertype == 'BUSINESSES') {

              var buttons_arr = new Array();
              if("<%= pos_mbhrta_lbc.download %>" == "true") {
                buttons_arr.push({extend:'excel', title:'LOCAL BUSINESS CUSTOMER', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD LOCAL BUSINESS CUSTOMER'});
                buttons_arr.push({ extend:'pdf', title:'LOCAL BUSINESS CUSTOMER', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'LOCAL BUSINESS CUSTOMER', 
                      customize: function ( doc ) {
                        console.log(pdf_logo);
                        doc.content.splice(0, 0, {
                            margin: [ 0, 0, 0, 12],
                            alignment: 'left',
                            image:pdf_logo,
                            width:80, 
                            height:30 
                        });
                        doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                      }
                  });
              }
              if("<%= pos_mbhrta_lbc.print %>" == "true") {
                buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'LOCAL BUSINESS CUSTOMER REPORT',
                    customize: function ( win ) { 
                      $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                    }
                  });
              }
              var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

              table_local_business = $('#tbl_local_business').DataTable({
                data: dataSet,
                columns : [
                   { "title": "MONTH-YEAR" , "data" : 0 },
                  { "title": "NAME", "data" : 1 },
                  { "title": "TRANSACTION", "data" : 2 },
                ],
                "processing": true,
                "searching": false, 
                "paging": true,
                "ordering":false,
                "info":true,
                "destroy": true,
                "dom": '<"toolbar1">Blfrtip',
                "buttons": buttoncollection
              });
              $("div.toolbar1").html('<span class="vis_hidden"><h5><select name="fqt_count" id="fqt_count" style="float: left; height: 20px; width: auto;position:relative;top:-3px;left:280px;" ><option value="1">1</option><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
              $("#fqt_count").val(trans_count);
              $("#fqt_count").change(function(){
                  ajax_loader(global_3m_fmdate, global_3m_todate, customertype, nationality, this.value);
              });
              elementOverlay("tbl_local_business", false);

            } else if(nationality == 'MALAYSIA' && customertype != 'BUSINESSES') {

              var buttons_arr = new Array();

              if("<%= pos_mbhrta_lic.download %>" == "true") {
                buttons_arr.push({extend:'excel', title:'LOCAL INDIVIDUAL CUSTOMER', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD LOCAL INDIVIDUAL CUSTOMER'});
                buttons_arr.push({ extend:'pdf', title:'DOWNLOAD LOCAL INDIVIDUAL CUSTOMER', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'DOWNLOAD LOCAL INDIVIDUAL CUSTOMER', 
                      customize: function ( doc ) {
                        console.log(pdf_logo);
                        doc.content.splice(0, 0, {
                            margin: [ 0, 0, 0, 12],
                            alignment: 'left',
                            image:pdf_logo,
                            width:80, 
                            height:30 
                        });
                        doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                      }
                  });
              }
              if("<%= pos_mbhrta_lic.print %>" == "true") {
                buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'LOCAL INDIVIDUAL CUSTOMER REPORT',
                    customize: function ( win ) { 
                      $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                    }
                  });
              }
              var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

              table_local_individual = $('#tbl_local_individual').DataTable({
                data: dataSet,
                columns : [
                   { "title": "MONTH-YEAR" , "data" : 0 },
                  { "title": "NAME", "data" : 1 },
                  { "title": "TRANSACTION", "data" : 2 },
                ],
                "processing": true,
                "searching": false, 
                "paging": true,
                "ordering":false,
                "info":true,
                "destroy": true,
                "dom": '<"toolbar2">Blfrtip',
                "buttons": buttoncollection
              });
              $("div.toolbar2").html('<span class="vis_hidden"><h5><select name="fqt_count1" id="fqt_count1" style="float: left; height: 20px; width: auto;position:relative;top:-3px;left:280px;" ><option value="1">1</option><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
              $("#fqt_count1").val(trans_count);
              $("#fqt_count1").change(function(){
                  ajax_loader(global_3m_fmdate, global_3m_todate, customertype, nationality, this.value);
              });
              elementOverlay("tbl_local_individual", false);
              
            } else {

              var buttons_arr = new Array();

              if("<%= pos_mbhrta_fic.download %>" == "true") {
                buttons_arr.push({extend:'excel', title:'FOREIGN INDIVIDUALS CUSTOMERS',footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD FOREIGN INDIVIDUALS CUSTOMERS'});
                buttons_arr.push({ extend:'pdf', title:'DOWNLOAD FOREIGN INDIVIDUALS CUSTOMERS', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'DOWNLOAD FOREIGN INDIVIDUALS CUSTOMERS', 
                    customize: function ( doc ) {
                      console.log(pdf_logo);
                      doc.content.splice(0, 0, {
                          margin: [ 0, 0, 0, 12],
                          alignment: 'left',
                          image:pdf_logo,
                          width:80, 
                          height:30 
                      });
                      doc.content[2].table.widths = ["*", "*", "*", "*", "*", "*"];
                    }
                });
              }
              if("<%= pos_mbhrta_fic.print %>" == "true") {
                buttons_arr.push({ extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'FOREIGN INDIVIDUALS CUSTOMERS REPORT',
                    customize: function ( win ) { 
                      $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                    }
                  }
                );
              }
              var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

              table_foreign = $('#tbl_foreign').DataTable({
                data: dataSet,
                columns : [
                  { "title": "MONTH-YEAR" , "data" : 0 },
                  { "title": "NAME", "data" : 1 },
                  { "title": "TRANSACTION", "data" : 2 },
                ],
                "processing": true,
                "searching": false, 
                "paging": true,
                "ordering":false,
                "info":true,
                "destroy": true,
                "dom": '<"toolbar3">Blfrtip',
                "buttons": buttoncollection
              });
              $("div.toolbar3").html('<span class="vis_hidden"><h5><select name="fqt_count3" id="fqt_count3" style="float: left; height: 20px; width: auto;position:relative;top:-3px;left:280px;" ><option value="1">1</option><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
              $("#fqt_count3").val(trans_count);
              $("#fqt_count3").change(function(){
                  ajax_loader(global_3m_fmdate, global_3m_todate, customertype, nationality, this.value);
              });
              elementOverlay("tbl_foreign", false);
              
            }
          } else {
            alert(obj.error);
          }
        },
        error: function (obj, textstatus) {
          console.log("error in ajax");
          console.log(obj.msg);
        }
      });       
    }
    if("<%= pos_mbhrta_lbc.report %>" == "true") {
      elementOverlay("tbl_local_business", true);
      ajax_loader(global_3m_fmdate, global_3m_todate, "BUSINESSES", "MALAYSIA", 5); 
    }
    if("<%= pos_mbhrta_lic.report %>" == "true") {
      elementOverlay("tbl_local_individual", true);
      ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "MALAYSIA", 5); 
    }
    if("<%= pos_mbhrta_fic.report %>" == "true") {
      elementOverlay("tbl_foreign", true);
      ajax_loader(global_3m_fmdate, global_3m_todate, "INDIVIDUALS AND BENEFICIAL OWNER", "FOREIGN", 5); 
    }

    var table;
    var ajax_loader_outlet = function (fromdate, todate, trans_count)
    {
      $.ajax({
        type: "GET",
        url: '<%= domain_url %>monthly_highrisk_customerlist_report/monthly_highriskcustomer_outlet?fromdate='+fromdate+'&todate='+todate+'&trans_count='+trans_count,
        dataType: 'json',
        success: function (obj, textstatus) {

          function getMonthDays(MonthYear) {
            var montharr = [' ', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

            var Value=MonthYear.split("-"); 
            var num_month = parseInt(Value[1])
            if(isNaN(num_month)){
              return MonthYear;
            }else{
              var month = (montharr[num_month]);    
              return month +"-"+ Value[0];
            }
          }

          var dataSet = new Array();

          if (!('error' in obj)) {
            
            var outlet_header_columns = new Array();
            if(obj.length > 0) {

              $.each( obj[0], function( key, value ) {
                var my_item = {};
                my_item.data = key;
                my_item.title = getMonthDays(key);
                if("Name" != key){
                  my_item.render = function(data, type, row, meta){
                    
                    let outlet_name = row["Name"];
                    let outlet_yearmonth = key;

                    if(data !== 0 && data > 0 && data !== "0" ) {
                      var clicker_data = '<a href="#" style="color:#095790;" onClick="fn_customertransactions_modal('+"'"+outlet_name+"'"+','+"'"+outlet_yearmonth+"'"+','+data+');" >'+data+'</a>';
                    } else {
                      var clicker_data = data;
                    }
                    return clicker_data;
                   }
                }
                outlet_header_columns.push(my_item);
              });
            } else {
              outlet_header_columns.push({title:"Name"});
            }

            var buttons_arr = new Array();

            if("<%= pos_mbhrta_outlet.download %>" == "true") {
              buttons_arr.push({extend:'excel', title:'OVERALL OUTLET HIGHRISK', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD OVERALL OUTLET HIGHRISK'})
              buttons_arr.push({ extend:'pdf', title:'OVERALL OUTLET HIGHRISK', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'OVERALL OUTLET HIGHRISK', 
                  customize: function ( doc ) {
                    console.log(pdf_logo);
                    doc.content.splice(0, 0, {
                        margin: [ 0, 0, 0, 12],
                        alignment: 'left',
                        image:pdf_logo,
                        width:80, 
                        height:30 
                    });
                  }
                });
            } 
            if("<%= pos_mbhrta_outlet.print %>" == "true") {
              buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'OVERALL OUTLET HIGHRISK',
                  customize: function ( win ) { 
                    $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
                  }
                });
            } 
            var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

            table = $('#tbl_outlet_highrisk').DataTable({
              "data": obj,
              "columns" : outlet_header_columns,
              "processing": false,
              "searching": false, 
              "paging": true,
              "ordering":false,
              "info":true,
              "destroy": true,
              "dom": '<"toolbar4">Blfrtip',
              "buttons": buttoncollection
            });
            $("div.toolbar4").html('<span class="vis_hidden"><h5><select name="fqt_count4" id="fqt_count4" style="float: left; height: 20px; width: auto;position:relative;top:-3px;left:280px;" ><option value="1">1</option><option value="3">3</option><option value="5">5</option><option value="7">7</option><option value="9">9</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select></h5></span>');
            $("#fqt_count4").val(trans_count);
            $("#fqt_count4").change(function(){
                ajax_loader_outlet(global_3m_fmdate, global_3m_todate, this.value);
            });
            elementOverlay("tbl_outlet_highrisk", false);
          } else {
            alert(obj.error);
          }
        },
        error: function (obj, textstatus) {
          console.log("error in ajax");
          console.log(obj.msg);
        }
      });
    }
    if("<%= pos_mbhrta_outlet.report %>" == "true") {
      elementOverlay("tbl_outlet_highrisk", true);
      ajax_loader_outlet(global_3m_fmdate, global_3m_todate, 5);
    }

});

  function fn_customertransactions_modal(outlet_name, outlet_yearmonth, trans_count) {
    Overlay(true);
    $(".go_outletcustomerlist_body").css('display','block');
    $('.go_outletcustomerlist_body').load("<%= domain_url %>monthly_highrisk_customerlist_report/customer_risklist_loader?outlet_name="+outlet_name+"&outlet_yearmonth="+outlet_yearmonth, function(){
        $('#go_ouletcustomerlist_action').modal({show:true});
        Overlay(false);
    });
  }

$(document).ready(function() {
  if(global_3m_fmdate != '' && global_3m_todate != ''){
      $("#common_full_divider").show();
      // $("#common_img_divider").hide();
  } else {
      $("#common_full_divider").hide();
      // $("#common_img_divider").show();
  }
});

</script>
    
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>