<style>
    #tbl_buysell_filter {
        top: 0px !important;
    }
</style>
<div class="wg3" id="div_customerrisk_list_id" style="display:none;">
    <table id="tbl_customerrisk_list_loader" class="table table-striped table-bordered table-report-list" style="font-size:13px;"
        cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>NAME</th>
                <th>DOC.NO</th>
                <th>COUNTRY</th>
                <th>OCCUPATION</th>
                <th>SOURCE</th>
                <th>PURPOSE</th>
                <th>PAYMENT MODE</th>
                <th>DELIVER MODE</th>
                <th>RBA</th>
                <th>BRANCH</th>
                <th>AMOUNT</th>
                <th>BUYSELL</th>
                <th>DATETIME</th>

            </tr>
        </thead>
    </table>
</div>

<div class="wg3" id="div_outlet_customerrisk_id" style="display:none;">
    <table id="tbl_outlet_customerrisk_list_loader" class="table table-striped table-bordered table-report-list" style="font-size:13px;"
        cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>NAME</th>
                <th>AMOUNT</th>
                <th>BUYSELL</th>
                <th>DATETIME</th>
                <th>SOURCE</th>
                <th>PURPOSE</th>

            </tr>
        </thead>
    </table>

</div>

<script>

    $(document).ready(function () {

        var table_customer_risk;
        var ajax_loader = function (fromdate, todate, riskaction, common_actiontype) {

            if (common_actiontype == 'risk_based_analysis') {
                console.log("RISK");
                var actual_url = '<%= domain_url %>customerrisk_summary_report/risk_customerdetails?fromdate=' + fromdate + '&todate=' + todate + '&riskaction=' + riskaction + '&action=<%= action %>';

                $.ajax({
                    type: "GET",
                    url: actual_url,
                    dataType: 'json',
                    success: function (obj, textstatus) {
                        console.log("obj : " + obj);
                        if (!('error' in obj)) {

                            $("#progressbar").css('display', 'none');

                            $('#customerbasedtransaction_count').html(obj.length);

                            $("#div_customerrisk_list_id").css("display", "block");

                            table_customer_risk = $('#tbl_customerrisk_list_loader').DataTable({
                                data: obj,
                                columns: [
                                    { "data": 0 },
                                    { "data": 1 },
                                    { "data": 2 },
                                    { "data": 3 },
                                    { "data": 4 },
                                    { "data": 5 },
                                    { "data": 6 },
                                    { "data": 7 },
                                    { "data": 8 },
                                    { "data": 9 },
                                    { "data": 10 },
                                    {
                                        "data": 11,
                                        "render": function (data, type, row, meta) {
                                            return (data).toFixed(2);
                                        }
                                    },
                                    { "data": 12 },
                                    {
                                        "data": 13,
                                        "render": function (data, type, row, meta) {
                                            return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                        }
                                    }

                                ],
                                "processing": true,
                                "searching": false,
                                "paging": true,
                                "ordering": false,
                                "info": false,
                                "destroy": true
                            });
                        }
                        else {
                            alert(obj.error);
                        }
                    },
                    error: function (obj, textstatus) {
                        console.log("error in ajax");
                        console.log(obj.msg);
                    }
                });
            } else if (common_actiontype == 'outlet_customers') {

                var actual_url_outlet = '<%= domain_url %>network_outlet_highriskreport/getcustomersbasedonoutlets?fromdate=' + fromdate + '&todate=' + todate + '&outlet_name=' + riskaction + '&action=<%= action %>';
                $.ajax({
                    type: "GET",
                    url: actual_url_outlet,
                    dataType: 'json',
                    success: function (obj, textstatus) {

                        if (!('error' in obj)) {

                            $("#progressbar").css('display', 'none');

                            $('#customerbasedtransaction_count').html(obj.length);

                            $("#div_outlet_customerrisk_id").css("display", "block");

                            table_customer_risk = $('#tbl_outlet_customerrisk_list_loader').DataTable({
                                data: obj,
                                columns: [
                                    { "data": 0 },
                                    {
                                        "data": 1,
                                        "render": function (data, type, row, meta) {
                                            return (data).toFixed(2);
                                        }
                                    },
                                    { "data": 2 },
                                    {
                                        "data": 3,
                                        "render": function (data, type, row, meta) {
                                            return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                        }
                                    },
                                    { "data": 4 },
                                    { "data": 5 }
                                ],
                                "processing": true,
                                "searching": false,
                                "paging": true,
                                "ordering": false,
                                "info": false,
                                "destroy": true
                            });
                        }
                        else {
                            alert(obj.error);
                        }
                    },
                    error: function (obj, textstatus) {
                        console.log("error in ajax");
                        console.log(obj.msg);
                    }
                });
            }
        }

        $("#progressbar").css('display', 'block');
        if ('<%= customerview_action %>' == "HR_Outlet_Customers") {
            ajax_loader('<%= fromdate %>', '<%= todate %>', '<%= risk_action %>', "outlet_customers");
        } else {
            ajax_loader('<%= fromdate %>', '<%= todate %>', '<%= risk_action %>', "risk_based_analysis");
        }


    });

</script>