<%- include partials/header.ejs %>

<!--main-container-part-->
<style type="text/css">
    .error {
        color: red;
    }

    .input-prepend input#u_password {
        width: 84%!important;
    }

    #s2id_u_role,
    #s2id_u_reporting_to {
        margin-left: 5px !important;
    }
    #u_password-error {
        font-size: 11px;
    }
</style>


<script src="<%= domain_url %>js/jquery.validate.min.js" ></script>

</style>
<% 
    if(data.length > 0) {
        var userdata = data[0]; 

        var org_id = userdata.id;
        var org_orgname = userdata.org_orgname;
        var org_firstname = userdata.org_firstname;
        var org_lastname=userdata.org_lastname;
        var org_email=userdata.org_email;
        var org_mobile=userdata.org_mobile;
        var org_orgaddress=userdata.org_orgaddress;

    } else {
        var org_id = "";
        var org_orgname = "";
        var org_firstname = "";
        var org_lastname="";
        var org_email="";
        var org_mobile="";
        var org_orgaddress="";
    }
%>

<div id="content">

    <%- locals.flash %>            
    
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span8">
            <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Organization-info</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="post" class="form-horizontal" id="org_editid" enctype="multipart/form-data"  >
                <div class="control-group">
                    <label class="control-label">Organization Name :</label>
                    <div class="controls">
                    <input type="text" class="span11" placeholder="Organization Name" name="o_orgname" id="o_orgname" value="<%= org_orgname %>" />
                    </div>
                </div>
                <div class="control-group">
                        <label class="control-label">Organization Address :</label>
                        <div class="controls">
                        <input type="text" class="span11" placeholder="Organization Address" name="o_orgaddress" id="o_orgaddress" value="<%= org_orgaddress %>" />
                        </div>
                    </div>
                <div class="control-group">
                    <label class="control-label">First Name :</label>
                    <div class="controls">
                    <input type="text" class="span11" placeholder="First Name" name="o_firstname" id="o_firstname" value="<%= org_firstname %>" />
                    </div>
                </div>
                <div class="control-group">
                        <label class="control-label">Last Name :</label>
                        <div class="controls">
                        <input type="text" class="span11" placeholder="Last Name" name="o_lastname" id="o_lastname" value="<%= org_lastname %>" />
                        </div>
                    </div>

                <div class="control-group">
                        <label class="control-label">Email :</label>
                        <div class="controls">
                        <input type="text" class="span11" placeholder="Email" name="o_email" id="o_email" value="<%= org_email %>" />
                        </div>
                </div>       
                <div class="control-group">
                        <label class="control-label">Mobile :</label>
                        <div class="controls">
                        <input type="text" class="span11" placeholder="Mobile" name="o_mobile" id="o_mobile" value="<%= org_mobile %>" />
                        </div>
                </div>      
                <div class="control-group">
                        <label class="control-label">Logo Upload :</label>
                        <div class="controls">
                            <div class="uploader" id="uniform-undefined" >
                                <input type="file" name="o_logouploader" id="o_logouploader" size="19" style="opacity: 0;" />
                                <span class="filename">No file selected</span>
                                <span class="action">Choose File</span>                                
                            </div>
                            <span id="dvPreview" style="display: none;height: 20px;width: 20px">
                                <img id="blah" src="#" style="height: 20px;width: 20px;cursor: pointer;" alt="your image"  />
                            </span>
                        </div>
                    </div> 
             
                <div class="form-actions">
                    <button type="submit" id="org_savebtn"  name="mdl_savebtn" class="btn btn-success pull-right">Save</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger pull-right" onclick="window.location.href='<%= domain_url %>dashboard'" >Cancel</button>                    
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body" >
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             
              <img id="img" src="#" alt="your image" style="height: 150px;width:150px;text-align:center;"/>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button id="close" type="button" class="btn btn-primary">OK</button></div>
          </div>
    </div>
</div>

<!--end-main-container-part-->
<script src="<%= domain_url %>js/bootbox.min.js"></script>
<script>
$(document).on('click','#blah',function(){

    $("#myModal").on("show", function() {    
        $("#close").on("click", function(e) {
            $("#myModal").modal('hide');     
        });
    });
    $("#myModal").on("hide", function() {   
        $("#myModal a.btn").off("click");
    });
    
    $("#myModal").modal({                    
      "backdrop"  : "static",
      "keyboard"  : true,
      "show"      : true                     
    });
});

function readURL(input) {
    $("#dvPreview").show();
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
            $('#img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#o_logouploader").change(function() {
    readURL(this);
});

$(document).ready(function() { 	


$("#org_editid").submit(function(e) {
    e.preventDefault();
    console.log("inside");
}).validate({
    ignore: [],   
    rules: {
        o_orgname: {
            required: true,
        },
        o_firstname: {
            required: true,
        },
        o_lastname: {
            required: true,
        },
        o_email: {
            email: true,
        },
        o_mobile: {
            required: true,
        }
    },
    messages:{
        o_orgname : "Organization Name is required",
        o_firstname : "First Name id is not valid",
        o_lastname : "Last Name id is not valid",
        o_email : "e-Mail id is not valid",
        o_mobile : "Mobile id is not valid",
    }, 
    submitHandler: function(form, e) { 

        e.preventDefault();
        var go_finalformdata = new FormData(form);

        Overlay(true);

        $.ajax({
            url: '<%= domain_url %>organization/update',
            type: 'POST',
            contentType:false,
            processData: false,
            data: go_finalformdata,
            success: function(response) {

                Overlay(false);

                if(response.status) {
                    window.location.href="<%= domain_url %>organization/edit";
                } else {
                    window.location.href="<%= domain_url %>organization/edit";
                }
                return;                        
            },
            error: function(xhr, result, errorThrown){
                alert("Somthing went wrong kindly try again.");
            }
        });
    }
});

if($(".alert.flash").text()!=""){
    go_fntoast($( ".alert.flash" ).text());
}

});

</script>


<%- include partials/footer.ejs %>
