<%- include partials/header.ejs %>

<style>
    .textfnt{
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;	
	font-family: 'Open Sans', sans-serif;
    color: #666;
    padding-top: 15px;
}
.popup-title{
    display: inline-block;
}
.no-btn-style{
    float: right;
    background: transparent;
    font-size: 22px;
    border: unset;
}
.no-btn-style:hover{
    background: none!important;
}
</style>
<!--main-container-part-->
<div id="content">
    <div class="container-fluid admin-wg1" >
    <div class="row-fluid">

        <%- locals.flash %>
        
        <div class="span12">

        <div class="widget-box">
            <div class="widget-title" >
            <h5 style="display: block;width: 90%;">ORGANIZATION LIST</h5>
            </div>
            <div class="widget-content">
            <div class="wg2">	
            <table id="tbl_organization_list" class="table table-striped table-bordered table-report-list"  cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ORGANIZATION NAME</th>
                    <!-- <th>FIRST NAME</th> -->
                    <th>CONTACT NAME</th>
                    <th>EMAIL</th>
                    <th>MOBILE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.length > 0) { %>
                    <% data.forEach(function(looper) { %>
                    <tr>
                        <td><%= looper.org_orgname %></td>
                        <td><%= looper.org_firstname %> <%= looper.org_lastname %></td>
                        <td><%= looper.org_email %></td>
                        <td><%= looper.org_mobile %></td>
                        <td><a data-id="<%= looper.id %>" id="blah"><i class="icon-user" style="font-size:18px;cursor: pointer;" ></i></a>
                        </td>
                    </tr>
                    <% }); %>
                <% } %>
            </tbody>
            </table>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>        
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-header">
<h4 class="popup-title">Organization Details</h4>
<button id="close" type="button" class="btn btn-primary no-btn-style">&times;</button>
        </div>
      <div class="modal-content">
        <!-- dialog body -->
        <div class="modal-body" >


            <div  class="form-horizontal">
            <div class="control-group">
            <label class="control-label">Organization Name :</label>
            <div class="controls">
            <span class="textfnt" name="o_orgname" id="o_orgname"></span>
            </div>
            </div>
            <div class="control-group">
                <label class="control-label">Organization Address :</label>
                <div class="controls">
                <span class="textfnt" name="o_orgaddress" id="o_orgaddress"></span>
                </div>
            </div>
            <div class="control-group">
            <label class="control-label">Contact Name :</label>
            <div class="controls">
            <span class="textfnt" name="o_firstname" id="o_firstname"></span>
            </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email :</label>
                <div class="controls">
                <span class="textfnt" name="o_email" id="o_email"></span>
                </div>
            </div>       
            <div class="control-group">
                <label class="control-label">Mobile :</label>
                <div class="controls">
                <span class="textfnt" name="o_mobile" id="o_mobile"></span>
                </div>
            </div>      

            <div class="control-group">
                <label class="control-label">Logo :</label>
                <div class="controls">

                        <span id="dvPreview" style="height: 20px;width: 20px">
                        </span>
                </div>
            </div> 

                 </div>                



        </div>
        <!-- dialog buttons -->
        <div class="modal-footer"></div>
      </div>
</div>
</div>


<script>

$(document).on('click','#blah',function(){
    var Id = $(this).data('id');

    $.ajax({
        type: 'GET',
        url: '<%= domain_url %>organization/getdata',	
        data:	{id:Id},				
        success: function(data) {
            
            console.log("org list")
            $("#o_orgname").text(data[0].org_orgname);
            $("#o_firstname").text(data[0].org_firstname+" "+data[0].org_lastname);
            $("#o_email").text(data[0].org_email);
            $("#o_mobile").text(data[0].org_mobile);
            $("#o_orgaddress").text(data[0].org_orgaddress);
            var image='<img  src="<%= domain_url %>img/company_logo/'+data[0].org_organization_logo+'" style="height: 20px;width: 20px;cursor: pointer;" alt="your image"  />';
            $("#dvPreview").html(image);
            
            
            $("#myModal").on("show", function() {    
                $("#close").on("click", function(e) {
                    $("#myModal").modal('hide');     
                });
            });
            $("#myModal").on("hide", function() {   
                $("#myModal a.btn").off("click");
            });
            
            $("#myModal").modal({                    
                "backdrop"  : "static",
                "keyboard"  : true,
                "show"      : true                     
            });
        }
    });
    
});


$(document).ready(function() {
    
    
    if($( ".alert.flash" ).text()!=""){
        go_fntoast($( ".alert.flash" ).text());
    }

    var tbl_module_list;

    elementOverlay("tbl_organization_list", true);
    tbl_module_list = $('#tbl_organization_list').DataTable({
        "processing": true,
        "searching": true, 
        "paging": true,
        "ordering":true,
        "info":true,
        "destroy": true,
    });    
    elementOverlay("tbl_organization_list", false);

});

</script>
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>