<!--end-main-container-part-->
<%- include partials/header.ejs %>
<style>
  .total_fnt{
    text-align: center !important;
  }
</style>
<div id="content">

  <link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
  <script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
  <script src="<%= domain_url %>js/select2.js"></script> 

  <div class="row-fluid">
    <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
        <div class="controls-1" style="margin-bottom:30px;">

            <div data-date="" class="input-append date datepicker" id="from_datepicker">
            <label class="control-label-1">From</label>
            <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>

            <div data-date="" class="input-append date datepicker" id="to_datepicker">
            <label class="control-label-1">To</label>
            <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 30px;">Apply</button> 
        </div>
      </div>        

    </form>
    </div>
  </div>


  <script>
    
    var global_dater = new Date();

    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();
      } else {
      var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }
    
  </script>

  <!--Action boxes-->
  <div class="container-fluid wg4-div wg5"  id="common_full_divider" style="display:none;" >

    <% if(pos_overall_rbc.report) { %>
    <div class="row-fluid">
      <div class="span12 margin_m_24" style="width:100%">
        <div class="widget-box">
          <div class="widget-title bg_ly" >
            <h5 style="display: block;width: 98%;">OVERALL RISKBASED ANALYSIS <!--CUSTOMER STATICTICAL REPORTS <i id="buysell_loader_id" class="icon icon-fullscreen" style="float: right;"></i> --> </h5>
          </div>
          <div class="widget-content">
            <div class="wg3">	
              <table id="tbl_outlet_highrisk" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>RISK LEVEL</th>
                  <th>NATIONALITY <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_NATIONALITY');" ></i></th>
                  <th>VALUE <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_VALUE');" ></i></th>
                  <th>CUSTOMER <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_CUSTOMERTYPE');" ></i></th>
                  <th>PURPOSE <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_PURPOSE');" ></i></th>
                  <th>SOURCE <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_SOURCE');" ></i></th>
                  <th>OCCUPATION <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_OCCUPATION');" ></i></th>
                  <th>PAYMENT <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_MODEOFPAYMENT');" ></i></th>
                  <th>DELIVERY <i class="icon-info-sign" onClick="fn_risktypebased_modal('RSK_MODEOFDELIVERY');" ></i></th>
                </tr>
              </thead>
              <tbody>

              <%  
                var counter = 0; 
                var ttl_national = 0;
                var ttl_value = 0;
                var ttl_customer = 0;
                var ttl_purpose = 0;
                var ttl_source = 0;
                var ttl_occupation = 0;
                var ttl_payment = 0;
                var ttl_delivery = 0; %>              
              %>
              <% data.forEach(function(risk_data) { %>
                
                <% 
                  ttl_national += risk_data["nationality_risk_score"]; 
                  ttl_value += risk_data["value_risk_score"]; 
                  ttl_customer += risk_data["customer_type_risk_score"]; 
                  ttl_purpose += risk_data["purpose_risk_score"]; 
                  ttl_source += risk_data["source_risk_score"]; 
                  ttl_occupation += risk_data["occupation_risk_score"]; 
                  ttl_payment += risk_data["mode_of_payment_risk_score"]; 
                  ttl_delivery += risk_data["mode_of_delivery_risk_score"]; 
                  
                %>
                  
                <% if(risk_data["risk_type"]=="high") { %>

                  <tr>
                    <td>High Risk</th>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["nationality_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_NATIONALITY', '<%= risk_data["nationality_risk_score"] %>');" <% } %> ><%= risk_data["nationality_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["value_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_VALUE', '<%= risk_data["value_risk_score"] %>');" <% } %> ><%= risk_data["value_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["customer_type_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_CUSTOMERTYPE', '<%= risk_data["customer_type_risk_score"] %>');" <% } %> ><%= risk_data["customer_type_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["purpose_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_PURPOSE', '<%= risk_data["purpose_risk_score"] %>');" <% } %> ><%= risk_data["purpose_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["source_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_SOURCE', '<%= risk_data["source_risk_score"] %>');" <% } %> ><%= risk_data["source_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["occupation_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_OCCUPATION', '<%= risk_data["occupation_risk_score"] %>');" <% } %> ><%= risk_data["occupation_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["mode_of_payment_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_MODEOFPAYMENT', '<%= risk_data["mode_of_payment_risk_score"] %>');" <% } %> ><%= risk_data["mode_of_payment_risk_score"] %></a></td>
                    <td><a href="#" style="color:#095790;" <% if(risk_data["mode_of_delivery_risk_score"] > 0 ) { %> onClick="fn_customer_modal('RSK_MODEOFDELIVERY', '<%= risk_data["mode_of_delivery_risk_score"] %>');" <% } %> ><%= risk_data["mode_of_delivery_risk_score"] %></a></td>
                  </tr>

                <% } else { %>
                  
                  <tr>
                    <td><%= (risk_data["risk_type"]=="low") ? "Low Risk" : (risk_data["risk_type"]=="medium") ? "Medium Risk" : "High Risk"; %></td>
                    <td><%= risk_data["nationality_risk_score"] %></td>
                    <td><%= risk_data["value_risk_score"] %></td>
                    <td><%= risk_data["customer_type_risk_score"] %></td>
                    <td><%= risk_data["purpose_risk_score"] %></td>
                    <td><%= risk_data["source_risk_score"] %></td>
                    <td><%= risk_data["occupation_risk_score"] %></td>
                    <td><%= risk_data["mode_of_payment_risk_score"] %></td>
                    <td><%= risk_data["mode_of_delivery_risk_score"] %></td>
                  </tr>

                <% } %>

                <% if((data.length-1)==counter) { %>
                </tbody>                

                  <tfoot>
                    <tr>
                      <td class="total_fnt">Total</td>
                      <td class="total_fnt"><%= ttl_national %></td>
                      <td class="total_fnt"><%= ttl_value %></td>
                      <td class="total_fnt"><%= ttl_customer %></td>
                      <td class="total_fnt"><%= ttl_purpose %></td>
                      <td class="total_fnt"><%= ttl_source %></td>
                      <td class="total_fnt"><%= ttl_occupation %></td>
                      <td class="total_fnt"><%= ttl_payment %></td>
                      <td class="total_fnt"><%= ttl_delivery %></td>
                    </tr>
                  </tfoot>                
                      
                <% } %>
                  
                <% counter++; %>

              <% }); %> 
             
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <!--End-Action boxes-->    
  <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
      <div class="row-fluid position-1">
      <div class="span11">
          <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
      </div>
      </div>
  </div>

</div>
  
  <!-- CUSTOMER VIEW LIST  -->
  <div class="modal-center hrt-popup">
  <div id="go_customerlist_action" class="modal fade modal-lg" role="dialog" >
  <div class="modal-dialog" >
      <div class="modal-content">
          
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
          <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>OVERALL HIGHRISK TRANSACTIONS : <span id="customer_count"></span> Customers carried out <span id="customerbasedtransaction_count"></span> Transactions </h4>
      </div>
      
      <div id="modalBody" class="ovf go_customerlist_body" style="height:450px;overflow:auto;display: none;" ></div>
      <div class="modal-footer"></div>
    
      </div>
  </div>
  </div>
  </div>

  <!-- RISKBASED VIEW LIST  -->
  <div class="modal-center">
  <div id="go_riskbasedlist_action" class="modal fade modal-md" role="dialog" >
  <div class="modal-dialog" >
      <div class="modal-content">
          
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
          <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i><span id="riskbased_name"></span></h4>
      </div>
      
      <div id="modalBody" class="ovf go_riskbasedlist_body" style="height:190px;overflow:auto;display: none;" ></div>
      <div class="modal-footer"></div>
    
      </div>
  </div>
  </div>
  </div>

  
<script>

  $(document).ready(function() {

    elementOverlay("tbl_outlet_highrisk", true);

    var buttons_arr = new Array();

    if("<%= pos_overall_rbc.download %>" == "true") {
    
      buttons_arr.push({extend:'excel', title:'OVERALL RISKBASED ANALYSIS', footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD OVERALL RISKBASED ANALYSIS'});
      buttons_arr.push({ extend:'pdf', title:'MULTIPLE CURRENCY TRANSACTION REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'MULTIPLE CURRENCY TRANSACTION REPORT', 
          orientation: 'landscape',
          pageSize: 'A4',
          customize: function ( doc ) {
            console.log(pdf_logo);
            doc.content.splice(1, 0, {
                margin: [ 0, 0, 0, 12],
                alignment: 'left',
                image:pdf_logo,
                width:80, 
                height:30 
            });
            doc.content[2].table.widths = ["*", "*", "*", "*", "*", "*", "*", "*", "*"];
          }
      });
    }
    if("<%= pos_overall_rbc.print %>" == "true") {
      buttons_arr.push({extend:'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title:'OVERALL RISKBASED ANALYSIS REPORT',
        orientation: 'landscape',
        pageSize: 'LEGAL',
        customize: function ( win ) { 
          $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
        }
      });
    }
    var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];

    var table = $('#tbl_outlet_highrisk').DataTable({
      "processing": true,
      "searching": false, 
      "paging": false,
      "ordering":false,
      "info":false,
      "destroy": true,
      "dom": 'Blfrtip',
      "buttons": buttoncollection
    });
    elementOverlay("tbl_outlet_highrisk", false);

  });

  function fn_customer_modal(riskaction, customer_count){
    
    Overlay(true);
    $(".go_customerlist_body").css('display','block');
    $('.go_customerlist_body').load("<%= domain_url %>customerrisk_summary_report/customer_risklist_loader?fromdate="+global_3m_fmdate+"&todate="+global_3m_todate+"&riskaction="+riskaction, function(){
        $('#go_customerlist_action').modal({show:true});
        $("#customer_count").html(customer_count);
        Overlay(false);
    });  
  }
  
  function fn_risktypebased_modal(riskaction) {

    Overlay(true);
    $(".go_riskbasedlist_body").css('display','block');
    $('.go_riskbasedlist_body').load("<%= domain_url %>customerrisk_summary_report/customer_riskbased_loader?fromdate="+global_3m_fmdate+"&todate="+global_3m_todate+"&riskaction="+riskaction, function(){

      if(riskaction == "RSK_NATIONALITY")
        risk_tbl_id = "NATIONALITY RISK DETAILS";
      else if(riskaction == "RSK_VALUE")
        risk_tbl_id = "VALUE RISK DETAILS";
      else if(riskaction == "RSK_CUSTOMERTYPE")
        risk_tbl_id = "CUSTOMER RISK DETAILS";
      else if(riskaction == "RSK_PURPOSE")
        risk_tbl_id = "PURPOSE RISK DETAILS";
      else if(riskaction == "RSK_SOURCE")
        risk_tbl_id = "SOURCE RISK DETAILS";
      else if(riskaction == "RSK_OCCUPATION")
        risk_tbl_id = "OCCUPATION RISK DETAILS";
      else if(riskaction == "RSK_MODEOFPAYMENT")
        risk_tbl_id = "PAYMENT RISK DETAILS";
      else if(riskaction == "RSK_MODEOFDELIVERY")
        risk_tbl_id = "DELIVERY RISK DETAILS";

      $("#riskbased_name").html(risk_tbl_id);
      $('#go_riskbasedlist_action').modal({show:true});
      Overlay(false);
      
    });  
  }

  if(global_3m_fmdate != '' && global_3m_todate != ''){
      $("#common_full_divider").show();
      // $("#common_img_divider").hide();
  } else {
      $("#common_full_divider").hide();
      // $("#common_img_divider").show();
  }
      
</script>
<!--end-main-container-part-->
<%- include partials/footer.ejs %>