  <!--end-main-container-part-->
  <%- include partials/header.ejs %>

<div id="content">

  <link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
  <script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
  <script src="<%= domain_url %>js/select2.js"></script> 

  <div class="row-fluid">
    <div class="widget-content nopadding"><br/>
    <form id="filter" name="filter" class="form-horizontal">

        <div class="control-group">
        <div class="controls-1" style="margin-bottom:30px;">

            <div data-date="" class="input-append date datepicker" id="from_datepicker">
            <label class="control-label-1">From</label>
            <input id="fromdate" name="fromdate" type="text" value="" data-date-format="dd-mm-yyyy" class="span11" autocomplete="off" >
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>

            <div data-date="" class="input-append date datepicker" id="to_datepicker">
            <label class="control-label-1">To</label>
            <input id="todate" name="todate" type="text" value="" data-date-format="dd-mm-yyyy" class="span12" autocomplete="off">
            <span class="add-on"><i class="icon-th"></i></span> 
            </div>
                
            <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-top: 25px;margin-left: 35px;">Apply</button> 

          </div>
        </div>        

    </form>
    </div>
  </div>


  <script>
    
    var global_dater = new Date();

    // COMMON DATEPICKER FOR FROM AND TO DATE
    $('#from_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
    $('#to_datepicker').datepicker({
        format:"dd-mm-yyyy",
    });
 
    //ON SELECT DATE TO CLOSE DATEPICKER 
    $('#from_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    $('#to_datepicker').on('changeDate', function(ev){
        (ev.viewMode == "days") ? $(this).datepicker('hide') : true;
    });

    var url_string = global_queryurl;
    var url = new URL(url_string);
    var global_3m_fmdate = url.searchParams.get("fromdate");
    var global_3m_todate = url.searchParams.get("todate");

    //DON'T DELETE THIS LINE, THIS SCRIPT WILL SET CURRENT DEFAULT DATE 
    // if(global_3m_fmdate === null && global_3m_todate === null) {
    if((global_3m_fmdate === null && global_3m_todate === null) || (global_3m_fmdate == "" && global_3m_todate == "")) {
        var pydate = new Date();
        pydate.setFullYear( pydate.getFullYear() - 1 );
        $("#from_datepicker").datepicker("setValue", new Date(pydate));
        $("#to_datepicker").datepicker("set", new Date());
        var global_3m_fmdate = $("#fromdate").val();
        var global_3m_todate = $("#todate").val();
      } else {
      var from_datetime  = new Date(global_3m_fmdate.split("-").reverse().join("-")).getTime(); 
        var to_datetime    = new Date(global_3m_todate.split("-").reverse().join("-")).getTime(); 
        $("#from_datepicker").datepicker("setValue", new Date(from_datetime));
        $("#to_datepicker").datepicker("setValue", new Date(to_datetime));
    }
    
  </script>
      

  <!--Action boxes-->
  <div class="container-fluid wg2-div" id="common_full_divider" style="display:none;" >

      <div class="row-fluid t_18">

        <% if(pos_nationality.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>Nationality</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content" id="collapseG2">

            <div class="wg2">	
            <table id="tbl_nationality" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>RISK LEVEL</th>
                  <th>CUSTOMERS</th>
                  <th>%</th>
                  <th>TRANSACTION</th>
                  <th>%</th>
                </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </tfoot> 
            </table>
          </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(pos_valuerisk.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>Value Risk</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content ">

              <div class="wg2">   
                <table id="tbl_value" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot> 
                </table>
              </div>

            </div>
          </div>
        </div>
        <% } %>

      </div>
      
      <div class="row-fluid position-l t_34">

        <% if(pos_customertype.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>CUSTOMER TYPE</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content collapse in">

              <div class="wg2">   
                <table id="tbl_customertype" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                      
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot> 
                </table>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      
        <% if(pos_purpose.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>PURPOSE</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content collapse in">

              <div class="wg2">   
                <table id="tbl_purpose" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
        <% } %>

      </div>
      
      <div class="row-fluid position-l t_34">
        
        <% if(pos_source.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>SOURCE</h5>
            </div>
  
            <!--widget-content collapse in-->
            <div class="widget-content collapse in">
  
              <div class="wg2">   
                <table id="tbl_source" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                      
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot> 
                </table>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      
        <% if(pos_occupation.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>OCCUPATION</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content collapse in">

              <div class="wg2">   
                <table id="tbl_occuption" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
        <% } %>

      </div>

      <div class="row-fluid position-l t_55">

        <% if(pos_payment.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>PAYMENT</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content collapse in">

              <div class="wg2">   
                <table id="tbl_payment" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                      
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot> 
                </table>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(pos_delivery.report) { %>
        <div class="span6 widget-h">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>DELIVERY</h5>
            </div>

            <!--widget-content collapse in-->
            <div class="widget-content collapse in">

              <div class="wg2">   
                <table id="tbl_delivery" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>RISK LEVEL</th>
                      <th>CUSTOMERS</th>
                      <th>%</th>
                      <th>TRANSACTION</th>
                      <th>%</th>
                    </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
        <% } %>

      </div>  

  </div>
  <div class="container-fluid wg1-div" id="common_img_divider" style="display:none;" >
      <div class="row-fluid position-1">
      <div class="span11">
          <img src="<%= domain_url %>img/bg_datasource_2.png" style="opacity:0.4"/>
      </div>
      </div>
  </div>

</div>

<div class="modal-center hrt-popup">
<div id="go_customerlist_action" class="modal fade modal-lg" role="dialog" >
<div class="modal-dialog" >
    <div class="modal-content">
        
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
        <h4 id="modalTitle" class="modal-title"><i class="fa fa-calendar-o fa-fw"></i>HIGHRISK CUSTOMER - <span id="customerrisk_type"></span> : <span id="customer_count"></span> Customers carried out <span id="customerbasedtransaction_count"></span> Transactions </h4>
    </div>
    
    <div id="modalBody" class="ovf go_customerlist_body" style="height:450px;overflow:auto;display: none;" ></div>
    <div class="modal-footer"></div>

    </div>
</div>
</div>
</div>


<script>

$(document).ready(function(){

  /***************************** COMMON AJAX LOADER ENDS HERES *********************************/
  var risk_table;

  var risklevel_loader = function(riskaction, fromdate, todate, print, download)
  {
    var risk_tbl_id;

    if(riskaction == "RSK_NATIONALITY")
      risk_tbl_id = "tbl_nationality";
    else if(riskaction == "RSK_VALUE")
      risk_tbl_id = "tbl_value";
    else if(riskaction == "RSK_CUSTOMERTYPE")
      risk_tbl_id = "tbl_customertype";
    else if(riskaction == "RSK_PURPOSE")
      risk_tbl_id = "tbl_purpose";
    else if(riskaction == "RSK_SOURCE")
      risk_tbl_id = "tbl_source";
    else if(riskaction == "RSK_OCCUPATION")
      risk_tbl_id = "tbl_occuption";
    else if(riskaction == "RSK_MODEOFPAYMENT")
      risk_tbl_id = "tbl_payment";
    else if(riskaction == "RSK_MODEOFDELIVERY")
      risk_tbl_id = "tbl_delivery";
    
    var riskaction_name_export = riskaction.replace("RSK_", "");

    $.ajax({
      type: "GET",
      url: '<%= domain_url %>customerrisk_summary_report?fromdate='+fromdate+'&todate='+todate+'&riskaction='+riskaction,
      dataType: 'json',
      success: function (obj, textstatus) {

        var dataSet = new Array;

        if (!('error' in obj)) {
          
          if(obj.status != "failed")
          {
            $.each(obj, function (index, value) {
              var tempArray = new Array;
              for (var o in value) {
                  tempArray.push(value[o]);
              }
              dataSet.push(tempArray);
            });
          }

          elementOverlay(risk_tbl_id, false);

          var buttons_arr = new Array();

          if(download){
            buttons_arr.push({extend:'excel', title:riskaction_name_export, footer: true,  text:'<i class="icon-table"></i>', titleAttr: 'DOWNLOAD '+riskaction_name_export})
            buttons_arr.push({ extend:'pdf', title: 'RISK : '+ riskaction_name_export+ ' REPORT', footer: true,  text:'<i class="icon-file"></i>', titleAttr: 'RISK : '+ riskaction_name_export+ ' REPORT', 
                customize: function ( doc ) {
                  console.log(pdf_logo);
                  doc.content.splice(0, 0, {
                      margin: [ 0, 0, 0, 12],
                      alignment: 'left',
                      image:pdf_logo,
                      width:80, 
                      height:30 
                  });
                  doc.content[2].table.widths = ["*", "*", "*", "*", "*"];
                }
            });
          }
          if(print){
            buttons_arr.push({extend: 'print', text: '<i class="icon-print"></i>', autoPrint: true, footer:true, title: 'RISK : '+ riskaction_name_export+ 'REPORT', 
              customize: function ( win ) { 
                $(win.document.body).css( 'font-size', '10pt' ).prepend('<img src="<%= domain_url %>/img/msb_icon_1.png" style="position:absolute; top:0; left:0;width: 100px; height: 40px;" /><br/><br/>');
              }
            });
          }
          var buttoncollection = (buttons_arr.length > 0) ? [{ extend: 'collection', text: '<i class="icon-cloud-download"></i>', "buttons": buttons_arr }] : [];


          risk_table = risk_tbl_id;

          risk_table = $('#'+risk_tbl_id).DataTable({
              data: dataSet,
              columns : [
                  { "data" : 0 },
                  { "data" : 1,
                    "render": function(data, type, row, meta){
                      if(type === 'display' && row[0] == 'High Risk' && data > 0) {
                        data = '<a href="#" id="hr_'+risk_tbl_id+'" style="color:#095790;" onClick="fn_customer_modal('+"'"+risk_tbl_id+"'"+','+"'"+data+"'"+');" >'+data+'</a>';
                      } else {
                        data = data;
                      }
                      return data;
                    }                   
                  },
                  { "data" : 2 },
                  { "data" : 3 },
                  { "data" : 4 },
              ],
              "footerCallback": function ( row, data, start, end, display ) {

                  var api = this.api(), data;
      
                  // converting to interger to find total
                  var intVal = function ( i ) {
                      return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ? i : 0;
                  };

                  // computing column Total of the complete result 
                  var a1 = api.column( 1 ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                  }, 0 );
                      
                  var a2 = api.column( 2 ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                  }, 0 );
                    
                  var a3 = api.column( 3 ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                  }, 0 );
                      
                  var a4 = api.column( 4 ).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                  }, 0 );

                  // Update footer by showing the total with the reference of the column index 
                  $( api.column( 0 ).footer() ).html('Total');
                  $( api.column( 1 ).footer() ).html(a1);
                  $( api.column( 2 ).footer() ).html(a2.toFixed(0));
                  $( api.column( 3 ).footer() ).html(a3);
                  $( api.column( 4 ).footer() ).html(a4.toFixed(0));
              },
              "processing": true,
              "searching": false, 
              "paging": false,
              "ordering":false,
              "info":false,
              "destroy": true,
              "dom": 'Blfrtip',
              "buttons": buttoncollection
            });
        }
        else {
          alert(obj.error);
        }
      },
      error: function (obj, textstatus) {
        console.log("ERR :: Nationality loader in ajax");
        console.log(obj.msg);
      }
    });

  }

  if("<%= pos_nationality.report %>" == "true") {

    var print = false;
    if("<%= pos_nationality.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_nationality.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_nationality", true);
    risklevel_loader("RSK_NATIONALITY", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_valuerisk.report %>" == "true") {
    var print = false;
    if("<%= pos_valuerisk.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_valuerisk.download %>" == "true") {
      download = true;
    }    
    
    elementOverlay("tbl_value", true);
    risklevel_loader("RSK_VALUE", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_customertype.report %>" == "true") {
    var print = false;
    if("<%= pos_customertype.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_customertype.download %>" == "true") {
      download = true;
    }    
    
    elementOverlay("tbl_customertype", true);
    risklevel_loader("RSK_CUSTOMERTYPE", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_purpose.report %>" == "true") {
    var print = false;
    if("<%= pos_purpose.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_purpose.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_purpose", true);
    risklevel_loader("RSK_PURPOSE", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_source.report %>" == "true") {
    var print = false;
    if("<%= pos_source.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_source.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_source", true);
    risklevel_loader("RSK_SOURCE", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_occupation.report %>" == "true") {
    var print = false;
    if("<%= pos_occupation.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_occupation.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_occuption", true);
    risklevel_loader("RSK_OCCUPATION", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_payment.report %>" == "true") {
    var print = false;
    if("<%= pos_payment.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_payment.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_payment", true);
    risklevel_loader("RSK_MODEOFPAYMENT", global_3m_fmdate, global_3m_todate, print, download);
  }

  if("<%= pos_delivery.report %>" == "true") {
    var print = false;
    if("<%= pos_delivery.print %>" == "true") {
      print = true;
    }
    var download = false;
    if("<%= pos_delivery.download %>" == "true") {
      download = true;
    }
    
    elementOverlay("tbl_delivery", true);
    risklevel_loader("RSK_MODEOFDELIVERY", global_3m_fmdate, global_3m_todate, print, download);
  }
  /***************************** COMMON AJAX LOADER ENDS HERES *********************************/
});

function fn_customer_modal(action_type, customer_count){

  var riskaction;

  if(action_type == "tbl_nationality")
    riskaction = "RSK_NATIONALITY";
  else if(action_type == "tbl_value")
    riskaction = "RSK_VALUE";
  else if(action_type == "tbl_customertype")
    riskaction = "RSK_CUSTOMERTYPE";
  else if(action_type == "tbl_purpose")
    riskaction = "RSK_PURPOSE";
  else if(action_type == "tbl_source")
    riskaction = "RSK_SOURCE";
  else if(action_type == "tbl_occuption")
    riskaction = "RSK_OCCUPATION";
  else if(action_type == "tbl_payment")
    riskaction = "RSK_MODEOFPAYMENT";
  else if(action_type == "tbl_delivery")
    riskaction = "RSK_MODEOFDELIVERY";
  else
    riskaction = '';

  $(".go_customerlist_body").css('display','block');
  Overlay(true);
  $('.go_customerlist_body').load("<%= domain_url %>customerrisk_summary_report/customer_risklist_loader?fromdate="+global_3m_fmdate+"&todate="+global_3m_todate+"&riskaction="+riskaction, function(){
      $('#go_customerlist_action').modal({show:true});

      var riskaction_after_remove =  riskaction.replace("RSK_", "");
      $('#customerrisk_type').html(riskaction_after_remove);
      $('#customer_count').html(customer_count);
      Overlay(false);
     
  });  
}

$(document).ready(function() {
    if(global_3m_fmdate != '' && global_3m_todate != ''){
        $("#common_full_divider").show();
        // $("#common_img_divider").hide();
    } else {
        $("#common_full_divider").hide();
        // $("#common_img_divider").show();
    }
});

</script>

<!--end-main-container-part-->
<%- include partials/footer.ejs %>