<style>
  #tbl_buysell_filter{
    top: 0px !important;
  }
</style>
<table id="tbl_riskbased_view" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>RISK LEVEL</th>
      <th>CUSTOMERS</th>
      <th>%</th>
      <th>TRANSACTION</th>
      <th>%</th>
    </tr>
  </thead>
  <tfoot>
      <tr>
          <th class="total_fnt"></th>
          <th class="total_fnt"></th>
          <th class="total_fnt"></th>
          <th class="total_fnt"></th>
          <th class="total_fnt"></th>
      </tr>
  </tfoot> 
</table>

<script>

$(document).ready(function(){

  /***************************** COMMON AJAX LOADER ENDS HERES *********************************/
  var risk_table;

  var risklevel_loader = function(riskaction, fromdate, todate)
  {
    $.ajax({
      type: "GET",
      url: '<%= domain_url %>customerrisk_summary_report?fromdate='+fromdate+'&todate='+todate+'&riskaction='+riskaction,
      dataType: 'json',
      success: function (obj, textstatus) {

        var dataSet = new Array;

        if (!('error' in obj)) {
          
          if(obj.status != "failed")
          {
            $.each(obj, function (index, value) {
              var tempArray = new Array;
              for (var o in value) {
                  tempArray.push(value[o]);
              }
              dataSet.push(tempArray);
            });
          }

          risk_table = $('#tbl_riskbased_view').DataTable({
              data: dataSet,
              columns : [
                  { "data" : 0 },
                  { "data" : 1 },
                  { "data" : 2 },
                  { "data" : 3 },
                  { "data" : 4 },
              ],
              "footerCallback": function ( row, data, start, end, display ) {

                  var api = this.api(), data;
      
                  // converting to interger to find total
                  var intVal = function ( i ) {
                      return typeof i === 'string' ?
                          i.replace(/[\$,]/g, '')*1 :
                          typeof i === 'number' ?
                              i : 0;
                  };

                  // computing column Total of the complete result 
                  var a1 = api
                      .column( 1 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                      
                  var a2 = api
                      .column( 2 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                    
                  var a3 = api
                      .column( 3 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                      
                  var a4 = api
                      .column( 4 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );

                // Update footer by showing the total with the reference of the column index 
                $( api.column( 0 ).footer() ).html('Total');
                $( api.column( 1 ).footer() ).html(a1);
                $( api.column( 2 ).footer() ).html(a2.toFixed(0));
                $( api.column( 3 ).footer() ).html(a3);
                $( api.column( 4 ).footer() ).html(a4.toFixed(0));
              },
              "processing": true,
              "searching": false, 
              "paging": false,
              "ordering":false,
              "info":false,
              "destroy": true                  
            });
            $("#progressbar").css('display','none');
        }
        else {
          alert(obj.error);
        }
      },
      error: function (obj, textstatus) {
        console.log("ERR :: Nationality loader in ajax");
        console.log(obj.msg);
      }
    });

  }

  risklevel_loader("<%=risk_action%>", "<%=fromdate%>", "<%=todate%>");
  /***************************** COMMON AJAX LOADER ENDS HERES *********************************/
});


</script>
