<%- include partials/header.ejs %>

<script type="text/javascript" src="<%= domain_url %>tree_loader/google_org_chart/loader.js"></script>

<!--main-container-part-->
<div id="content">
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" style="margin-left: 15px!important;">
            <div class="widget-box">
                <div class="widget-title bg_ly" >
                    <h5 style="display: block;width: 90%;">Reporting Hierarchy</h5>
                </div>
                <div>
                    <div id="chart_div" style="margin-top: 1%;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<style>

    #chart_div table {
        border-collapse: unset;
    }

    table thead tr th:last-child, table tr td:last-child {
        border-right: none !important;
    }

    table tbody tr:last-child td {
        border-bottom: none;
    }

</style>
<script>

$(document).ready(function() {

    google.charts.load('current', {packages:["orgchart"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        Overlay(true);
        $.ajax({
            url: '<%= domain_url %>reportingTree/tree_reporting',
            type: "GET",
            dataType: "json",
            cache : false,
            processData: false,
            success: function (response, textstatus) {


                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Name');
                data.addColumn('string', 'Manager');
                data.addColumn('string', 'ToolTip');

                data.addRows(response);

                // Create the chart.
                var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
                // Draw the chart, setting the allowHtml option to true for the tooltips.
                chart.draw(data, {allowHtml:true});
                Overlay(false);
            },
            error: function (obj, textstatus) {
                console.log("error in ajax");
                console.log(obj.msg);
            }
        });
    }
});

</script>
    
</div>
<!--end-main-container-part-->

<%- include partials/footer.ejs %>