<!DOCTYPE html>
<html lang="en">

<head>
    <title>MSB Admin | Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/matrix-login.css" />
    <link href="<%= domain_url %>font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= domain_url %>css/font-awesome.css">
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="<%= domain_url %>parsley/parsley.css" />
    <link rel="stylesheet" href="<%= domain_url %>css/login.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div class="container-1">

        <div id="loginbox">

            <%- locals.flash %>
                <form id="resetPaswordForm" class="form-vertical" action="" method="post" data-parsley-validate="true" data-parsley-trigger="keyup">
                    <input type="hidden" name="secret_key" id="secret_key" value="<%= secret_key %>" />
                    <input type="hidden" name="product_key" id="product_key" value="<%= uuid %>" />
                    <input type="hidden" name="email_id" id="email_id" value="<%= email_id %>" />
                    <div class="control-group normal_text">
                        <h3>
                            <img src="<%= domain_url %>img/MSB_icon.png" alt="Logo" width="125px" />
                        </h3>

                    </div>

                    <div class="control-group">

                        <div class="controls">
                            <h4 style="color: #ffb848">Reset Password</h4>
                            <p style="color: whitesmoke">Minimum 8 characters including a number, an uppercase, lowercase and special letter</p>
                            <div class="main_input_box">

                                <span class="add-on bg_ly">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" placeholder="New Password" id="password" name="password" minlength="8" autocomplete="off" required="required"
                                    data-parsley-pattern="/(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="main_input_box">
                                <span class="add-on bg_ly">
                                    <i class="icon-lock"></i>
                                </span>
                                <input type="password" id="confirm_password" placeholder="Confirm Password" minlength="8" name="confirm_password" autocomplete="off"
                                    required="required" data-parsley-pattern="/(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"
                                    data-parsley-equalto="#password" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group" style="margin-left: 60px">
                        <div class="controls">
                            <script src="//www.google.com/recaptcha/api.js" async defer></script>
                            <div class="g-recaptcha" data-sitekey="6LeCP2IUAAAAAFAmqBfSG8pVTJLzy88JIPlB1NDg"></div>
                        </div>
                    </div>
                    <div class="form-actions" style="border-top: 0px solid #3f4954;">
                        <span class="pull-right">
                            <button type="submit" id="reset_submit" class="btn btn-success" /> Save Password</button>
                        </span>
                    </div>


                </form>
        </div>
    </div>

    </div>
    <div id="snackbar"></div>
    <script src="<%= domain_url %>js/jquery.min_new.js"></script>
    <script src="<%= domain_url %>js/matrix.login.js"></script>
    <script src="<%= domain_url %>parsley/parsley.js"></script>
    <script src="<%= domain_url %>overlay/loadingoverlay.min.js"></script>
    <script src="<%= domain_url %>overlay/overlay.js"></script>
    <script>
        if ($(".alert.flash").text() != "") {
            go_fntoast($(".alert.flash").text());
        }

        // toast message
        function go_fntoast(msg) {
            var x = document.getElementById("snackbar");
            x.innerHTML = msg;
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
        $(document).ready(function () {

            $("#resetPaswordForm").submit(function (e) {
                e.preventDefault();
                $('#resetPaswordForm').parsley().validate();

                if ($('#resetPaswordForm').parsley().isValid()) {

                    var recaptcha = $('#g-recaptcha-response').val();
                    if (recaptcha === "") {
                        alert('Please check recaptcha');
                        return false;
                    }
                    var secret_key = $('#secret_key').val().trim();    
                    var product_key = $('#product_key').val().trim();
                    var email_id = $('#email_id').val().trim();
                    var password = $('#password').val().trim();
                    Overlay(true);

                    var form = $('#resetPaswordForm')[0];
                    var go_finalformdata = new FormData(form);

                    $.ajax({
                        url: '<%= domain_url %>resetAuthenticate',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: go_finalformdata,
                        success: function (response) {

                            console.log(response);

                            Overlay(false);
                            // if (response.status) {
                            //     alert('Password changed successfully.');
                            // } else {
                            //     alert(response.msg);
                            // }
                            window.location.href = "<%= domain_url %>login";
                            return;
                        },
                        error: function (xhr, result, errorThrown) {
                            alert("Somthing went wrong kindly try again.");
                        }
                    });
                }

            });

        });
    </script>
</body>

</html>