<%- include partials/header.ejs %>

<style type="text/css">
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#progressbar .widget-content{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 25%;
}
#progressbar2 .widget-content{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 25%;
}
.error{
    color:red;
}
.pie-progress-txt{
    color:#fff;
}
.pie-progress{
    position: absolute;
    left: 42%;
    top: 35%;
}
#divProgresscanvas{
    padding-top: 215px;
}
.sanitized_div_id .widget-content{
    top:0!important;
}
.sanitized_div_id .san-upload-ico {
    font-size: 20px;
    /* display: block!important; */
    text-align: center;
    margin: -3px 5px 0 3px;
}
.sanitized_div_id .dt-src{
    font-size: 8px;
    vertical-align: super;
}
div.uploader span.filename {
    width: 182px;
    font-size: 10px;
}
div.uploader span.action {
    width: 85px;
}
div.uploader {
    width: 290px!important;
}
#xl_upload-error {
    position: absolute;
    font-size: 10px;
    left: 88px;
    width: 100%;
    top: 4px;
}
#xl_datasource_name + label.error{
    margin-left:5px;
    font-size: 12px;
}

</style>
<!--main-container-part-->
<div id="content">

<!-- <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="<%= domain_url %>circule_progressbar/css/style.css" />
<link rel="stylesheet" href="<%= domain_url %>circule_progressbar/css/normalize.min.css" /> -->

<script type="text/javascript" src="<%= domain_url %>circule_loader/CircularLoader-v1.3.js"></script>

<script type="text/javascript" src="<%= domain_url %>js/jquery.validate.min.js"></script>
<link rel="stylesheet" href="<%= domain_url %>css/datepicker.css" />
<script src="<%= domain_url %>js/bootstrap-datepicker.js"></script>
<script src="<%= domain_url %>js/select2.js"></script> 

<div class="row-fluid">
    <div class="span12 sanitized_div_id">
    <div class="widget-box">
    <%- locals.flash %>            

    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
    <h5 style="float:inherit;"> &nbsp; UPLOAD TRANSACTIONS 
        <span class="" style="float:right;">
            <a href="<%= domain_url %>img/common_template/DATASOURCE_TEMPLATE.txt" download style="color:#fff;float: right;" >
                    <span class="dt-src">Download Data Source Template </span>
                     <i class="icon-cloud-download san-upload-ico"></i>
            </a>
            </span>
    </h5>
    </div>                
    <div class="widget-content nopadding">
        <form id="sanitized_import_formid" name="sanitized_import_formid" class="form-horizontal" method="POST" enctype="multipart/form-data" >

            <div class="control-group">
            <label class="control-label">Datasource Name</label>
            <div class="controls" style="margin-left: 218px;">
                <input id="xl_datasource_name" name="xl_datasource_name" type="text" class="span4" value="" tabindex="1" />
            </div>
            </div>
            
            <div class="control-group">
            <label class="control-label">File upload</label>
            <div class="controls">
                <div class="uploader" id="uniform-undefined" >
                <input id="xl_upload" name="xl_upload" type="file" class="span4"  accept=".txt,.csv" tabindex="1" size="19" style="opacity: 0;" onchange="showname(this);"  />
                <span class="filename">No file selected</span>
                <span class="action">Choose File</span>
              </div>
            </div>
            <span class="controls uploadedfile_details"></span>
            </div>

            <div class="form-actions" style="padding: 10px 15px 15px 10px;">
                <button type="submit" id="fltr_submit" class="btn btn-success" style="margin-left:195px;border-radius: 4px; background: #5182a5; box-shadow: 0px 1px 1px 0px #000;margin-top: 5px;">Upload</button> 
                
            </div>
            
        </form>
    </div>
    </div>

<div id="show_column_mismatch_error">
</div>
    <div class="position-l">
        <div class="span12 san-upload-trans">
          <div class="widget-box">
            <div class="widget-title bg_ly">
              <h5>UPLOADED TRANSACTIONS</h5>
            </div>
  
            <!--widget-content collapse in-->
            <div class="widget-content collapse in">
  
              <div class="wg3">   
                <table id="tbl_masterdatasource_id" class="table table-striped table-bordered table-report-list dataTable" style="font-size:13px;" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th width="30%">NAME</th>
                      <th>TRANSACTIONS COUNT</th>
                      <th>UPLOADED DATE</th>
                      <th>DOWNLOAD</th>
                      <!-- <th>ACTION</th> -->
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <!-- <th></th> -->
                      </tr>
                  </tbody> 
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>  


    <div style="display:none;" id="real_processbar" class="fuloverlay">
        <div id="divProgress"></div>
    </div>

</div>

                
</div>
</div>

<script type="text/javascript">


    $(document).ready(function() {
        if($( ".alert.flash" ).text()!=""){
            go_fntoast($( ".alert.flash" ).text());
        }       
    });
    
    function showname(thisvalue) {
        var name = document.getElementById('xl_upload'); 
        $(".uploadedfile_details").html(' > File: ' + name.files.item(0).name+', Size : ' + Math.round((name.files.item(0).size / 1024)) + ' KB' );
    };

    function update(perc) {

        $("#divProgress").circularloader({
            progressPercent: perc,
            backgroundColor: "#ffffff",//background colour of inner circle
            fontColor: "#000000",//font color of progress text
            fontSize: "40px",//font size of progress text
            radius: 70,//radius of circle
            progressBarBackground: "#cdcdcd",//background colour of circular progress Bar
            progressBarColor: "#ffc300",//colour of circular progress bar
            progressBarWidth: 25,//progress bar width
            speed: 10,
            progressvalue: perc,
            showText: true
        });
    }

    $.validator.addMethod("vld_filesize", function(value, element){

        var name = document.getElementById('xl_upload'); 

        //name.files.item(0).size
        //Math.round((name.files.item(0).size / 1024))
        
        if(name.files.item(0).size > 0) {
            return true; // PASS validation otherwise
        } else {
            return false; // FAIL validation when REGEX matches
        };
    }, "Upload file dont have data!");     

    $("#sanitized_import_formid").validate({
      
        rules: {
            xl_datasource_name: {
                required: {
                    depends:function(){
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
                remote: {
                    url: "<%= domain_url %>sanitized_import/chk_masterdatasource_exists",
                    type: "GET"
                },
            },
            xl_upload: {
                required: true,
                vld_filesize: true
            }
        },
        messages: {
            xl_datasource_name: {
                required: "Name must be required",
                remote: "Datasource name already exists"
            },
            xl_upload: {
                required: "Files must be required",
            }
        },
        submitHandler: function(form, event) {

            event.preventDefault();

            $("#real_processbar").css('display','block');
           // $("#show_column_mismatch_error").hide();
            $.ajax({
                url: "<%= domain_url %>sanitized_import/insert_xl",
                type: 'POST',
                contentType:false,
                processData: false,
                data: new FormData(form),
                success: function(response) {

                    console.log("done"+response.status);
                    if(response.status == "finished")
                    {
                        console.log("enter into status success cases");
                        setTimeout(function () {
                            console.log("Sanitized data has been uploaded successfully!");
                            var percent = 0;

                            var load_risk_cumulative = function (response, callback){

                                var request_action = response.request_action;
                                console.log("request_action"+request_action);
                                var master_datasource_objectid = response.master_datasource_objectid;
                                console.log("master_datasource_objectid"+master_datasource_objectid);
                                $.ajax({
                                    url: "<%= domain_url %>sanitized_import/cumlative_risk",
                                    type: 'GET',
                                    data:{request_action:request_action, request_datasourceid:master_datasource_objectid},
                                    contentType:false,
                                    success: function(response) {

                                        if(response[0].status == "gorisk" || response[0].status ==  false)
                                        {
                                            console.log("updated value action based on risk factores");
                                            
                                            percent = 10+percent;
                                            // $("#bar2").css('width', percent+'%');
                                            console.log(percent);

                                            if(request_action == "RSK_VALUE") {
                                                update(30);
                                                return callback(false);
                                            } else if(request_action == "RSK_NATIONALITY") {
                                                update(40);
                                                return callback(false);
                                            } else if(request_action == "RSK_CUSTOMERTYPE") {
                                                update(50);
                                                return callback(false);
                                            } else if(request_action == "RSK_PURPOSE") {
                                                update(60);
                                                return callback(false);
                                            } else if(request_action == "RSK_SOURCE") {
                                                update(70);
                                                return callback(false);
                                            } else if(request_action == "RSK_OCCUPATION") {
                                                update(80);
                                                return callback(false);
                                            } else if(request_action == "RSK_MODEOFPAYMENT") {
                                                update(90);
                                                return callback(false);
                                            } else if(request_action == "RSK_MODEOFDELIVERY") {
                                                update(100);
                                                return callback(true);
                                            }
                                        }
                                    },
                                    error: function(xhr, result, errorThrown){
                                        console.log(errorThrown);
                                        alert("Somthing went wrong kindly try again.");
                                        location.reload();
                                    }
                                });
                            }

                            var params_cumulation = {request_action: "RSK_VALUE", "master_datasource_objectid": response.datasource_objectid};
                            load_risk_cumulative(params_cumulation, function(resultdata){

                                var params_cumulation = {request_action: "RSK_NATIONALITY", "master_datasource_objectid": response.datasource_objectid};
                                load_risk_cumulative(params_cumulation, function(resultdata){

                                    var params_cumulation = {request_action: "RSK_CUSTOMERTYPE", "master_datasource_objectid": response.datasource_objectid};
                                    load_risk_cumulative(params_cumulation, function(resultdata){

                                        var params_cumulation = {request_action: "RSK_PURPOSE", "master_datasource_objectid": response.datasource_objectid};
                                        load_risk_cumulative(params_cumulation, function(resultdata){

                                            var params_cumulation = {request_action: "RSK_SOURCE", "master_datasource_objectid": response.datasource_objectid};
                                            load_risk_cumulative(params_cumulation, function(resultdata){

                                                var params_cumulation = {request_action: "RSK_OCCUPATION", "master_datasource_objectid": response.datasource_objectid};
                                                load_risk_cumulative(params_cumulation, function(resultdata){

                                                    var params_cumulation = {request_action: "RSK_MODEOFPAYMENT", "master_datasource_objectid": response.datasource_objectid};
                                                    load_risk_cumulative(params_cumulation, function(resultdata){

                                                        var params_cumulation = {request_action: "RSK_MODEOFDELIVERY", "master_datasource_objectid": response.datasource_objectid};
                                                        load_risk_cumulative(params_cumulation, function(resultdata){

                                                            setTimeout(function () {

                                                                if(resultdata){
                                                                    $("#real_processbar").css('display','none');
                                                                    location.reload();
                                                                } else {
                                                                    location.reload();
                                                                }
                                                            }, 1000);

                                                        });
                                                        
                                                    });
                                                    
                                                });

                                            });
                                        });
                                        
                                    });

                                });
                                
                            });

                        }, 1000);
                    }  else  if(response.status == "unfinished") {
                       // console.log(response.data+1);

                        var rows = parseInt(response.data) + parseInt(1);
                        
                        $("#show_column_mismatch_error").append("<div class='upld_errors'> <div>"+"<h5>COLUMN MISMATCHED ERROR</h5>"+"</div><div class='alert'>"
                        +" <span class='closebtn'>&times;</span> "
                        +" <strong>Error!</strong> The rows <b>"+response.data+"</b> contains mismatched column please check and upload."
                        +"</div></div>");

                        $(".closebtn").click(function(){
                            $(".upld_errors").hide();
                        });

                        $("#real_processbar").css("display", "none");
                        $("#xl_datasource_name").val("");
                        $("#xl_upload").val("");
              
                        //$("#id").val()
                    }  else {
                        alert(response.message);
                        location.reload();
                    }
                    return;
                },
                xhr: function(){

                    var xhr = new window.XMLHttpRequest();

                    // Upload progress
                    xhr.upload.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = (((evt.loaded / evt.total) * 100) - 90);
                            console.log(percentComplete);
                            update(10);
                        }
                    }, false);

                    // Download progress
                    xhr.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = (((evt.loaded / evt.total) * 100) - 80);
                            console.log(percentComplete);
                            update(20);
                        }
                    }, false);

                    return xhr;

                },
                error: function(xhr, result, errorThrown){
                    console.log(errorThrown);
                    alert(result);
                    location.reload();
                }
            });
        }
    });

    var risk_table;
    var masterdata_loader = function()
    {
        $.ajax({
            type: "GET",
            url: '<%= domain_url %>sanitized_import/masterdatasource_lister',
            dataType: 'json',
            success: function (obj, textstatus) {

                if (!('error' in obj)) {

                    risk_table = $('#tbl_masterdatasource_id').DataTable({
                        data: obj,
                        columns : [
                            // { "data" : 0 },
                            { "data" : 2 },
                            { "data" : 4 },
                            { "data" : 5 ,
                                "render": function(data, type, row, meta){
                                    return moment.utc(data).format("DD-MMM-YYYY hh:mm:ss A");
                                }                          
                            },
                            { "data" : 1,
                                "render": function(data, type, row, meta){

                                    var xl_datasource_name = (row[2] !== undefined) ? encodeURI(row[2]) : "";
                                    data = '<a href="<%= domain_url %>sanitized_import/datasource_download?datasource_objectid='+data+'&xl_datasource_name='+xl_datasource_name+'" style="color:#095790;" ><i class="icon-cloud-download"></i></a>';
                                    return data;
                                }   
                            },
                        ],
                        "processing": true,
                        "searching": false, 
                        "paging": true,
                        "ordering":false,
                        "info":true,
                        "destroy": true                  
                    });
                    elementOverlay("tbl_masterdatasource_id", false);
                }
                else {
                    alert(obj.error);
                }
            },
            error: function (obj, textstatus) {
                console.log("ERR :: Master datasource loader in ajax");
                console.log(obj.msg);
            }
        });
    }
    elementOverlay("tbl_masterdatasource_id", true);
    masterdata_loader();


    function fn_remove_masterdata(master_id){

        $.ajax({
            type: "GET",
            url: '<%= domain_url %>sanitized_import/masterdatasource_remove?datasource_objid='+master_id,
            dataType: 'json',
            success: function (obj, textstatus) {
                if(obj.status){
                    alert(obj.message);
                } else {
                    alert("Somthing went wrong, Kindly try again later!!!");
                }

                location.reload();
            },
            error: function (obj, textstatus) {
                console.log("ERR :: Master datasource remover in ajax");
                console.log(obj.msg);
            }
        });
    }

</script>

<!--end-main-container-part-->

<%- include partials/footer.ejs %>