<style>

  #tbl_buysell_filter{
    top: 0px !important;
  }

</style>

<%- include partials/header.ejs %>
<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
    <div id="content-header">
      <div id="breadcrumb"> 
        <a href="/menu1" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        &raquo; &nbsp; Transaction Range Report

      </div>
    </div>
    <div>
      <h4>&nbsp; <span style="color:red;">All Transactions by RM Range</span></h4>
    </div>
    <div>

      <%- include partials/filter.ejs %>
        
      <table id="tbl_buysell" class="table table-striped table-bordered table-report-list" style="font-size:13px;" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>TRANSACTION RANGE</th>
            <th>FREQUENCY</th>
            <th>(%)</th>
            <th>AMOUNT AGGREGATE</th>
            <th>(%)</th>
          </tr>
        </thead>
        <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>        
      </table>

    </div>
  <!--End-breadcrumbs-->
  </div>

  <script>

    $(document).ready(function() {

      var table;

      $("#filter").submit(function(e){

          e.preventDefault();
          $("#progressbar").css('display','block');
          // var formData = new FormData(this);

          var fromdate = $("#fromdate").val();
          var todate = $("#todate").val();

          if(fromdate == '' || fromdate == '')
          {
              alert("Date fields are required!!!");
              return false;
          }
          ajax_loader(fromdate, todate);
      });

      var ajax_loader = function (fromdate, todate)
      {
        $.ajax({
          type: "GET",
          url: '<%= domain_url %>transactionrangereport?fromdate='+fromdate+'&todate='+todate,
          dataType: 'json',
          success: function (obj, textstatus) {

            var dataSet = new Array;

            if (!('error' in obj)) {
              
              if(obj.status != "failed")
              {
                $.each(obj, function (index, value) {
                    var tempArray = new Array;
                    for (var o in value) {
                        tempArray.push(value[o]);
                    }
                    dataSet.push(tempArray);
                });
              }
              $("#progressbar").css('display','none');

              table = $('#tbl_buysell').DataTable({
                  data: dataSet,
                  columns : [
                      { "data" : 0 },
                      { "data" : 1 },
                      { "data" : 2 },
                      { "data" : 3 },
                      { "data" : 4 },
                  ],
                  "footerCallback": function ( row, data, start, end, display ) {

                      var api = this.api(), data;
          
                      // converting to interger to find total
                      var intVal = function ( i ) {
                          return typeof i === 'string' ?
                              i.replace(/[\$,]/g, '')*1 :
                              typeof i === 'number' ?
                                  i : 0;
                      };

                      // computing column Total of the complete result 
                      var a1 = api
                          .column( 1 )
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );
                          
                      var a2 = api
                          .column( 2 )
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );
                        
                      var a3 = api
                          .column( 3 )
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );
                          
                      var a4 = api
                          .column( 4 )
                          .data()
                          .reduce( function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0 );

                    // Update footer by showing the total with the reference of the column index 
                    $( api.column( 0 ).footer() ).html('Total');
                    $( api.column( 1 ).footer() ).html(a1);
                    $( api.column( 2 ).footer() ).html(a2.toFixed(2));
                    $( api.column( 3 ).footer() ).html(a3.toFixed(2));
                    $( api.column( 4 ).footer() ).html(a4);
                  },
                  "processing": true,
                  "searching": false, 
                  "paging": false,
                  "ordering":false,
                  "info":false,
                  "destroy": true,
                });
            }
            else {
              alert(obj.error);
            }
          },
          error: function (obj, textstatus) {
            console.log("error in ajax");
            console.log(obj.msg);
          }
        });

      }

      var fromdate = $("#fromdate").val();
      var todate = $("#todate").val();

      if(fromdate == '' || fromdate == '')
      {
          alert("Date fields are required!!!");
          return false;
      }
      $("#progressbar").css('display','block');
      
      ajax_loader(fromdate, todate);      

    });
  </script>

  <!--end-main-container-part-->
  <%- include partials/footer.ejs %>