html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666;
}

a {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #28b779;
}

.dropdown-menu .divider {
    margin: 4px 0px;
}

.dropdown-menu {
    min-width: 180px;
}

.dropdown-menu>li>a {
    padding: 3px 10px;
    color: #666;
    font-size: 12px;
}

.dropdown-menu>li>a i {
    padding-right: 3px;
}

.userphoto img {
    width: 19px;
    height: 19px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.label,
.dropdown-menu,
.btn,
.well,
.progress,
.table-bordered,
.btn-group>.btn:first-child,
.btn-group>.btn:last-child,
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle,
.alert {
    border-radius: 0px;
}

.btn,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    box-shadow: none;
}

.progress,
.progress-success .bar,
.progress .bar-success,
.progress-warning .bar,
.progress .bar-warning,
.progress-danger .bar,
.progress .bar-danger,
.progress-info .bar,
.progress .bar-info,
.btn,
.btn-primary {
    background-image: none;
}

.accordion-heading h5 {
    width: 70%;
}

.form-horizontal .form-actions {
    padding-left: 20px;
}

#footer {
    padding: 10px;
    text-align: center;
}

hr {
    border-top-color: #dadada;
}

.carousel {
    margin-bottom: 0px;
}

.fl {
    float: left
}

.fr {
    float: right
}

.label-important,
.badge-important {
    background: #f74d4d;
}

/*Metro Background color class*/

.bg_lb {
    background: #27a9e3;
}

.bg_db {
    background: #2295c9;
}

.bg_lg {
    background: #28b779;
}

.bg_dg {
    background: #28b779;
}

.bg_ly {
    background: #ffb848;
}

.bg_dy {
    background: #da9628;
}

.bg_ls {
    background: #2255a4;
}

.bg_lo {
    background: #da542e;
}

.bg_lr {
    background: #f74d4d;
}

.bg_lv {
    background: #603bbc;
}

.bg_lh {
    background: #b6b3b3;
}

body {
    background-color: #2E363F;
}

#logo,
#loginbox {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#logo img {
    margin: 0 auto;
    display: block;
}

#loginbox {
    overflow: hidden !important;
    text-align: left;
    position: relative;
}

#loginbox form {
    width: 100%;
    background: #2E363F;
    position: relative;
    top: 0;
    left: 0;
}

#loginbox .form-actions {
    padding: 14px 20px 15px;
}

#loginbox .form-actions .pull-left {
    margin-top: 0px;
}

#loginbox form#loginform {
    z-index: 200;
    display: block;
}

#loginbox form#recoverform {
    z-index: 100;
    display: none;
}

#loginbox form#recoverform .form-actions {
    margin-top: 10px;
}

#loginbox .main_input_box {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
}

#loginbox .main_input_box .add-on {
    padding: 9px 9px;
    *line-height: 31px;
    vertical-align: top;
    color: #fff;
    width: 30px;
    display: inline-block;
}

#loginbox .main_input_box input {
    height: 30px;
    vertical-align: top;
    border: 0px;
    display: inline-block;
    width: 75%;
    line-height: 22px;
    margin-bottom: 3px;
}

#loginbox .controls {
    padding: 0 20px;
}

#loginbox .control-group {
    padding: 20px 0;
    margin-bottom: 0px;
}

.form-vertical,
.form-actions {
    margin-bottom: 0;
    background: none;
    border-top: 1px solid #3f4954;
}

#loginbox .normal_text {
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    background: #2E363F;
    color: #fff;
}

@media (max-width:800px) {
    #logo {
        width: 60%;
    }
    #loginbox {
        width: 80%
    }
}

@media (max-width: 480px) {
    #logo {
        width: 40%;
    }
    #loginbox {
        width: 90%
    }
    #loginbox .control-group {
        padding: 8px 0;
        margin-bottom: 0px;
    }
}

body {
    background-color: #2E363F;
}

.container-1 {
    padding-top: 10%;
}

.login-content {
    float: left;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.divider-line {
    height: 300px;
    width: 2px;
    float: left;
    background: #fff;
}

.text-big {
    font-size: 70px;
    color: #fff;
    line-height: 1.2;
}

.small-description {
    font-size: 12px;
    color: #fff;
}

.form-vertical,
.form-action {
    border: unset;
}

.social-networks {
    color: #fff;
    padding-top: 20px;
}

.join-txt {
    font-weight: bold;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #FFF;
    background-color: #EA6153;
    border-color: #E05749;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 2%;
    top: 60px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    top: 60px;
    right: 115px;
    height: 30px;
    width: auto;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.error {
    color: red;
}

.form-vertical .form-actions{
    border-style: none;
}