* {
	outline:none !important;
	-moz-outline: none !important;
}
html, body{height:100%}
/* Main */

/*Bootstrap-overlay*/

body {
	overflow-x: hidden;
	margin-top: -10px; font-family: 'Open Sans', sans-serif; font-size:12px; color:#666;
}
a{color:#666;}
a:hover, a:focus {
	text-decoration: none; color:#28b779;
}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu{ min-width:180px;}
.dropdown-menu > li > a{ padding:3px 10px; color:#666; font-size:12px;}
.dropdown-menu > li > a i{ padding-right:3px;}
.userphoto img{ width:19px; height:19px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert{ border-radius:0px;}
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ box-shadow:none;}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary{background-image:none;}
.accordion-heading h5{ width:70%; }
.form-horizontal .form-actions{ padding-left:20px; }
#footer{ padding:10px; text-align:center;}
hr{ border-top-color:#dadada;}
.carousel{ margin-bottom:0px;}
.fl { float:left}
.fr {float:right}
.label-important, .badge-important{ background:#f74d4d;}

/*Metro Background color class*/
.bg_lb{ background:#27a9e3;}
.bg_db{ background:#2295c9;}
.bg_lg{ background:#28b779;}
.bg_dg{ background:#28b779;}
.bg_ly{ background:#ffb848;}
.bg_dy{ background:#da9628;}
.bg_ls{ background:#2255a4;}
.bg_lo{ background:#da542e;}
.bg_lr{ background:#f74d4d;}
.bg_lv{ background:#603bbc;}
.bg_lh{ background:#b6b3b3;}

/* Header */
#header {
	height: 42px;
	position: relative;
	width: 100%;
	z-index: -9;
	background: #fff;
}
#header h1 {
	/*background: url("../img/logo.png") no-repeat scroll 0 0 transparent;*/
	height: 31px;
	left: 20px;
	line-height: 600px;
	overflow: hidden;
	position: relative;
	top: 26px;
	width: 191px;
}
#header h1 a {
	display: block;
}
/* Search input */
#profile {
	position: absolute;
	z-index: 25;
	top: 0px;
	right:10px;
	color: #fff;
}
.profile-name{
	vertical-align: middle;
}



/* Top user navigation */
#user-nav {
	position: absolute;
	right: 20px;
	top:0px;
	z-index: 20;
	margin: 0;
}
#user-nav > ul {
	margin: 0;
	padding: 0;
	list-style: none; border-right: 1px solid #2e363f;border-left: 1px solid #000;
}
#user-nav > ul > li {
	float: left;
	list-style-type: none;
	margin: 0;
	position: relative;
	padding: 0; border-left: 1px solid #2e363f; border-right: 1px solid #000;
}
#user-nav > ul > li > a {
	padding:9px 10px;
	display: block;
	font-size: 11px;
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
	color: #ffffff;  background:#000;
}
#user-nav > ul > li > a > i, #sidebar li a i {
	opacity: .5; 
	margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
	opacity: 1;
}
#user-nav > ul > li > a > .label {
	vertical-align: middle;
	padding: 1px 4px 1px;
	margin: -2px 4px 0;
	display: inline-block;
}
#user-nav > ul ul > li > a {
	text-align: left;
}
#user-nav > ul ul > li > a:hover {
}
/* Sidebar Navigation */
#sidebar {
	display: block;
	float: left;
	position: relative;
	width: 180px;
	z-index: 16;
}
#sidebar > ul {
	list-style: none;
	margin: 0px 0 0;
	padding: 0;
	position: absolute;
	width: 220px;
}
#sidebar > ul > li {
	display: block;
	position: relative;
}
#sidebar > ul > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #939da8;
}
#sidebar > ul > li > a > i {
	margin-right: 10px;
}
#sidebar > ul > li.active > a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
	text-decoration:none;
}
#sidebar > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
}
#sidebar > ul li ul {
	display: none;
	margin: 0;
	padding: 0;
}
#sidebar > ul li.open ul {
	display: block;
}
#sidebar > ul li ul li a {
	padding: 10px 0 10px 25px;
	display: block;
	color: #777777;
}
#sidebar > ul li ul li:first-child a {
	border-top: 0;
}
#sidebar > ul li ul li:last-child a {
	border-bottom: 0;
}
/* Content */
#content {
	background: none repeat scroll 0 0 #e6ebed;
	margin-left: 220px;
	margin-right: 0;
	padding-bottom: 25px;
	position: relative;
	min-height:100%;
	width: auto;
}
#content-header {
	position: abslute;
	width: 100%;
	margin-top: -38px;
	z-index: 20;
}
#content-header h1 {
	color: #555555;
	font-size: 28px;
	font-weight: normal;
	float: none;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: 20px;
	position: relative;
}
#content-header .btn-group {
	float: right;
	right: 20px;
	position: absolute;
}
#content-header h1, #content-header .btn-group {
	margin-top: 20px;
}
#content-header .btn-group .btn {
	padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
	position: absolute;
	top: -7px;
}
.container-fluid .row-fluid:first-child {
	margin-top: 20px;
}
/* Breadcrumb */
#breadcrumb {
	background-color: #fff;
	border-bottom: 1px solid #e3ebed;
}
#breadcrumb a {
	padding: 8px 20px 8px 10px;
	display: inline-block;
	background-image: url('../img/breadcrumb.png');
	background-position: center right;
	background-repeat: no-repeat;
	font-size: 11px;
	color: #666666;
}
#breadcrumb a:hover {
	color: #333333;
}
#breadcrumb a:last-child {
	background-image:none;
}
#breadcrumb a.current {
	font-weight: bold;
	color: #444444;
}
#breadcrumb a i {
	margin-right: 5px;
	opacity: .6;
}
#breadcrumb a:hover i {
	margin-right: 5px;
	opacity: .8;
}
/*todo-list*/
.todo ul {
    list-style: none outside none;
    margin: 0;
}
.todo li {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 0;
    padding: 10px 0;
}
.todo li:hover {
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #D9D9D9;
}
.todo li:last-child{ border-bottom:0px;}
.todo li .txt {
    float: left;
}
.todo li .by {
    margin-left: 10px;
    margin-right: 10px;
}
.todo li .date {
    margin-right: 10px;
}

/* Stat boxes and quick actions */
.quick-actions_homepage {
	width:100%;
	text-align:center; position:relative;
	float:left;
	margin-top:10px;
}
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
	display: block;
	list-style: none outside none;
	margin: 15px 0;
	text-align: center;
}
.stat-boxes2 {
	display: inline-block;
	list-style: none outside none;
	margin:0px; 
	text-align: center;
}
.stat-boxes2 li {
	display: inline-block;
	line-height: 18px;
	margin: 0 10px 10px;
	padding: 0 10px; background:#fff; border: 1px solid #DCDCDC
}
.stat-boxes2 li:hover{ background: #f6f6f6; }
.stat-boxes2 .left, .stat-boxes .right {
	text-shadow: 0 1px 0 #fff;
	float: left;
}
.stat-boxes2 .left {
	border-right: 1px solid #DCDCDC;
	box-shadow: 1px 0 0 0 #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	margin-right: 10px;
	padding: 10px 14px 6px 4px;
}
.stat-boxes2 .right {
	color: #666666;
	font-size: 12px;
	padding: 9px 10px 7px 0;
	text-align: center;
	min-width: 70px; float:left
}
.stat-boxes2 .left span, .stat-boxes2 .right strong {
	display: block;
}
.stat-boxes2 .right strong {
	font-size: 26px;
	margin-bottom: 3px;
	margin-top: 6px;
}
.quick-actions_homepage .quick-actions li{ position:relative;}
.quick-actions_homepage .quick-actions li .label{ position:absolute; padding:5px; top:-10px; right:-5px;}
.stats-plain {
	width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
	float: left;
	line-height: 18px;
	margin: 0 10px 10px 0px;
	padding: 0 10px;
}
.stat-boxes li a:hover, .quick-actions li a:hover, .quick-actions-horizontal li a:hover, .stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover {
	background: #2E363F;
}
.quick-actions li {
	min-width:14%;
	min-height:70px;
}
.quick-actions_homepage .quick-actions .span3{ width:30%;}
.quick-actions li, .quick-actions-horizontal li {
	padding: 0;
}
.stats-plain li {
	padding: 0 30px;
	display: inline-block;
	margin: 0 10px 20px;
}
.quick-actions li a {
	padding:10px 30px; 
}
.stats-plain li h4 {
	font-size: 40px;
	margin-bottom: 15px;
}
.stats-plain li span {
	font-size: 14px;
	color: #fff;
}
.quick-actions-horizontal li a span {
	padding: 10px 12px 10px 10px;
	display: inline-block;
}
.quick-actions li a, .quick-actions-horizontal li a {
	display: block;
	color: #fff; font-size:14px;
	font-weight:lighter;
}
.quick-actions li a i[class^="icon-"], .quick-actions li a i[class*=" icon-"] {
	font-size:30px;
	display: block;	
	margin: 0 auto 5px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-color: transparent;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: -2px 0 0 !important;
	border-right: 1px solid #dddddd;
	margin-right: 10px;
	padding: 10px;
	vertical-align: middle;
}

.quick-actions li:active, .quick-actions-horizontal li:active {
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
	background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
	background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
	background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
	background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
	background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}
.stat-boxes .left, .stat-boxes .right {
	text-shadow: 0 1px 0 #fff;
	float: left;
}
.stat-boxes .left {
	border-right: 1px solid #DCDCDC;
	box-shadow: 1px 0 0 0 #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	margin-right: 10px;
	padding: 10px 14px 6px 4px;
}
.stat-boxes .right {
	color: #666666;
	font-size: 12px;
	padding: 9px 10px 7px 0;
	text-align: center;
	min-width: 70px;
}
.stat-boxes .left span, .stat-boxes .right strong {
	display: block;
}
.stat-boxes .right strong {
	font-size: 26px;
	margin-bottom: 3px;
	margin-top: 6px;
}
.stat-boxes .peity_bar_good, .stat-boxes .peity_line_good, {
 color: #459D1C;
}
.stat-boxes .peity_bar_neutral, .stat-boxes .peity_line_neutral {
	color: #757575;
}
.stat-boxes .peity_bar_bad, .stat-boxes .peity_line_bad {
	color: #BA1E20;
}
.stats-plain {
}

.site-stats {
	margin: 0;
	padding: 0; text-align:center;
	list-style: none;
}
.site-stats li {
	cursor: pointer; display:inline-block;
	margin: 0 5px 10px; text-align:center; width:42%;
	padding:10px 0; color:#fff;
	position: relative;
}
.site-stats li i{ font-size:24px; clear:both}
.site-stats li:hover { background:#2E363F;
}

.site-stats li i {
	vertical-align: baseline;
}
.site-stats li strong {
	font-weight: bold;
	font-size: 20px; width:100%; float:left;
	margin-left:0px;
}
.site-stats li small {
	margin-left:0px;
	font-size: 11px;
	width:100%; float:left;
}
/* Charts & graphs **/
.chart, .pie, .bars, #donut, #interactive, #placeholder, #placeholder2 {
	height: 300px;
	max-width: 100%;
}
#choices{ border-top:1px solid #dcdcdc; margin:10px 0; padding:10px;}
#choices br{ display:none;}
#choices input{ margin:-5px 5px 0 0;}
#choices label{ display:inline-block; padding-right:20px; }
#tooltip {
	position: absolute;
	display:none;
	border: none;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 10px;
	background-color: #222222;
	color: #ffffff;
	z-index: 25;
}
/* Widgets */
.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
	overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	 background:#efefef;
	border-bottom: 1px solid #CDCDCD;
	height: 36px;  
}
.widget-title .nav-tabs {
	border-bottom: 0 none; 
}
.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #DDDDDD;
		border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold; 
	text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}
.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left; border-right:1px solid #dadada;
}
.widget-title h5 {
	color: #666;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}
.widget-content {
	padding:15px;
	border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}
.recent-posts, .recent-comments, .recent-users {
	margin: 0;
	padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
	border-bottom: 1px dotted #AEBDC8;
	list-style: none outside none;
	padding: 10px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
	padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
	padding: 5px;
	text-align: center;
	display: block;
	color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
	background-color: #eeeeee;
}
.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
	border-bottom: none !important;
}
.user-thumb {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 40px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 40px;
}
.user-info {
	color: #666666;
	font-size: 11px;
}

.invoice-content {
	padding: 20px;
}
.invoice-action {
	margin-bottom: 30px;
}
.invoice-head {
	clear: both;
	margin-bottom: 40px;
	overflow: hidden;
	width: auto;
}
.invoice-meta {
	font-size: 18px;
	margin-bottom: 40px;
}
.invoice-date {
	float: right;
	font-size: 80%;
}
.invoice-content h5 {
	color: #333333;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}
.invoice-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.invoice-to {
	float: left;
	width: 370px;
}
.invoice-from {
	float: right;
	width: 300px;
}
.invoice-to li, .invoice-from li {
	clear: left;
}
.invoice-to li span, .invoice-from li span {
	display: block;
}
.invoice-content th.total-label {
	text-align: right;
}
.invoice-content th.total-amount {
	text-align: left;
}
.amount-word {
	color: #666666;
	margin-bottom: 40px;
	margin-top: 40px;
}
.amount-word span {
	color: #5476A6;
	font-weight: bold;
	padding-left: 20px;
}
.panel-left {
	margin-top:103px;
}
.panel-left2 {
	margin-left:176px;
}
.panel-right {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #dddddd;
	position: absolute;
	right: 0;
	overflow:auto;
	top:38px;
	height:76px;
}
.panel-right2 {
	width: 100%;
	background-color: #fff;
	border-right: 1px solid #dddddd;
	position: absolute;
	left: 0;
	overflow:auto;
	top:0px;
	height:94%;
	width:175px;
}
.panel-right .panel-title, .panel-right2 .panel-title {
	width: 100%;
	background-color: #ececec;
	border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5, .panel-right2 .panel-title h5 {
	font-size: 12px;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding: 6px 10px 5px;
	margin: 0;
}
.panel-right .panel-content {
	padding: 10px;
}
.chat-content {
	height: 470px;
	padding: 15px;
}
.chat-messages {
	height: 420px;
	overflow: auto;
	position: relative;
}
.chat-message {
	padding: 7px 15px;
	margin: 7px 0 0;
}
.chat-message input[type=text] {
	margin-bottom: 0 !important;
	width: 100%;
}
.chat-message .input-box {
	display: block;
	margin-right: 90px;
}
.chat-message button {
	float: right;
}
#chat-messages-inner p {
	padding:0px;
	margin: 10px 0 0 0;
}
#chat-messages-inner p img {
	display: inline-block;
	float: left;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-top:-1px;
	margin-right:10px;
}
#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
	display: block;
	margin-left:0px;
	padding: 10px;
	position: relative;
}
#chat-messages-inner p.offline span {
	background: none repeat scroll 0 0 #FFF5F5;
}
#chat-messages-inner .time {
	color: #999999;
	font-size: 11px;
	float:right;
}
#chat-messages-inner .msg {
	display: block;
	margin-top: 13px;
	border-top:1px solid #dadada;
}
#chat-messages-inner .msg-block:before {
	border-right: 7px solid rgba(0,0,0,0.1);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display:none;
	left: -7px;
	position: absolute;
	top: 11px;
}
#chat-messages-inner .msg-block:after {
	border-right: 6px solid #ffffff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	display: none;
	left: -6px;
	position: absolute;
	top: 12px;
}
.chat-users {
	padding: 0 0 30px;
}
.chat-users .contact-list {
	line-height: 21px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.chat-users .contact-list li {
	border: 1px solid #DADADA;
	margin:5px 5px;
	padding: 1px;
	position: relative;
}
.chat-users .contact-list li:hover {
	background-color: #efefef;
}
.chat-users .contact-list li a {
	color: #666666;
	display: block;
	padding: 8px 5px;
}
.chat-users .contact-list li.online a {
	font-weight: bold;
}
.chat-users .contact-list li.new {
	background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
	background-color: #EDE0E0;
}
.chat-users .contact-list li a img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 28px;
	height: 28px;
}
.chat-users .contact-list li .msg-count {
	padding: 3px 5px;
	position: absolute;
	right: 10px;
	top: 12px;
}
.taskDesc i {
	margin: 1px 5px 0;
}
.taskStatus, .taskOptions {
	text-align: center !important;
}
.taskStatus .in-progress {
	color: #64909E;
}
.taskStatus .pending {
	color: #AC6363;
}
.taskStatus .done {
	color: #75B468;
}
.activity-list {
	list-style: none outside none;
	margin: 0;
}
.activity-list li {
	border-bottom: 1px solid #EEEEEE;
	display: block;
}
.activity-list li:last-child {
	border-bottom: medium none;
}
.activity-list li a {
	display: block;
	padding: 7px 10px;
}
.activity-list li a:hover {
	background-color: #FBFBFB;
}
.activity-list li a span {
	color: #AAAAAA;
	font-size: 11px;
	font-style: italic;
}
.activity-list li a i {
	margin-right: 10px;
	opacity: 0.6;
	vertical-align: middle;
}
.new-update {
	border-top: 1px solid #DDDDDD;
	padding: 10px 12px;
}
.new-update:first-child {
	border-top: medium none;
}
.new-update span {
	display:block;
}
.new-update i {
	float: left;
	margin-top: 3px;
	margin-right: 13px;
}
.new-update .update-date {
	color: #BBBBBB;
	float: right;
	margin: 4px -2px 0 0;
	text-align: center;
	width: 30px;
}
.new-update .update-date .update-day {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
	display: block;
	float: left;
	max-width: 76%;
}
/* Tables */
tr:hover{ background:#f6f6f6;}
span.icon .checker {
	margin-top: -5px;
	margin-right: 0;
}
.dataTables_length {
	color: #878787;
	margin: 7px 5px 0;
	position: relative;
	left:5px; width:50%;
	top: -2px;
}
.dataTables_length div {
	vertical-align: middle;
}
.dataTables_paginate {
	line-height: 16px;
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}
.dataTables_paginate {
	line-height: 16px;
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}
.dataTables_paginate .ui-button, .pagination.alternate li a {
	font-size: 12px;
	padding: 4px 10px !important;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	display: inline-block;
	line-height: 16px;
	background: #f5f5f5;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
}
.dataTables_paginate .ui-button:hover, .pagination.alternate li a:hover {
	background: #e8e8e8;
	color: #222222;
	text-shadow: 0 1px 0 #ffffff;
	cursor: pointer;
}
.dataTables_paginate .first {
	border-radius: 4px 0 0 4px;
}
.dataTables_paginate .last {
	border-radius: 0 4px 4px 0;
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
	color: #AAAAAA !important;
}
.dataTables_paginate .ui-state-disabled:hover, .fc-state-disabled:hover, .pagination.alternate li.disabled a:hover {
	background: #f5f5f5;
	cursor: default !important;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
	background: #41BEDD !important;
	color: #ffffff !important;
	cursor: default !important;
}
div.dataTables_wrapper .ui-widget-header {
	border-right: medium none;
	border-top: 1px solid #D5D5D5;
	font-weight: normal;
	margin-top: -1px;
}
.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}
.dataTables_filter {
	color: #878787;
	font-size: 11px;
	right: 0; top:37px;
	margin: 4px 8px 2px 10px;
	position: absolute;
	text-align: left;
}
.dataTables_filter input {
	margin-bottom: 0;
}
.table th {
	height: auto;
	font-size: 10px;
	padding: 5px 10px 2px;
	border-bottom: 0;
	text-align: center;
	color: #666666;
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
	width: 10px;
}
.table.with-check tr th:first-child i {
	margin-top: -2px;
	opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
	margin-right: 0;
}
.table tr.checked td {
	background-color: #FFFFE3 !important;
}
/* Misc */
.nopadding {
	padding: 0 !important;
}
.nopadding .table {
	margin-bottom: 0;
}
.nopadding .table-bordered {
	border: 0;
}
.thumbnails {
	margin-left: -2.12766% !important;
}
.thumbnails [class*="span"] {
	margin-left: 2.12766% !important;
	position: relative;
}
.thumbnails .actions {
	width: auto;
	height: 16px;
	background-color:#000;
	padding: 4px 8px 8px 8px;
	position: absolute;
	bottom:0%;
	left:50%;
	margin-top: -13px;
	margin-left: -24px;
	opacity: 0; top:10%; transition:1s ease-out;
	-moz-transition: opacity 0.3s ease-in-out;
}
.thumbnails li:hover .actions,.thumbnails li:hover .actions a:hover{
	opacity: 1; color:#fff; top:50%; transition:1s ease-out;
}
.line {
	background: url("../img/line.png") repeat-x scroll 0 0 transparent;
	display: block;
	height: 8px;
}
.modal {
	z-index: 99999 !important;
}
.modal-backdrop {
	z-index: 999 !important;
}
.modal-header {
	height: auto;
	padding: 8px 15px 5px;
}
.modal-header h3 {
	font-size: 12px;
	text-shadow: 0 1px 0 #ffffff;
}
@media (min-width:992px) {
	.modal-lg {
		width: 1200px;
		left:25%;
	}
}
@media (min-width:992px) {
	.modal-md {
		width: 600px;
		left:45%;
	}
}
@media (min-width:992px) {
	.modal-sm {
		width: unset;
		left:58%;
	}
}
 
.notify-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.notify-ui li {
	background: #eeeeee;
	margin-bottom: 5px;
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #dddddd;
}
.notify-ui li:hover {
	cursor: pointer;
	color: #777777;
}
/* Forms */
form {
	margin-bottom: 0;
}
.form-horizontal .control-group {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 0;
}
.form-horizontal .control-group:last-child {
	border-bottom: 0;
}
.form-horizontal .control-label {
	padding-top: 15px;
	width: 180px;
}
.form-horizontal .controls {
	margin-left: 220px;
	padding: 10px 0;
}
.form-horizontal input[type=text], .form-horizontal input[type=password], .form-horizontal textarea {
}
.row-fluid .span20 {
	width:97.8%
}
.form-horizontal .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}
.help-block, .help-inline {
	color: #999999;
}
/***********light-box***************/
#lightbox {
	position:fixed; /* keeps the lightbox window in the current viewport */
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(overlay.png) repeat #000;
	text-align:center;
	z-index:9999;
}
#lightbox p {
	position:absolute;
	top:10px;
	right:10px;
	width:22px;
	height:22px;
	cursor:pointer;
	z-index:22;
	border:1px solid #fff;
	border-radius:100%;
	padding:2px;
	text-align:center;
	transition:0.5s;
}
#lightbox p:hover {
	transform:rotate(180deg)
}
#imgbox {
	position:absolute; /* keeps the lightbox window in the current viewport */
	left:0;
	top:0px;
	width:100%;
	height:100%;
	background:url(overlay.png) repeat #000;
	text-align:center;
	z-index:21;
}
#imgbox img {
	margin-top:100px;
	border:10px solid #fff;
}
/***********Error Page******************/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}

#sidebar  .content {
    padding:10px;
    position: relative; color:#939DA8;
}
#sidebar .percent {
    font-weight: 700;
    position: absolute;
    right: 10px;
    top:25px;
}
#sidebar .progress {
    margin-bottom: 2px;
    margin-top: 2px;
    width: 70%;
}
#sidebar .progress-mini {
    height: 6px;
}
#sidebar .stat {
    font-size: 11px;
}
/***********light-box-end***************/

.btn-icon-pg ul {
	margin:0px;
	padding:0px;
}
.btn-icon-pg ul li {
	margin:5px;
	padding:5px;
	list-style:none;
	display:inline-block;
	border:1px solid #dadada;
	min-width:187px;
	cursor:pointer
}
.btn-icon-pg ul li:hover i {
	transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
	margin-left:8px;
}
.accordion {
	margin-top:16px;
}
.fix_hgt {
	height:115px;
	overflow-x:auto;
}
.input-append .add-on:last-child, .input-append .btn:last-child {
	border-radius:3px;
	padding:6px 5px 2px;
}
.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
	width:none;
}
.input-append input, .input-append select, .input-prepend span, .input-prepend input {
	border-radius:0px!important;
}
/***********pop-over********************/
.bs-docs-tooltip-examples {
	list-style: none outside none;
	margin: 0 0 10px;
	position:relative;
	text-align: center;
}
.bs-docs-tooltip-examples li {
	display: inline;
	padding: 0 10px;
	list-style:none;
	position:relative;
}
/* Responsive design */
@media (max-width: 480px) {
#header h1 {
	top: 10px; left:5px;
	margin: 3px auto;
}
#user-nav {
	position: relative;
	left: auto;
	right: auto;
	width: 100%;
	margin-top: -31px;
	border-top:1px solid #363E48;
	margin-bottom: 0px;
	background:#2E363F;
	float:right;
}
.navbar > .nav {
	float: none;
}
#my_menu {
	display:none;
}
#my_menu_input {
	display:block;
}
#user-nav > ul {
	right: 0px;
	margin-left:20%!important;
	margin-top:0px;
	width:100%;
	background:#000;
	position: relative;
}
#user-nav > ul > li {
	padding:0px 0px;
}
#user-nav > ul > li > a {
	padding:5px 10px;
}
#sidebar .content{ display:none;}
#content {
	margin-left: 0 !important;
	border-top-left-radius: 0;
	margin-top:0px;
}
#content-header {
	margin-top: 0;
	text-align: center;
}
#content-header h1, #content-header .btn-group {
	float: none;
}
#content-header h1 {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-top: 0;
	padding-top: 15px;
	width: 100%;
}
#content-header .btn-group {
	margin-top: 70px;
	margin-bottom: 0;
	margin-right: 0;
	left: 30%;
}
#sidebar {
	float: none;
	width: 100% !important;
	display:block;
	position:relative;
	top:0px;
}
#sidebar > ul {
	margin:0px;
	padding:0px;
	width:100%;
	display:block;
	z-index:999;
	position:relative
}
#sidebar > ul > li {
	list-style-type:none;
	display:block;
	border-top:1px solid #41BEDD;
	float:none !important;
	margin:0px;
	position:relative;
	padding:2px 10px;
	cursor:pointer
}
#sidebar > ul > li:hover ul {
	display:none;
}
#sidebar > ul > li:hover {
	background-color:#27a9e3;
}
#sidebar > ul > li:hover a {
	background:none;
}
#sidebar > ul li ul {
	margin:0px;
	padding:0px;
	top:35px; left:0px;
	z-index:999;
	display:none;
	position:absolute;
	width:100%;
	min-width:100%;
	border-radius:none;
}
#sidebar > ul li ul li {
	list-style-type:none;
	margin:0px;
	font-size:12px;
	line-height:30px;
}
#sidebar > ul li ul li a {
	display:block;
	padding:5px 10px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
#sidebar > ul li ul li:hover a {
	border-radius:0px;
}
#sidebar > ul li span {
	cursor:pointer;
	margin:0px 2px 0 5px;
	font-weight:bold;
	color:#fff;
	font-size:12px;
}
#sidebar > ul li a i {
	background-image: url("../img/glyphicons-halflings-white.png");
	margin-top:4px;
	vertical-align: top;
}
#sidebar > a {
	padding: 9px 20px 9px 15px;
	display: block !important;
	color: #eeeeee;
	float:none !important;
	font-size:12px;
	font-weight:bold
}
#sidebar > ul > li > a {
	padding:5px;
	display:block;
	color: #AAAAAA;
}
.widget-title .buttons > .btn {
	width: 11px;
	white-space: nowrap;
	overflow: hidden;
}
.form-horizontal .control-label {
	padding-left: 30px;
}
.form-horizontal .controls {
	margin-left: 0;
	padding: 10px 30px;
}
.form-actions {
	text-align: center;
}
.panel-right2 {
	width: 100%;
	background-color: #fff;
	border-right: 1px solid #dddddd;
	position: relative;
	left: 0;
	overflow:auto;
	top:0px;
	height:87%;
	width:100%;
}
.panel-left2 {
	margin-left:0px;
}
.dataTables_paginate .ui-button, .pagination.alternate li a {
	padding:4px 4px!important;
}
.table th {
	padding: 5px 4px 2px;
}
}
 @media (min-width: 481px) and (max-width: 970px) {
body {
	background:#49CCED
}
#header h1 {
	top:10px; left:35px;
}
#search {
	top:5px
}
#my_menu {
	display:none;
}
#my_menu_input {
	display:block;
}
#content {
	margin-top:0px;
}
#sidebar > ul > li {
	float:none;
}
#sidebar > ul > li:hover ul {
	display:block;
}
#sidebar, #sidebar > ul {
	width: 43px;
	display: block;
	position: absolute;
	height:100%;
	z-index:1;
}
#sidebar > ul ul {
	display: none;
	position: absolute;
	left:43px;
	top: 0;
	min-width: 150px;
	list-style: none;
}
#sidebar > ul ul li a {
	white-space: nowrap;
	padding: 10px 25px;
}
#sidebar > ul ul:before {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display: inline-block;
	left: -6px;
	position: absolute;
	top: 11px;
}
#sidebar > ul ul:after {
	content: "";
	display: inline-block;
	left: -5px;
	position: absolute;
	top: 12px;
}
#sidebar > a {
	display: none !important;
}
#sidebar > ul > li.open.submenu > a {
	border-bottom: none !important;
}
#sidebar > ul > li > a > span {
	display: none;
}
#content {
	margin-left: 43px;
}
#sidebar .content{ display:none;}
}
@media (max-width: 600px) {
.widget-title .buttons {
	float: left;
}
.panel-left {
	margin-right: 0;
}
.panel-right {
	border-top: 1px solid #DDDDDD;
	border-left: none;
	position: relative;
	top: auto;
	right: auto;
	height: auto;
	width: auto;
}
#sidebar .content{ display:none;}
}
@media (max-width: 767px) {
body {
	padding: 0 !important;
}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}
#search {
	display: none;
}
#user-nav > ul > li > a > span.text {
	display: none;
}
#sidebar .content{ display:none;}
}
@media (min-width: 768px) and (max-width: 979px) {
 [class*="span"], .row-fluid [class*="span"] {
 display: block;
 float: none;
 margin-left: 0;
 width: auto;
}
}
@media (max-width: 979px) {
div.dataTables_wrapper .ui-widget-header {
	height: 68px;
}
.dataTables_filter{ position:relative; top:0px;}
.dataTables_length{ width:100%; text-align:center;}
.dataTables_filter, .dataTables_paginate {
	text-align: center;
}
#sidebar .content{ display:none;}
}



/*---------------------------Custom CSS---------------------------------*/
body{
	/*background: #7b61ba!important;*/
}
#header .menu-nav i{
	font-size: 22px;
	margin: 8px 0 0 8px;
    display: inline-block;
    cursor: pointer;
}
#user-nav .caret{
	position: relative;
	top: 10px;
}
#user-nav > ul > li > a {
	padding: 0px 10px 0px 10px; ;
}
#header {
	background: #fff!important;
	margin-left: 220px;
}
#user-nav > ul > li > a:hover{
	background-color: #dbdbdb;
}
#user-nav > ul > li, #user-nav > ul{
	border: none;
}
#user-nav .dropdown .profile-name,#user-nav .dropdown .profile-name:focus{
	color: #616161;
}
@media (max-width: 480px){
	#user-nav > ul > li{
		border-top: 0!important;
		border-right: 0!important;
	}
	#user-nav{
		top: -40px!important;
	}
	#user-nav > ul{
		background: #fff!important;
		float: right;
		width: 150px;
	}
	.user-profile {

	}
}
#user-nav{
	float: right!important;
	background: #fff!important;
}
.row-fluid [class*="span"]{
	margin-left: 5px!important;
}
.widget-box .widget-title h5{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	padding: 10px;
}
.widget-box .widget-title{
	background: #8d56b3!important;
	/*background: #FA4251;*/ /*#75828f;*/
	border: none!important;
}
.row-fluid .span6{
    width: 47.9%!important;
}
@media (max-width: 979px) and (min-width: 768px){
[class*="span"], .row-fluid [class*="span"] {
    width: auto!important;
}}

.table-1{
	overflow-x: auto;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 7px 18px;
    border-bottom: 1px solid #111;
}
table.dataTable tbody th, table.dataTable tbody td {
    text-align: center;
    font-size: inherit;
}
#footer{
	color: #fff;
}

/*--------------Table----------------*/

.table-report-list thead tr th {
    /*background-color: #003366;
    color: #fff;*/
    font-size: 12px;
}
.table-report-list thead th{
	white-space: nowrap;
}
.table-report-list tbody{
	/*font-family: 'Fjalla One', sans-serif;
	letter-spacing: 1px;*/
	color: #000;
}
.table-report-list tbody tr{
	white-space: nowrap;
}
.table-report-list tbody tr td:first-child{
	font-weight: 600!important;
	letter-spacing: 0;
	text-align: left;
	color: #5f6061; /*#1361b0;*/
	/*font-family: 'Open Sans', sans-serif;*/
}
.table-report-list tbody tr td::first-letter{
	/* text-transform: uppercase; */
}
.table-report-list tbody tr td:nth-child(2),.table-report-list tbody tr td:nth-child(3),.table-report-list tbody tr td:nth-child(4),.table-report-list tbody tr td:nth-child(5){
	font-size: 14px!important;
	/* font-weight: 600; */
}
.table-report-list tbody tr td:nth-child(6),.table-report-list tbody tr td:nth-child(7),.table-report-list tbody tr td:nth-child(8),.table-report-list tbody tr td:nth-child(9),.table-report-list tbody tr td:nth-child(10),.table-report-list tbody tr td:nth-child(11),.table-report-list tbody tr td:nth-child(12),.table-report-list tbody tr td:nth-child(13){
	font-size: 14px!important;
	/* font-weight: 600; */
}
.table-report-list th{
	color: #515151;
    font-weight: 600;
}
table.dataTable thead th{
	border-bottom:0!important;
}
.navbar-inverse .nav li.dropdown>a:hover .caret, .navbar-inverse .nav li.dropdown>a:focus .caret
	color: #000;
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a{
	background: #dbdbdb;
}
#sidebar > ul > li > a{
	color: #cacaca;
	font-weight: 600;
}
#header h1{
	/*background: url(../img/MSB-icon.png) no-repeat scroll 0 0 transparent; */*/
}
.brand-logo{
	position: relative;
    top: -37px;
    left: 48px;
}
#sidebar > ul{
	top: 0;
}
@media(max-width: 480px){
	#header{
		margin-left: 145px;
	}
	.brand-logo{
		width: 60px;
	}
	#user-nav{
		width: 150px!important;
	}
}
.dropdown{
	padding-top: 3px!important;	
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a{
	background: #dbdbdb;
}
.widget-title{
	height: 45px;
}
#sidebar > ul{
	border-bottom: 0!important;
}
#sidebar > ul > li > a{
	color: #fff;
}
#sidebar > ul > li.active{
	background-color: transparent!important;
	border-bottom: 0!important;
    border-top: #fff!important;
}
#sidebar > ul > li.active [class^="icon-"]{
	color: #fff;
	opacity: 1;
}
#sidebar > ul > li{
	border-top: 1px solid #fff!important;
    border-bottom: 0!important;
}
#sidebar > ul > li.active{
	border-top: 1px solid #fff!important;
}
.widget-content{
	background-color: #fff;
}
/*#content{
	background: url('../img/gr-3.png');
	background-size: cover;
	background: #fff;
}*/
.main-tag{
	position: relative;
    top: -3px;
    background: #d7c6ff;
    left: 15px;
    padding: 6px;
    border-radius: 1px;
}

/*-----------------SIDEBAR Design 1--------------------*/

@media(min-width: 970px){
	#sidebar > ul > li > a > i{
		margin-right: 0!important;
		display: block!important;
		font-size: 42px;
	}}
#sidebar > ul > li{
	text-align: center;
}
#sidebar > ul > li > a{
	padding: 18px 18px 18px 9px!important;
}
#sidebar > ul > li [class^="icon-"], li [class*=" icon-"]{
	width: unset;
}

/*-----------------------END----------------------------*/



/*-------------------Content DS1 gr-2-----------------------*/
@media(min-width: 970px){
	#sidebar > ul{
		width: 180px!important;
	}
	#content,#header{
		margin-left: 180px!important;
	}
}

body{
	/*background: url('../img/gr-8.png')!important;
	background-color: #fff!important;
	background-size: cover;*/
	/*background:#a52761!important*/
}
#user-nav{
	background: unset!important;
}
.table-report-list thead th{
	white-space: unset;
}
thead tr th, tbody td{
	font-size: 10px!important;
}

/*----------------no widget-------------------*/


#content{
	/*background: url('../img/gr-4.png');*/
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

#collapseG2 table{
	border-radius: 10px;
}
.table-bordered,.widget-box{
	border: 0!important;
}

/********************************************************************/
/*					ONLY FOR GOOGLE ORG REPORTING CHART 			*/
/********************************************************************/
/* table th, table td{
	border-top: 1px solid #dbdbdb!important;
	border-left: 1px solid #dbdbdb!important;
	font-family: 'Roboto', sans-serif;
} */

table th, table td{
	font-family: 'Roboto', sans-serif;
}
/*********************************************************************/
table thead tr th:last-child, table tr td:last-child{
	border-right: 1px solid #bcbcbc!important;
}
tbody{
	color:#ddd;
}
tbody tr td:first-child, thead th{
	color: #000!important;
	font-size: 13px!important;
}
table.dataTable thead th, tbody tr td{
	font-size: 13px!important;
	color: #494949!important;
}

.wg1-div .row-fluid.position-1 {
	position: relative;
	left: 20px!important;
}

.wg1-div .row-fluid,.wg3-div .row-fluid{
	left: 0!important;
}

.wg2-div .row-fluid.position-1{
	left: 0!important;
}

/* .wg1 thead tr:nth-child(2) th:nth-child(1),.wg1 thead tr:nth-child(2) th:nth-child(2),.wg1 thead tr:nth-child(2) th:nth-child(3),.wg1 thead tr:nth-child(2) th:nth-child(4),.wg1 thead tr:nth-child(2) th:nth-child(5),.wg1 thead tr th:nth-child(2){
	background: #DBFADB!important;
}
.wg1 thead tr:nth-child(2) th:nth-child(1){
	background: #efefef!important;
}
.wg1 thead tr:first-child th:nth-child(3),.wg1 thead tr:nth-child(2) th:nth-child(6),.wg1 thead tr:nth-child(2) th:nth-child(7),.wg1 thead tr:nth-child(2) th:nth-child(8),.wg1 thead tr:nth-child(2) th:nth-child(9){
	background: #cfeff6!important;
}
.wg1 thead tr:first-child th:nth-child(4),.wg1 thead tr:nth-child(2) th:nth-child(10),.wg1 thead tr:nth-child(2) th:nth-child(11),.wg1 thead tr:nth-child(2) th:nth-child(12),.wg1 thead tr:nth-child(2) th:nth-child(13){
	background: #cfeff6!important;
}  */


body{
	background:#8d56b3!important;
}
#content{
	/*background: url('../img/gr-15.png')!important;*/
	background:#f6f6f6!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}
.widget-box .widget-title, body{
	    background: #095790!important;
}
/*-----------------End Table-----------------*/



/*---------------Widget2 TABLE----------------*/
.wg2 .table-report-list tbody tr td:first-child{
	text-align: center;
}
.widget-h .widget-content{
}
.row-fluid.position-l{
	position: relative;
	left: 20px;
}
.wg2 table{
	box-shadow: 0px 3px 20px rgba(105, 105, 105, 0.49);
}

.widget-box,.widget-content{
	background: #f6f6f6!important;
	border: 1px solid #ddd;
	color: #000;
	box-shadow: 0px 2px 12px -1px #ccc;
}
.widget-box .widget-title{
	background: #095790!important;
	color: #000!important;
	border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.table-bordered thead:first-child tr:first-child>th:last-child{
	border-top-right-radius: 0!important;
}

.wg11 thead tr th, .wg2 thead tr th, .wg3 thead tr th{
	background: #095790!important;
	color: #fff!important;
	opacity: 0.6;
}
.wg11 .table-bordered thead tr:first-child>th:first-child, .wg2 .table-bordered thead tr:first-child>th:first-child, .wg3 .table-bordered thead tr:first-child>th:first-child{
	border-top-left-radius: 0!important;
	border-left: 1px solid #095790!important;
}
.wg11 .table-bordered thead tr th:last-child, .wg2 .table-bordered thead tr th:last-child, .wg3 .table-bordered thead tr th:last-child{
	border-right: 1px solid #095790!important;
}
.wg11 thead tr th, .wg2 thead tr th, .wg3 thead tr th{
	    border-top: 1px solid #095790!important;
}

.wg11 table thead th{
	white-space: nowrap;
}

.wg2 tfoot tr th{
	padding: 5px 10px 5px;
    /*background: #cecece!important;*/
    background: /*linear-gradient(180deg, white, #cecece,#cecece,#cecece,#cecece,#cecece,#cecece)!important;*/
    			linear-gradient(180deg, white, #cecece,#c7c6c6,#bebebe,#b8b8b8,#b6b6b6,#928b8b)!important;
    color: #303030!important;
    font-size: 14px;
    font-weight: bold;
}
.row-fluid .span6{
	position: relative;
	left: -20px;
}

.row-fluid:first-child{
	position: relative;
	left: -10px;
}
.row-fluid:first-child .span6:nth-child(1){
	position: relative;
	left: -18px;
}
.wg2-div .row-fluid:first-child .span6:nth-child(1),.wg5 .row-fluid:first-child .span12{
	left: 12px;
	position: relative;
}

.row-fluid:first-child .span6:nth-child(2){
	position: relative;
	left: 10px;
}
.row-fluid .span6:nth-child(2){
	/*margin-left: 20px!important;*/
	float: right;
}
.row-fluid:nth-child(2) .span6{
	position: relative;
	left: -18px!important;
}
.container-fluid{
	padding-right: 10px;
	padding-left: 10px;
}
.wg2 .table-striped tbody>tr>td{
	background: linear-gradient(180deg, white, #dfdfdf,#dadada,#d1d1d1,#d1d1d1,#d1d1d1,#d1d1d1)!important;
	
}
.wg2 table{
	margin-bottom: 0!important;
	margin: 0!important;
}
#header{
	box-shadow: 0px 2px 12px -1px #b8b8b8;
    z-index: 9;
}
.widget-box .widget-title{
	height: 35px !important;
}
.widget-content{
	padding: 0!important;
	/*border: 1px solid #095790;*/
	border: none!important;
}

/*-------------TABLE ODD EVEN ROW---------------*/
.wg2 .table-striped tbody>tr>td,.wg1 .table-striped tbody>tr>td,.wg3 .table-striped tbody>tr>td{
	background:none !important;
	/*background: linear-gradient(180deg, white, #dfdfdf,#dadada,#d1d1d1,#d1d1d1,#d1d1d1,#d1d1d1)!important;*/
}
.wg2 .table-striped tbody>tr:nth-child(odd),.wg1 .table-striped tbody>tr:nth-child(odd),.wg3 .table-striped tbody>tr:nth-child(odd),
.wg11 .table-striped tbody>tr:nth-child(odd){
	background: linear-gradient(180deg, white, #f6f6f6,#ebebeb,#e9e9e9,#e9e9e9,#e9e9e9,#e9e9e9)!important;
}
.wg2 .table-striped tbody>tr:hover,.wg3 .table-striped tbody>tr:hover,.wg4 .table-striped tbody>tr:hover,
.wg11 .table-striped tbody>tr:hover{
	background: #cfeff6!important;
}

.table-striped tbody>tr:nth-child(odd)>td{
	background: none!important;
}
/*----------------END ODD EVEN GRADIENT------------*/

.wg1 .table-striped tbody tr td:nth-child(2),.wg1 .table-striped tbody tr td:nth-child(3),.wg1 .table-striped tbody tr td:nth-child(4),.wg1 .table-striped tbody tr td:nth-child(5){
/*	background: #DBFADB!important;*/
	background: linear-gradient(180deg, white, #ecfeec,#e6fee6,#e0fae0,#dbfadb,#dbfadb,#DBFADB)!important;
}
.wg1 .table-striped tbody tr td:nth-child(6),.wg1 .table-striped tbody tr td:nth-child(7),.wg1 .table-striped tbody tr td:nth-child(8),.wg1 .table-striped tbody tr td:nth-child(9){
	/* background: linear-gradient(180deg, white, #fef2f2,#feeaea,#f8e7e7,#fadbdb,#fadbdb,#fadbdb)!important; */
	background: linear-gradient(180deg, white, #f2fdff,#e7fafe,#daf4fa,#cfeff6,#cfeff6,#cfeff6)!important;
}
.wg1 .table-striped tbody tr td:nth-child(10),.wg1 .table-striped tbody tr td:nth-child(11),.wg1 .table-striped tbody tr td:nth-child(12),.wg1 .table-striped tbody tr td:nth-child(13){
	
}

.wg2 tbody tr td:first-child,tfoot tr th:first-child{
	text-align: left!important;
}
.widget-h .wg2{
	overflow-x: auto;
}

.wg3-div .row-fluid:first-child {
    position: relative;
    left: 0px;
}
.wg3-div .row-fluid:first-child .span6:nth-child(1) {
    position: relative;
    left: 0px;
}
.wg3-div .row-fluid:first-child .span6:nth-child(2) {
    position: relative;
    left: 0px;
}
.wg3-div .row-fluid .span6:nth-child(3) {
	left: 0;
}
.wg3-div .span6:first-child .wg3, .wg3-div .span6:nth-child(2) .wg3{
	overflow: auto;
	height: 500px;
}
.wg3-div table tbody tr td:nth-child(2){
	text-align: left;
}

.wg4-div .row-fluid:first-child .span6:nth-child(1) {
		position: relative;
		left: 5px;
	}
}



/*--------------Media CSS-------------*/

@media (max-width: 1168px) and (min-width: 967px){
.row-fluid .span6 {
    width: 47%!important;
}}

@media (max-width: 977px) and (min-width: 967px){
	.span6{
		display: inline-block!important;
	}
}

@media (max-width: 979px) and (min-width: 768px){
	[class*="span"], .row-fluid [class*="span"] {
    width: 100%!important;
}
.row-fluid:first-child .span6:nth-child(1){
	left: 8px!important;
}
.row-fluid:nth-child(2) .span6:first-child{
	left: -24px!important;
}}

@media (max-width: 767px){
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    width: 100%!important;
}
.row-fluid:first-child .span6:nth-child(1){
	left: 7px!important;
}}


/*---------------END Media----------------*/

button.close{
	color: #fff;
	opacity: 1;
}
.modal-dialog .modal-header {
	background: #095790;
	color: #fff;
}


/********PRAKASH CODE STARTS HERE**********/

.margin_m_24
{
	margin-top: -24px;
}

.margin_m_8
{
	margin-top: -8px;
}
.bg_no
{
	background: none !important;
}

.total_fnt
{
   font-size: 14px !important;
   font-weight: bold !important;
   background: #509bd299 !important;
   color: #000 !important;
}
.t_18
{
	top:-18px;
}
.t_34
{
	top:-34px;
}
.t_48
{
	top:-48px;
}
.t_55
{
	top:-55px;
}

/********PRAKASH CODE ENDS HERE**********/

#tbl_customerrisk_list_loader tbody tr td:first-child{
	text-align: center;
}
#tbl_customerrisk_list_loader tbody tr td:nth-child(2){
	text-align: left;
}

.modal button{
	padding: 5px 0 0 35px;
}
.modal .modal-content h4{
	white-space: nowrap;
	display: inline-block;
}
.modal #tbl_customerrisk_list_loader tbody tr td{
	text-align: left;
}
.modal #tbl_riskbased_view tbody tr td:nth-child(n+2){
	text-align: center;
}


#filter .controls-1{
     padding-left:9px;
}

#filter button{
margin-top: 25px;
margin-left: 30px;
border-radius: 4px;
background: #5182a5;
box-shadow: 0px 1px 1px 0px #000;
}

.wg5 .icon-info-sign{
	cursor: pointer;
}
.modal-backdrop, .modal-backdrop.fade.in{
	opacity: .7;
}

.widget-content .dt-buttons button{
    background: unset;
    border: unset;
    font-size: 18px;
    padding: 0 5px 0 0;
    margin: unset;
}
.widget-content .wg3 .dataTables_wrapper .dataTables_length{
    width: 25.5%;
    float: right;
}
.widget-content .wg3 select{
    float: left;
    margin: 5px;
}

.widget-content .wg3 .dataTables_length label{
    font-size: 12px;
}
.widget-content .wg3 .dataTables_length select{
    width: 150px;
}
.widget-content button.dt-button:hover{
    background: unset!important;
    border: unset!important;
}
.modal-center{
	display: flex;
	justify-content: center;
}
.modal-center .modal-lg, .modal-center .modal-md{
	left: unset!important;
}
.modal-center .modal{
	margin-left: 0!important;
}
.modal-footer button{
	padding: 5px 10px 5px 10px;
}
table tbody tr:last-child td{
	border-bottom: 1px solid #dbdbdb;
}
.span6 .widget-content,.span12 .widget-content,.span3 .widget-content{
	height: calc(100% - 68px);
	position: relative;
	top: -29px;
	background: transparent!important;
	box-shadow: 0px 7px 10px 0px #ccc;	
}
div.dt-buttons i{
	color: #fff;
}
.wg1-div .widget-box,.wg2-div .widget-box,.wg3-div .widget-box,.wg4-div .widget-box{
	box-shadow: unset;
}
.hv-trans h5 select{
	margin: -7px 0!important;
}
.hv-trans div.dt-buttons{
	top: 5px;
}
.hv-trans .widget-content{
	top: -37px;
}
.hv-trans .widget-content select{float: none!important;}
.hv-trans .dataTables_length,.san-upload-trans .dataTables_length{
	top: -3px;
	color: #fff!important;
}
.hv-trans .widget-content .dataTables_length,.san-upload-trans .widget-content .dataTables_length,.hrt-popup .modal-content .dataTables_length{
	width: 13.5%!important;
	margin-bottom: 0;
}
@media(max-width:1120px){
	.hv-trans .widget-content .dataTables_length, .san-upload-trans .widget-content .dataTables_length, .hrt-popup .modal-content .dataTables_length{
		width: 20.5%!important;
	}
}
.trans-risk-ays .widget-content .dataTables_length{
	width: 27%!important;
}
.hv-trans .widget-content .dataTables_length label{
	margin-bottom: 0;
}
.hv-trans .widget-content .wg3 .dataTables_length select,.hrt-popup .modal-content .dataTables_length select{
	width: auto;
}
.hv-trans .vis_hidden{
	visibility: hidden;
}
.hv-trans .widget-content .toolbar,.hv-trans .widget-content .toolbar1,.hv-trans .widget-content .toolbar2,.hv-trans .widget-content .toolbar3, .hv-trans .widget-content .toolbar4	{
	display: inline-block;
}
.trans-risk-ays .toolbar1 h5,.trans-risk-ays .toolbar2 h5,.trans-risk-ays .toolbar3 h5{
	margin-bottom: 0;
}
.hv-trans .widget-content .toolbar h5{
	margin-bottom: 0;
}
.hv-trans .widget-content .toolbar select,.hv-trans .widget-content .toolbar1 select,.hv-trans .widget-content .toolbar2 select,.hv-trans .widget-content .toolbar3 select,.hv-trans .widget-content .toolbar4 select{visibility: visible;}

.hv-trans .widget-content .toolbar select,.hv-trans .widget-content .dataTables_length select,.hv-trans .widget-content .toolbar1 select,.hv-trans .widget-content .toolbar2 select,.hv-trans .widget-content .toolbar3 select, .sanitized_div_id .widget-content .wg3 .dataTables_length select,.hrt-popup .modal-content .dataTables_length select, .hv-trans .widget-content .toolbar4 select{
    width: auto;
    padding: 0;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.trans-risk-ays table th{
	white-space: nowrap;
}
.sanitized_div_id .san-upload-trans .widget-content:nth-child(2){
	top: -32px!important;
}
.san-upload-trans .widget-content .dataTables_length{
	top: -7px;
}
.san-upload-trans .dataTables_length select{
	margin-bottom: 0;
}
.hrt-popup .modal-content .dataTables_length{
	float: right;
	color:#000;
	position: relative;
	left: -14px;
	top: -2px;
}
.hrt-popup .modal-content .dataTables_length select{margin-bottom: 0;}
@media screen and (max-width: 640px){
.row-fluid div.dt-buttons{
	float: right!important;
}}
.wg3-div .span6 .widget-content{
	top: 0!important;
}
.wg3-div .span6 .widget-content .dt-buttons i{
	color: #000;
}

/*-------------ScrollBar----------*/
::-webkit-scrollbar {
	width: 10px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #afafaf;  
}

::-webkit-scrollbar-thumb:hover {
	background: #999;  
}

/**************************************************************/
/**				TOAST MESSAGE STARTS HERE
/**************************************************************/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #011e32;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 2%;
    top: 60px;
    font-size: 17px;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    top:60px;
    right:10px;
    height:30px;
    width:auto;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*----------------SIDEBAR-SCROLL-----------*/
#sidebar{
	position: unset;
}
#sidebar ul{
	height: 87%;
	overflow: auto;
	position: absolute;
	top: 41px;
}
html,body{
	height: 91%;
}

/****************** SIDEMENU STARTS ****************/

@media(min-width:971px){
	#sidebar ul li a span{
		display: flex;
	}
	#sidebar ul li a i{
		display: unset;
    	font-size: 20px;
    	vertical-align: middle;
		float: left;
		width: 25px;
	}
	#sidebar ul li{
		text-align: left;
	}
}

#sidebar ul li a span{
	padding-left: 3%;
}
#sidebar > ul > li > a{
	padding: 18px 12px 18px 18px!important;
}
@media (min-width: 970px){
#sidebar > ul {
    width: 229px!important;
}
#content, #header {
    margin-left: 230px!important;
}}
/****************** SIDEMENU ENDS ****************/


/*	CSS START FOR ADMIN */
.admin-wg1 .span12 .widget-content{
	top: 0!important;
}

.admin-wg1 .dataTables_length{
	top: 0px;
}

.admin-wg1 .dataTables_filter{
	top: 4px;
}
@media (max-width: 979px){
.admin-wg1 .dataTables_length {
    width: 50%;
	}
}

.select2-container .select2-choice span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.select2-container .select2-choice div {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #ccc;
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}
.select2-search input { 
	background: url(./select2.png) no-repeat 105% -38px !important;
    background-size: 48% !important;
}
.select2-container .select2-choice div b{
	background: url(./select2.png) no-repeat -2px -3px;
    display: block;
    width: 100%;
	height: 100%;
	background-size: 85px;
}
.select2-search-choice-close{
	background: unset !important;
}

#filter .select2-container .select2-choice .select2-arrow{
	width: 20px;
}
#filter .select2-container .select2-choice span{
	margin-right:0!important;
}
#filter .select2-container .select2-choice .select2-arrow b{
	background: url(select2.png) no-repeat -5px -7px;
    background-size: 100px;	
}

#filter .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -29px -4px;
}
#filter .input-append  {
	font-size:  12.5px
}

/********************** FLASH NOTIFICATIONS MESSAGE CSS STARTS HEERE *************************************/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #FFF;
    background-color: #19B698;
    border-color: #0FAC8E;
}

.alert-info {
    color: #FFF;
    background-color: #4AA3DF;
    border-color: #4099D5;
}

.alert-danger {
    color: #FFF;
    background-color: #EA6153;
    border-color: #E05749;
}
/********************** FLASH NOTIFICATIONS MESSAGE CSS ENDS HEERE *************************************/

.form-horizontal .control-group{
	border-top: unset;
	border-bottom: unset;
	clear: both;
}
.form-actions button.btn-success, .form-actions button.btn-danger{
	border-radius: 3px;
	margin-left: 1%;
}
/* #checkboxs div input[type=checkbox]{
	margin-left: 5px;
}
#checkboxs div input[type=checkbox]:first-child{
	margin-left: 0px;
} */
#user-nav .caret{
	top: 4px!important;
}
#user-nav .nav .dropdown{
	margin: 3px 2px 0 0;
}
#user-nav .nav .dropdown a img{
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.span12 span a button{
	border-radius: 3px;
}
.span12 span.mg-b-5{
	margin-bottom: 0.5%;
}
.control-group control input{
	border-radius: 5px;
}
#content{
	background: #fff !important;
}


#useradd_id .select2-container-multi .select2-search-choice .select2-search-choice-close {
	left: 2px!important;
	background: url(../img/select2.png) right top no-repeat!important;
	width: 14px;
	height: 14px;
 }

 #checkboxs table tr td{
	border-top: unset!important;
	border-right: unset!important;
    border-left: unset!important;
    border-bottom: unset!important;
 }
 .widget-content{
	 background: #ffffff!important;/*#fafafa*/
 }
 .control-group .controls ul, .controls-1 input{
	 border-radius: 4px!important;
 }

 #sidebar > ul > li.active > a{
	background-color: #27a9e3!important;
 }
 .controls-1 #to_datepicker{
	 margin-left: 10px;
 }


/*
*	EXPORT BUTTONS CSS STARTS HERE
*/

.widget-content .dt-buttons button{
    background: unset;
    border: unset;
    font-size: 18px;
    padding: 0 5px 0 0;
    margin: unset;
}
.widget-content button.dt-button:hover{
    background: unset!important;
    border: unset!important;
}
div.dt-buttons i{
	color: #fff;
}
.hv-trans div.dt-buttons{
	top: 5px;
}
@media screen and (max-width: 640px){
.row-fluid div.dt-buttons{
	float: right!important;
}}
.wg3-div .span6 .widget-content .dt-buttons i{
	color: #000;
}
.dt-buttons .dt-button-collection {
    width: 30px;
    left: -35px!important;
}
.dt-buttons .dt-button i{
    color:#fff;
}
.dt-buttons .dt-button-collection button span i{
  color: #09a51c;
  font-size: 22px;
}

.dt-buttons .dt-button-collection button:nth-child(2) span i{
  color: #ef0b0b;
  font-size: 22px;
}
.dt-buttons .dt-button-collection button:nth-child(3) span i{
	color: #00f;
	font-size: 22px;
  }


/*
*	EXPORT BUTTONS CSS ENDS HERE
*/

input[type=text], input[type=password],textarea, select, input[type=search] {
	border-radius: 4px!important;
}

span.add-on {
	border-radius: 4px!important;
}

/*
*	 PRINT FOOTER BORDER ISSUE 
*/
tfoot tr th{
	border-bottom: 1px solid #dbdbdb!important;
}
tfoot tr th:last-child{
	border-right: 1px solid #dbdbdb!important;	
}

/*
* REMOVING LINE BETWEEN TABLE AND WIDGETS TITLE		
*/
.hv-trans .widget-content .toolbar h5, .hv-trans .widget-content .toolbar2 h5, .hv-trans .widget-content .toolbar3 h5, .hv-trans .widget-content .toolbar1 h5, .hv-trans .widget-content .toolbar4 h5  {
	margin-bottom: 0;
}