<!DOCTYPE html>
<html lang="en">
<head>
<title>MSB Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-style.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-media.css" />
<link href="<%= domain_url %>font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<style>
    html,body{
	    height: 100%;
    }
    .widget-box {
        clear: both;
        margin-top: 150px;
        margin-bottom: 16px;
        position: relative;
    }
</style>
<body>
<div id="content" style="margin-left: 0 !important;">
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="error_ex">
            <h1><%= error_code %></h1>
            <h3><%= error_mainmsg %></h3>
            <p>Access to this page is forbidden, Please check your admin team</p>
            <a class="btn btn-warning btn-big" style="margin-bottom:20px;"  onclick="goBack();" >Back to Previous Page</a> </div>
        </div>
    </div>
    </div>
</div>
</div>
</body>
<script>

function goBack() {
    window.history.back();
}
</script>
</html>

