<div id="progressbar" style="display:none;" class="fuloverlay">
    <div class="spinner"></div>
</div>
<div id="snackbar"></div>

<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2018 &copy; MSB.</div>
</div>  
<!--end-Footer-part-->
  
<script src="<%= domain_url %>js/bootstrap.min.js"></script> 
<script src="<%= domain_url %>js/select2.min.js"></script> 

<script type="text/javascript">

    $('.cmn_collapse').click(function(){

        if($(this).hasClass("icon-chevron-down")){
            $(this).addClass("icon-chevron-up").removeClass("icon-chevron-down");
        }else{
            $(this).addClass("icon-chevron-down").removeClass("icon-chevron-up");
        }
    });

    // updating remarks
    function updateRemarks(writtenRemark)
    {
        let remarks_trimmer = $.trim(writtenRemark.value);
        if(remarks_trimmer != "" && remarks_trimmer !== undefined){

            var writtenRemarkValue = remarks_trimmer.replace(/[^0-9a-zA-Z,.]/g, '');
            var writtenRemarkArr=writtenRemark.id.split("`~!@#");
            var writtenRemarkId = writtenRemarkArr[0];
            var existingValue = writtenRemarkArr[1];
            if(writtenRemarkValue !== '' || writtenRemarkValue !== undefined || writtenRemarkValue !== null) {
                if(writtenRemarkValue !== existingValue) {
                    $.ajax({
                        type: "PUT",
                        url: '<%= domain_url %>transactionrangereport/updateRemarks?remarkId='+writtenRemarkId+'&remarkValue='+writtenRemarkValue,
                        dataType: "json",
                        data: {},
                        success: function(id) {
                            console.log('Successfully updated');
                            go_fntoast("Remarks Successfully updated!");
                        },
                        error: function(jqXHR, textstatus, errorThrown) {
                            console.log('text status ' + textstatus + ', err ' + errorThrown);
                        }
                    });
                }
            }
        } else {
            console.log("Remarks trim")
        }
    }

    // updating action taken
    function upadteAction(selectObject) {
        var selectedValue = selectObject.value;
        var selectedId=selectObject.id;
        $.ajax({
            type: "PUT",
            url: '<%= domain_url %>transactionrangereport/updateActionTaken?actionId='+selectedId+'&actionValue='+selectedValue,
            dataType: "json",
            data: {},
            success: function(id) {
                go_fntoast("Actiontaken Successfully updated!");
                console.log('Successfully updated');
            },
            error: function(jqXHR, textstatus, errorThrown) {
                console.log('text status ' + textstatus + ', err ' + errorThrown);
            }
        });
    }

    // toast message
    function go_fntoast(msg) {
        var x = document.getElementById("snackbar");
        x.innerHTML = msg;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage (newURL) {
        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {
            if (newURL == "-" ) {
                // if url is "-", it is this page -- reset the menu:
                resetMenu();            
            } else {
                // else, send page to designated URL            
                document.location.href = newURL;
            }
        }
    }
  
    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
</body>
</html>