<!DOCTYPE html>
<html lang="en">
<head>
<title title="Easily manage your reports">MSB :: Easily manage your reports</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="<%= domain_url %>img/msb_favicons/msb_icon_1_J0P_12.ico" type="image/x-icon">

<link rel="stylesheet" href="<%= domain_url %>css/bootstrap.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="<%= domain_url %>css/fullcalendar.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-style.css" />
<link rel="stylesheet" href="<%= domain_url %>css/matrix-media.css" />
<link rel="stylesheet" href="<%= domain_url %>css/select2.css" />
<link href="<%= domain_url %>font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="<%= domain_url %>css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="<%= domain_url %>css/jquery.dataTables.min.css" />

<!-- BELOW JQUERY MINSJS FILE WAS 1.7.2 VERSION - SELECT2 DROPDOWN WORKS THIS VERISON ONLY -->
<script src="<%= domain_url %>js/jquery.min.js"></script> 

<!-- <script src="<%= domain_url %>js/jquery-2.2.4.min.js"></script>  -->
<script src="<%= domain_url %>js/moment.min.js"></script>

<script src="<%= domain_url %>js/jquery.dataTables.min.js"></script> 

<link rel="stylesheet" href="<%= domain_url %>datatables/buttons.dataTables.min.css" />
<script src="<%= domain_url %>datatables/dataTables.buttons.min.js"></script>
<script src="<%= domain_url %>datatables/buttons.flash.min.js"></script>
<script src="<%= domain_url %>datatables/jszip.min.js"></script>
<script src="<%= domain_url %>datatables/pdfmake.min.js"></script>
<script src="<%= domain_url %>datatables/vfs_fonts.js"></script>
<script src="<%= domain_url %>datatables/buttons.html5.min.js"></script>
<script src="<%= domain_url %>datatables/buttons.print.min.js"></script>

<script src="<%= domain_url %>overlay/loadingoverlay.min.js"></script>
<script src="<%= domain_url %>overlay/overlay.js"></script>

<style>

  .dataTables_wrapper {
    overflow-x:auto; 
  }

  div.dt-buttons{
    float: right;
    top: -2px;
    right: 5px;
  }

  /** Progress bar **/

  .spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
  .fuloverlay {
      width:100%;
      height:100%;
      margin:auto;
      left:0;
      top:0;
      position:fixed;
      background:#080808;
      opacity:.8;
      text-align:center;
      z-index:10000;
  }
  #user-nav > ul > li > a:hover{
    background: transparent; 
  }
</style>

</head>
<body>

<!--Header-part-->
<div id="header">
	<div class="menu-nav">
		<i class="icon-indent-right"></i>
	</div>
</div>
<!--close-Header-part--> 

<script>

  var global_queryurl = window.location.href; 
  var url_pathfinder = new URL(global_queryurl);
  var global_queryurl_path = url_pathfinder.pathname; 
  var global_queryurl_spliter = global_queryurl_path.split('/');
  var global_pagename_val = global_queryurl_spliter[global_queryurl_spliter.length-1];

  $(document).ready(function(){

    $(".tab").removeClass("active");
    
    if(global_pagename_val == "users") {
      $("#1").addClass("active");   
    } else if(global_pagename_val == "objectPermissions") {
      $("#2").addClass("active");   
    } else if(global_pagename_val == "permissions") {
      $("#3").addClass("active");   
    } else if(global_pagename_val == "module") {
      $("#4").addClass("active");   
    } else if(global_pagename_val == "roles") {
      $("#5").addClass("active");   
    }

  });
</script>

<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav user-profile">

    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <img src="<%= domain_url %>img/company_logo/<%= ses_user.ses_organization_logo %>" width="35"> <span class="profile-name"><%= ses_user.ses_name %></span><b class="caret"></b></a>
    	<!-- <img src="<%= domain_url %>img/profile.png" width="35">  <span class="profile-name"><%= ses_user.ses_name %></span><b class="caret"></b></a> -->
      <ul class="dropdown-menu">
         <li><a href="<%= domain_url %>logout"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>

  </ul>
</div>

<!--sidebar-menu-->
<div id="sidebar">
	<img src="<%= domain_url %>img/MSB_icon.png" class="brand-logo" width="80px">
  <ul>
    <li class="tab" id="1" ><a href="<%= domain_url %>users" ><i class="icon-th-large"></i> <span>Users</span></a> </li>
    <li class="tab" id="2" ><a href="<%= domain_url %>objectPermissions" ><i class="icon-th-large"></i> <span>Module Permission</span></a> </li>
    <li class="tab" id="3" ><a href="<%= domain_url %>permissions" ><i class="icon-th-large"></i> <span>Permission</span></a> </li>
    <li class="tab" id="4" ><a href="<%= domain_url %>module" ><i class="icon-th-large"></i> <span>Module</span></a> </li>
    <li class="tab" id="5" ><a href="<%= domain_url %>roles" ><i class="icon-th-large"></i> <span>Roles</span></a> </li>  
  </ul>
</div>
<!--sidebar-menu-->

